Repository galacean/engine, pull requests merged in 2021-04, with the labels that each got.

#140 Fix: some shader bug
  packages/core/src/shaderlib/extra/unlit.fs.glsl
  packages/core/src/shaderlib/mobile_material_frag.glsl
  packages/core/src/shaderlib/pbr/base_frag_define.glsl
  packages/core/src/shaderlib/pbr/begin_frag.glsl
  packages/core/src/shaderlib/pbr/end_frag.glsl
  packages/core/src/shaderlib/pbr/texture_frag_define.glsl
Labels: bug

#148 Fix material texture display error bug
  packages/core/src/RenderPipeline/RenderQueue.ts
Labels: bug

#147 Feat: adapt editor for sprite renderer
  packages/core/src/2d/sprite/SpriteRenderer.ts
  packages/loader/src/scene-loader/ResourceManager.ts
  packages/loader/src/scene-loader/index.ts
  packages/loader/src/scene-loader/resources/SpriteResource.ts
  packages/loader/src/scene-loader/resources/index.ts
Labels: feature

#150 Fix: fix sprite renderer z-axis disorder
  packages/core/src/2d/sprite/SpriteRenderer.ts
Labels: bug

#156 Resolve compile error
  packages/core/src/Camera.ts
  packages/core/src/Engine.ts
  packages/core/src/RenderPipeline/RenderContext.ts
Labels: bug

#176 Fix: fix sprite render bounds error
  packages/core/src/2d/sprite/Sprite.ts
  packages/core/src/2d/sprite/SpriteRenderer.ts
Labels: bug

#179 docs(README): update usage
  README.md
Labels: documentation

#180 docs(CHANGELOG): update change log
  CHANGELOG.md
Labels: documentation

#183 fix: texture upload warnning
  packages/core/src/Engine.ts
  packages/core/src/shader/ShaderProgram.ts
  packages/core/src/shader/ShaderUniform.ts
Labels: bug

#185 Fix error caused by duplicate shader name
  packages/core/src/2d/sprite/SpriteMaterial.ts
  packages/core/src/2d/sprite/SpriteRenderer.ts
  packages/core/src/RenderPipeline/SpriteBatcher.ts
  packages/core/src/shader/Shader.ts
  packages/core/src/shader/ShaderData.ts
  packages/core/src/shader/ShaderProperty.ts
Labels: enhancement

#212 fix: shader wanning with unupload texture
  packages/core/src/RenderPipeline/RenderQueue.ts
  packages/core/src/shader/ShaderProgram.ts
Labels: bug

#213 Fix shader ungroup texture
  packages/core/src/shader/ShaderProgram.ts
Labels: bug

#214 fix: blend error
  packages/core/src/material/BaseMaterial.ts
Labels: bug

#211 Fix:fix memory crash
  packages/core/src/Engine.ts
Labels: bug

#226 Refactor code get `RenderElement/SpriteElement` from pool
  packages/core/src/2d/sprite/SpriteRenderer.ts
  packages/core/src/Engine.ts
  packages/core/src/RenderPipeline/ClassPool.ts
  packages/core/src/RenderPipeline/RenderElement.ts
  packages/core/src/RenderPipeline/SpriteElement.ts
Labels: enhancement

#227 docs: clear `@readonly` comments.
  packages/core/src/Engine.ts
  packages/core/src/Scene.ts
  packages/core/src/animation/AnimationConst.ts
  packages/core/src/base/Constant.ts
  packages/core/src/base/Time.ts
  packages/core/src/lighting/AmbientLight.ts
  packages/core/src/lighting/DirectLight.ts
  packages/core/src/lighting/Light.ts
  packages/core/src/lighting/PointLight.ts
  packages/core/src/lighting/SpotLight.ts
  packages/core/src/shader/ShaderProgram.ts
  packages/core/src/shadow/LightShadow.ts
  packages/core/src/texture/RenderColorTexture.ts
  packages/core/src/texture/RenderDepthTexture.ts
  packages/core/src/texture/RenderTarget.ts
  packages/core/src/texture/Texture.ts
  packages/core/src/texture/Texture2D.ts
  packages/core/src/texture/TextureCubeMap.ts
  packages/rhi-webgl/src/GLCapability.ts
  packages/rhi-webgl/src/WebGLRenderer.ts
  packages/tween/src/Tween.ts
Labels: documentation

#234 fix: model flicker bug
  packages/core/src/ComponentsManager.ts
Labels: bug

#237 fix: gltf modle incomplete display error
  packages/loader/src/gltf/glTF.ts
Labels: bug

#240 feat: add return value for `compileVariant()`
  packages/core/src/shader/Shader.ts
Labels: feature

#244 Refactor Sprite inner code
  packages/core/src/2d/sprite/Sprite.ts
Labels: 2D, enhancement

#251 fix: destroy the engine texture residual problem
  packages/core/src/Engine.ts
Labels: bug

#260 Improve `Entity` properties comments
  packages/core/src/Entity.ts
Labels: documentation
