Repository galacean/engine, pull requests merged in 2021-06, with the labels that each got.

#315 fix: fix mask error
  packages/loader/src/scene-loader/Oasis.ts
  packages/loader/src/scene-loader/resources/SpriteResource.ts
  packages/oasis-engine/src/index.ts
Labels: 2D, bug

#279 Fix: point/spot light have some bugs.
  packages/core/src/lighting/PointLight.ts
  packages/core/src/lighting/SpotLight.ts
  packages/core/src/shaderlib/mobile_blinnphong_frag.glsl
  packages/core/src/shaderlib/pbr/direct_irradiance_frag.glsl
  packages/core/src/shaderlib/pbr/direct_irradiance_frag_define.glsl
  packages/core/src/shaderlib/pbr/runtime_frag_define.glsl
  packages/core/src/shaderlib/pbr/util_frag_define.glsl
  packages/core/src/shaderlib/point_light_frag.glsl
  packages/core/src/shaderlib/spot_light_frag.glsl
Labels: bug

#346 fix: fix bug of `GLTFModle`
  packages/loader/src/scene-loader/GLTFModel.ts
Labels: bug

#353 Fix: fix geometry set material invalid
  packages/loader/src/scene-loader/AbilityManager.ts
Labels: bug

#359 refactor: sprite material add define USE_MODEL_MATRIX
  packages/core/src/2d/sprite/SpriteMaterial.ts
  packages/core/src/RenderPipeline/SpriteBatcher.ts
  packages/core/src/RenderPipeline/SpriteMaskBatcher.ts
  packages/core/src/shaderlib/extra/sprite.vs.glsl
Labels: 2D
