Repository galacean/engine, pull requests merged in 2021-02, with the labels that each got.

#19 fix(README): Official Site Link
  README.md
Labels: documentation

#21 Fix/gl texture bind
  packages/core/src/shader/ShaderUniform.ts
  packages/core/src/texture/Texture.ts
  packages/rhi-webgl/src/GLTexture.ts
  packages/rhi-webgl/src/index.ts
Labels: bug

#25 Doc: add issue template and pull request template
  .github/ISSUE_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: documentation

#26 fix: sprite error
  packages/core/src/RenderPipeline/BasicRenderPipeline.ts
  packages/rhi-webgl/src/GLSpriteBatcher.ts
Labels: bug

#42 fix: fix ShaderData.setInt() invalid bug.
  packages/core/src/shader/ShaderUniform.ts
Labels: bug

#48 fix: enable variable macro will generate duplicate definition error in shader
  packages/core/src/shader/ShaderData.ts
Labels: bug

#56 Particle render
  packages/core/src/particle/ParticleRenderer.ts
  packages/core/src/particle/index.ts
  packages/core/src/shaderlib/extra/particle.vs.glsl
Labels: enhancement

#57 fix: Ensure writable before clearing the canvas buffer
  packages/core/src/RenderPipeline/BasicRenderPipeline.ts
  packages/rhi-webgl/src/WebGLRenderer.ts
Labels: bug

#59 chore: remove version parameter of npm run doc cli
  tools/typedoc/typedoc.js
Labels: documentation

#58 Improve clearRenderTarget code quality.
  packages/rhi-webgl/src/WebGLRenderer.ts
Labels: enhancement

#75 Refactor MeshRenderer and Renderer
  README.md
  packages/core/src/RenderPipeline/RenderElement.ts
  packages/core/src/RenderPipeline/RenderQueue.ts
  packages/core/src/Renderer.ts
  packages/core/src/Transform.ts
  packages/core/src/UpdateFlag.ts
  packages/core/src/animation/Animation.ts
  packages/core/src/clone/ComponentCloner.ts
  packages/core/src/geometry-shape/CircleGeometry.ts
  packages/core/src/geometry-shape/CuboidGeometry.ts
  packages/core/src/geometry-shape/CylinderGeometry.ts
  packages/core/src/geometry-shape/Model.ts
  packages/core/src/geometry-shape/PlaneGeometry.ts
  packages/core/src/geometry-shape/ScreenQuadGeometry.ts
  packages/core/src/geometry-shape/ShapeGeometry.ts
  packages/core/src/geometry-shape/SphereGeometry.ts
  packages/core/src/geometry-shape/TorusGeometry.ts
  packages/core/src/geometry-shape/index.ts
  packages/core/src/geometry/BufferGeometry.ts
  packages/core/src/geometry/GeometryRenderer.ts
  packages/core/src/geometry/index.ts
  packages/core/src/graphic/Mesh.ts
  packages/core/src/graphic/SubMesh.ts
  packages/core/src/graphic/SubPrimitive.ts
  packages/core/src/graphic/enums/MeshTopology.ts
  packages/core/src/graphic/index.ts
  packages/core/src/index.ts
  packages/core/src/material/Material.ts
  packages/core/src/mesh/Mesh.ts
  packages/core/src/mesh/MeshRenderer.ts
  packages/core/src/mesh/ModelMesh.ts
  packages/core/src/mesh/PrimitiveMesh.ts
  packages/core/src/mesh/SkinnedMeshRenderer.ts
  packages/core/src/mesh/index.ts
  packages/core/src/particle/ParticleRenderer.ts
  packages/core/src/shader/Shader.ts
  packages/core/src/skybox/SkyBox.ts
  packages/core/src/trail/TrailRenderer.ts
  packages/framebuffer-picker/src/ColorMaterial.ts
  packages/loader/src/gltf/glTF.ts
  packages/oasis-engine/src/index.ts
  packages/rhi-webgl/src/GLPrimitive.ts
  packages/rhi-webgl/src/GLSpriteBatcher.ts
  packages/rhi-webgl/src/WebGLRenderer.ts
Labels: enhancement, feature
