Repository galacean/engine, pull requests merged in 2021-03, with the labels that each got.

#79 MeshRenderer destroy bug
  packages/core/src/2d/SpriteRenderer.ts
  packages/core/src/Renderer.ts
  packages/core/src/mesh/LODGroup.ts
  packages/core/src/mesh/MeshRenderer.ts
  packages/core/src/skybox/SkyBox.ts
  packages/core/src/trail/TrailRenderer.ts
Labels: bug

#80 ci: fix ComponentsManager test
  packages/core/tests/ComponentsManager.test.ts
Labels: Test

#72 fix: invalid normal scale
  packages/loader/src/gltf/glTF.ts
Labels: bug

#81 Delete deprecated API, clear comments and fix import
  packages/core/src/Camera.ts
  packages/core/src/Component.ts
  packages/core/src/Scene.ts
  packages/core/src/Transform.ts
  packages/rhi-webgl/src/GLPrimitive.ts
Labels: documentation, enhancement

#85 Refactor primitive geometry
  packages/core/src/mesh/PrimitiveMesh.ts
Labels: enhancement, feature

#89 Refactor: geometry
  packages/core/src/mesh/PrimitiveMesh.ts
Labels: enhancement

#82 fix: prevent TypeError: Cannot read property '_target' of undefined while 'maxJoints' is too small
  packages/core/src/mesh/SkinnedMeshRenderer.ts
Labels: bug

#93 Refactor: primitive mesh
  packages/core/src/mesh/PrimitiveMesh.ts
Labels: bug

#92 Fix: free control's translation direction is wrong
  packages/controls/src/FreeControl.ts
Labels: bug

#105 Fix: PrimitiveMesh
  packages/core/src/mesh/PrimitiveMesh.ts
  packages/core/src/particle/ParticleRenderer.ts
Labels: bug

#104 feat: support tiling and offset in materials
  packages/core/src/material/BlinnPhongMaterial.ts
  packages/core/src/material/PBRBaseMaterial.ts
  packages/core/src/material/UnlitMaterial.ts
  packages/core/src/shaderlib/common_vert.glsl
  packages/core/src/shaderlib/uv_vert.glsl
Labels: feature

#102 fix: astc support is not correct
  packages/rhi-webgl/src/GLCapability.ts
Labels: bug

#108 fix: prevent gl throw error when `clearFlag` is undefined
  packages/rhi-webgl/src/WebGLRenderer.ts
Labels: bug

#109 Screen point to ray
  packages/core/src/Camera.ts
Labels: feature

#111 fix: webgl2 compatible error
  packages/core/src/base/Constant.ts
  packages/core/src/shader/state/BlendState.ts
  packages/core/src/shader/state/DepthState.ts
  packages/rhi-webgl/src/GLCapability.ts
Labels: bug

#115 fix engine.destroy() bug
  packages/core/src/Engine.ts
  packages/rhi-webgl/src/WebGLRenderer.ts
Labels: bug

#117 Add addSubMesh function overloading for mesh
  packages/core/src/graphic/Mesh.ts
Labels: feature

#64 Refactor sprite renderer
  packages/core/src/2d/SpriteRenderer.ts
  packages/core/src/2d/index.ts
  packages/core/src/2d/sprite/Sprite.ts
  packages/core/src/2d/sprite/SpriteMaterial.ts
  packages/core/src/2d/sprite/SpriteRenderer.ts
  packages/core/src/2d/sprite/index.ts
  packages/core/src/Engine.ts
  packages/core/src/RenderPipeline/BasicRenderPipeline.ts
  packages/core/src/RenderPipeline/RenderQueue.ts
  packages/core/src/RenderPipeline/SeparateSpritePass.ts
  packages/core/src/RenderPipeline/SpriteBatcher.ts
  packages/core/src/RenderPipeline/SpriteElement.ts
  packages/core/src/SystemInfo.ts
  packages/core/src/index.ts
  packages/core/tests/SpriteRenderer.test.ts
  packages/math/src/Rect.ts
  packages/math/src/index.ts
  packages/rhi-webgl/src/GLSprite.ts
  packages/rhi-webgl/src/GLSpriteBatcher.ts
  packages/rhi-webgl/src/WebGLRenderer.ts
Labels: Long term, enhancement

#118 fix: gl error
  packages/core/src/RenderPipeline/SpriteBatcher.ts
Labels: bug

#122 feat(primitive-mesh): add torus
  packages/core/src/mesh/PrimitiveMesh.ts
Labels: feature

#121 Feat: add material base
  packages/core/src/material/BaseMaterial.ts
  packages/core/src/material/BlinnPhongMaterial.ts
  packages/core/src/material/PBRBaseMaterial.ts
  packages/core/src/material/UnlitMaterial.ts
  packages/core/src/material/enums/AlphaMode.ts
  packages/core/src/material/enums/BlendMode.ts
  packages/core/src/material/enums/RenderFace.ts
  packages/core/src/material/enums/RenderQueueType.ts
  packages/core/src/material/index.ts
  packages/core/src/shaderlib/extra/unlit.fs.glsl
  packages/core/src/shaderlib/mobile_blinnphong_frag.glsl
  packages/core/src/shaderlib/mobile_material_frag.glsl
  packages/core/src/shaderlib/pbr/begin_frag.glsl
  packages/loader/src/gltf/glTF.ts
Labels: feature

#91 Feat: support normal and use the same logic with pbr
  packages/core/src/material/BlinnPhongMaterial.ts
  packages/core/src/material/PBRBaseMaterial.ts
  packages/core/src/shaderlib/ShaderLib.ts
  packages/core/src/shaderlib/begin_normal_frag.glsl
  packages/core/src/shaderlib/begin_normal_vert.glsl
  packages/core/src/shaderlib/extra/blinn-phong.fs.glsl
  packages/core/src/shaderlib/extra/pbr.fs.glsl
  packages/core/src/shaderlib/mobile_blinnphong_frag.glsl
  packages/core/src/shaderlib/mobile_material_frag.glsl
  packages/core/src/shaderlib/morph_vert.glsl
  packages/core/src/shaderlib/normal_get.glsl
  packages/core/src/shaderlib/normal_share.glsl
  packages/core/src/shaderlib/normal_vert.glsl
  packages/core/src/shaderlib/pbr/base_frag_define.glsl
  packages/core/src/shaderlib/pbr/index.ts
  packages/core/src/shaderlib/pbr/texture_frag_define.glsl
  packages/core/src/shaderlib/skinning_vert.glsl
Labels: feature

#127 Fix blend mode bug
  packages/core/src/2d/sprite/SpriteRenderer.ts
  packages/core/src/material/BaseMaterial.ts
  packages/core/src/particle/ParticleRenderer.ts
Labels: bug

#130 refactor: opt memory dispose as static member cause
  lerna.json
  packages/controls/package.json
  packages/core/package.json
  packages/core/src/Camera.ts
  packages/core/src/Engine.ts
  packages/core/src/RenderPipeline/ClassPool.ts
  packages/core/src/RenderPipeline/RenderContext.ts
  packages/core/src/RenderPipeline/RenderElement.ts
  packages/core/src/geometry/GeometryRenderer.ts
  packages/core/src/mesh/MeshRenderer.ts
  packages/design/package.json
  packages/draco/package.json
  packages/framebuffer-picker/package.json
  packages/loader/package.json
  packages/math/package.json
  packages/oasis-engine/package.json
  packages/rhi-webgl/package.json
  packages/stats/package.json
  packages/tween/package.json
Labels: bug

#128 Feat: add cone model mesh for PrimitiveMesh
  packages/core/src/mesh/PrimitiveMesh.ts
Labels: feature

#133 docs: modify primitive mesh and sprite
  packages/core/src/2d/sprite/Sprite.ts
  packages/core/src/mesh/PrimitiveMesh.ts
Labels: documentation

#136 fix: reset mipmap count after mipmap changed
  packages/rhi-webgl/src/GLRenderColorTexture.ts
  packages/rhi-webgl/src/GLRenderDepthTexture.ts
  packages/rhi-webgl/src/GLTexture2D.ts
  packages/rhi-webgl/src/GLTextureCubeMap.ts
Labels: bug
