Repository galacean/engine, pull requests merged in 2021-11, with the labels that each got.

#567 feat: support skybox with hdr(rgbe) format
  packages/core/src/shaderlib/common.glsl
  packages/core/src/shaderlib/extra/skybox.fs.glsl
  packages/core/src/shaderlib/pbr/pbr_helper.glsl
  packages/core/src/sky/SkyBoxMaterial.ts
Labels: feature

#560 feat: change clipTime to normalized as same as transitionTime for mo…
  packages/core/src/animation/Animator.ts
  packages/core/src/animation/AnimatorState.ts
  packages/core/src/animation/internal/AnimatorStatePlayData.ts
  packages/loader/src/scene-loader/resources/AnimatorControllerResource.ts
Labels: animation

#559 feat: add method: addEvent overload
  packages/core/src/animation/AnimationClip.ts
Labels: animation

#569 feat: support ambient-light replacement
  packages/core/src/Scene.ts
  packages/core/src/lighting/AmbientLight.ts
Labels: feature

#565 Feat/opt animator api: add getCurrentAnimatorState API and fix crossfade time
  packages/core/src/animation/Animator.ts
Labels: animation

#571 fix: use alipay cdn for physx wasm
  packages/physics-lite/src/LitePhysicsManager.ts
  packages/physics-physx/src/PhysXCollider.ts
  packages/physics-physx/src/PhysXPhysics.ts
Labels: high priority

#572 add wasm file
  packages/physics-physx/dist/physx.release.js
  packages/physics-physx/dist/physx.release.wasm
Labels: high priority

#573 Fix : the compatibility problem of IOS lower version
  packages/core/src/input/pointer/PointerManager.ts
Labels: bug

#577 feat: support env loader
  packages/core/src/asset/AssetType.ts
  packages/loader/src/EnvLoader.ts
  packages/loader/src/index.ts
  packages/loader/src/scene-loader/resources/AmbientLightResource.ts
Labels: feature

#533 Feat/animator reset
  packages/core/src/animation/Animator.ts
  packages/core/src/animation/internal/AnimationCurveOwner.ts
  packages/loader/src/scene-loader/GLTFModel.ts
Labels: animation

#584 feat: add rgbm switch
  packages/core/src/lighting/AmbientLight.ts
  packages/core/src/shaderlib/pbr/ibl_frag_define.glsl
  packages/loader/src/EnvLoader.ts
  packages/loader/src/scene-loader/SceneManager.ts
Labels: feature

#583 Feat/animator reset
  packages/core/src/animation/Animator.ts
  packages/core/src/animation/AnimatorState.ts
  packages/core/src/animation/internal/AnimationCurveOwner.ts
Labels: animation

#601 fix: use canvas as control precision
  packages/controls/src/OrbitControl.ts
Labels: bug

#603 fix: `worldToViewportPoint()` bug
  packages/core/src/Camera.ts
Labels: bug

#602 fix: raycast bug, global and local transform misused
  packages/physics-lite/src/shape/LiteBoxColliderShape.ts
  packages/physics-lite/src/shape/LiteSphereColliderShape.ts
Labels: bug
