Repository galacean/engine, pull requests merged in 2021-05, with the labels that each got.

#265 fix: fix raycast error
  packages/core/src/raycast/index.ts
  packages/math/src/Ray.ts
Labels: bug

#266 perf: opt code for Vector
  packages/math/src/Vector2.ts
  packages/math/src/Vector3.ts
  packages/math/src/Vector4.ts
Labels: enhancement

#246 Refactor SkyBox
  packages/core/src/Background.ts
  packages/core/src/Camera.ts
  packages/core/src/RenderPipeline/BasicRenderPipeline.ts
  packages/core/src/RenderPipeline/RenderPass.ts
  packages/core/src/Scene.ts
  packages/core/src/base/Constant.ts
  packages/core/src/enums/BackgroundMode.ts
  packages/core/src/enums/CameraClearFlags.ts
  packages/core/src/index.ts
  packages/core/src/shadow/ShadowMapPass.ts
  packages/core/src/shadow/ShadowPass.ts
  packages/core/src/sky/Sky.ts
  packages/core/src/sky/SkyBoxMaterial.ts
  packages/core/src/sky/index.ts
  packages/core/src/skybox/SkyBox.ts
  packages/core/src/skybox/index.ts
  packages/oasis-engine/src/index.ts
  packages/rhi-webgl/src/WebGLRenderer.ts
Labels: feature

#256 fix: replace quote
  packages/core/src/shaderlib/ShaderFactory.ts
Labels: bug

#228 Ambient light
  README.md
  packages/core/src/Scene.ts
  packages/core/src/index.ts
  packages/core/src/lighting/AmbientLight.ts
  packages/core/src/lighting/EnvironmentMapLight.ts
  packages/core/src/lighting/LightFeature.ts
  packages/core/src/lighting/enums/DiffuseMode.ts
  packages/core/src/lighting/index.ts
  packages/core/src/shaderlib/ShaderLib.ts
  packages/core/src/shaderlib/ambient_light_frag.glsl
  packages/core/src/shaderlib/begin_mobile_frag.glsl
  packages/core/src/shaderlib/extra/blinn-phong.fs.glsl
  packages/core/src/shaderlib/extra/pbr.fs.glsl
  packages/core/src/shaderlib/pbr/envmap_light_frag_define.glsl
  packages/core/src/shaderlib/pbr/ibl_diffuse_frag.glsl
  packages/core/src/shaderlib/pbr/ibl_diffuse_frag_define.glsl
  packages/core/src/shaderlib/pbr/ibl_specular_frag.glsl
  packages/core/src/shaderlib/pbr/ibl_specular_frag_define.glsl
  packages/oasis-engine/src/index.ts
Labels: Rendering, feature

#270 Update `README` usage
  README.md
Labels: documentation

#272 test: fix camera unit test
  packages/core/tests/Camera.test.ts
Labels: Test

#245 Fix: particleRenderer bug
  packages/core/src/particle/ParticleRenderer.ts
  packages/core/src/shaderlib/extra/particle.fs.glsl
  packages/core/src/shaderlib/extra/particle.vs.glsl
Labels: bug

#275 fix: orthographic camera sort bug
  packages/core/src/ComponentsManager.ts
Labels: bug

#277 Fix shader compile errpr
  packages/core/src/shader/Shader.ts
  packages/core/src/shaderlib/ShaderFactory.ts
Labels: bug

#282 Fix: Incorrect handling of dirty marks when setting textures.
  packages/core/src/2d/sprite/Sprite.ts
Labels: bug

#268 feat: add lerp api for Matrix and Matrix3x3
  packages/math/src/Matrix.ts
  packages/math/src/Matrix3x3.ts
Labels: enhancement

#288 Remove Typedoc
  .gitignore
  README.md
  package.json
  tools/typedoc/typedoc.js
Labels: documentation

#239 feat(2d): add mask
  packages/core/src/2d/enums/SpriteMaskInteraction.ts
  packages/core/src/2d/enums/SpriteMaskLayer.ts
  packages/core/src/2d/index.ts
  packages/core/src/2d/sprite/Sprite.ts
  packages/core/src/2d/sprite/SpriteMask.ts
  packages/core/src/2d/sprite/SpriteMaterial.ts
  packages/core/src/2d/sprite/SpriteRenderer.ts
  packages/core/src/2d/sprite/index.ts
  packages/core/src/Engine.ts
  packages/core/src/Layer.ts
  packages/core/src/RenderPipeline/Basic2DBatcher.ts
  packages/core/src/RenderPipeline/BasicRenderPipeline.ts
  packages/core/src/RenderPipeline/RenderQueue.ts
  packages/core/src/RenderPipeline/SpriteBatcher.ts
  packages/core/src/RenderPipeline/SpriteElement.ts
  packages/core/src/RenderPipeline/SpriteMaskBatcher.ts
  packages/core/src/RenderPipeline/SpriteMaskElement.ts
  packages/core/src/RenderPipeline/SpriteMaskManager.ts
  packages/core/src/shader/ShaderPool.ts
  packages/core/src/shaderlib/extra/sprite-mask.fs.glsl
  packages/core/src/shaderlib/extra/sprite-mask.vs.glsl
  packages/core/src/shaderlib/extra/sprite.fs.glsl
  packages/core/src/shaderlib/extra/sprite.vs.glsl
Labels: 2D, feature

#287 Feat: vertex element enhancement
  packages/core/src/graphic/BufferUtil.ts
  packages/core/src/graphic/Mesh.ts
  packages/core/src/graphic/VertexElement.ts
  packages/rhi-webgl/src/GLPrimitive.ts
Labels: bug

#293 fix: fix set geometry invalid error
  packages/core/src/2d/sprite/Sprite.ts
  packages/loader/src/scene-loader/AbilityManager.ts
  packages/loader/src/scene-loader/Model.ts
Labels: bug

#257 Refactor: GLTF 2.0 Loader
  packages/core/src/Component.ts
  packages/core/src/Entity.ts
  packages/core/src/Scene.ts
  packages/core/src/base/EngineObject.ts
  packages/core/src/graphic/Buffer.ts
  packages/core/src/mesh/Skin.ts
  packages/core/src/mesh/SkinnedMeshRenderer.ts
  packages/loader/src/GLTF.ts
  packages/loader/src/GLTFLoader.ts
  packages/loader/src/gltf/GLTFParser.ts
  packages/loader/src/gltf/GLTFResource.ts
  packages/loader/src/gltf/GLTFUtil.ts
  packages/loader/src/gltf/Schema.ts
  packages/loader/src/gltf/Util.ts
  packages/loader/src/gltf/extensions/ExtensionParser.ts
  packages/loader/src/gltf/extensions/KHR_draco_mesh_compression.ts
  packages/loader/src/gltf/extensions/KHR_lights_punctual.ts
  packages/loader/src/gltf/extensions/KHR_materials_clearcoat.ts
  packages/loader/src/gltf/extensions/KHR_materials_ior.ts
  packages/loader/src/gltf/extensions/KHR_materials_pbrSpecularGlossiness.ts
  packages/loader/src/gltf/extensions/KHR_materials_sheen.ts
  packages/loader/src/gltf/extensions/KHR_materials_transmission.ts
  packages/loader/src/gltf/extensions/KHR_materials_unlit.ts
  packages/loader/src/gltf/extensions/KHR_materials_variants.ts
  packages/loader/src/gltf/extensions/KHR_materials_volume.ts
  packages/loader/src/gltf/extensions/KHR_mesh_quantization.ts
  packages/loader/src/gltf/extensions/KHR_texture_basisu.ts
  packages/loader/src/gltf/extensions/KHR_texture_transform.ts
  packages/loader/src/gltf/extensions/Schema.ts
  packages/loader/src/gltf/extensions/index.ts
  packages/loader/src/gltf/glTF.ts
  packages/loader/src/gltf/glTFDracoMeshCompression.ts
  packages/loader/src/gltf/glb.ts
  packages/loader/src/gltf/parser/AnimationParser.ts
  packages/loader/src/gltf/parser/BufferParser.ts
  packages/loader/src/gltf/parser/EntityParser.ts
  packages/loader/src/gltf/parser/MaterialParser.ts
  packages/loader/src/gltf/parser/MeshParser.ts
  packages/loader/src/gltf/parser/Parser.ts
  packages/loader/src/gltf/parser/SceneParser.ts
  packages/loader/src/gltf/parser/SkinParser.ts
  packages/loader/src/gltf/parser/TextureParser.ts
  packages/loader/src/gltf/parser/Validator.ts
  packages/loader/src/index.ts
  packages/loader/src/scene-loader/GLTFModel.ts
  packages/loader/src/scene-loader/resources/GLTFResource.ts
  packages/loader/test/gltf/Util.test.ts
Labels: enhancement

#303 Opt GLTF loader code
  packages/loader/src/gltf/GLTFUtil.ts
  packages/loader/src/gltf/parser/MaterialParser.ts
Labels: enhancement

#305 fix: upload default texture when skymaterial.cubeMapTexture is null
  packages/core/src/RenderPipeline/BasicRenderPipeline.ts
Labels: bug

#307 refactor: revert `SkinnedMeshRenderer`
  packages/core/src/mesh/Skin.ts
  packages/core/src/mesh/SkinnedMeshRenderer.ts
  packages/loader/src/gltf/parser/SkinParser.ts
Labels: animation, bug

#308 fix: fix material clone bug
  packages/core/src/shader/ShaderData.ts
Labels: bug

#312 feat: adjust WebGLRendererOptions's stencil default value to false
  packages/rhi-webgl/src/WebGLRenderer.ts
Labels: feature

#313 Adjust WebGLRendererOptions's stencil default value to `true`
  packages/rhi-webgl/src/WebGLRenderer.ts
Labels: bug
