Repository galacean/engine, pull requests merged in 2021-09, with the labels that each got.

#467 fix: code err
  packages/core/src/2d/atlas/types.ts
Labels: bug

#468 fix: spine texture uniform
  packages/core/src/shaderlib/extra/sprite.fs.glsl
Labels: 2D

#466 Animator editor
  packages/loader/src/gltf/parser/AnimationParser.ts
  packages/loader/src/gltf/parser/SceneParser.ts
  packages/loader/src/scene-loader/GLTFModel.ts
  packages/loader/src/scene-loader/resources/AnimationClipResource.ts
  packages/loader/src/scene-loader/resources/AnimatorControllerResource.ts
  packages/loader/src/scene-loader/resources/GLTFResource.ts
Labels: animation

#471 fix(2d): fix mask uniform
  packages/core/src/2d/sprite/SpriteMask.ts
  packages/core/src/shaderlib/extra/sprite-mask.fs.glsl
Labels: bug, 2D

#470 Animator editor: bugfix
  packages/loader/src/scene-loader/resources/GLTFResource.ts
Labels: animation

#485 feat: solve math design circular dependency
  packages/design/package.json
  packages/math/package.json
  packages/math/src/BoundingBox.ts
  packages/math/src/BoundingFrustum.ts
  packages/math/src/BoundingSphere.ts
  packages/math/src/Color.ts
  packages/math/src/IClone.ts
  packages/math/src/Matrix.ts
  packages/math/src/Matrix3x3.ts
  packages/math/src/Plane.ts
  packages/math/src/Quaternion.ts
  packages/math/src/Rect.ts
  packages/math/src/SphericalHarmonics3.ts
  packages/math/src/Vector2.ts
  packages/math/src/Vector3.ts
  packages/math/src/Vector4.ts
Labels: enhancement

#504 fix: group other uniform block
  packages/core/src/RenderPipeline/BasicRenderPipeline.ts
Labels: bug

#497 feat: Add InputManager
  packages/core/src/Engine.ts
  packages/core/src/input/InputManager.ts
  packages/core/src/input/enums/PointerPhase.ts
  packages/core/src/input/pointer/Pointer.ts
  packages/core/src/input/pointer/PointerManager.ts
  packages/physics-physx/src/PhysXPhysics.ts
  packages/rhi-webgl/src/WebCanvas.ts
Labels: feature
