Repository galacean/engine, pull requests merged in 2021-07, with the labels that each got.

#365 Fix Doc Error
  README.md
Labels: bug

#368 opt: opt gl api use
  packages/core/src/Scene.ts
  packages/core/src/shader/Shader.ts
  packages/core/src/shader/ShaderProgram.ts
  packages/core/src/shaderlib/ShaderFactory.ts
Labels: enhancement

#375 fix: translate bug
  packages/core/src/Transform.ts
Labels: bug

#385 feat: add some commonly used methods
  packages/math/src/Color.ts
Labels: enhancement

#372 Animator event
  packages/core/src/DisorderedArray.ts
  packages/core/src/Entity.ts
  packages/core/src/Script.ts
  packages/core/src/animation/AnimationClip.ts
  packages/core/src/animation/AnimationEvent.ts
  packages/core/src/animation/Animator.ts
  packages/core/src/animation/AnimatorStateMachine.ts
  packages/core/src/animation/index.ts
  packages/core/src/animation/internal/AnimationCurveOwner.ts
  packages/core/src/animation/internal/AnimationEventHandler.ts
  packages/core/src/animation/internal/AnimatorStataData.ts
  packages/core/src/animation/internal/AnimatorStatePlayData.ts
  packages/core/src/animation/internal/CrossCurveData.ts
Labels: animation, feature

#374 Blend shape animation
  packages/core/src/Transform.ts
  packages/core/src/UpdateFlagManager.ts
  packages/core/src/animation/AnimationClip.ts
  packages/core/src/animation/AnimationCurve.ts
  packages/core/src/animation/Animator.ts
  packages/core/src/animation/KeyFrame.ts
  packages/core/src/animation/enums/AnimationProperty.ts
  packages/core/src/animation/enums/InterpolableValueType.ts
  packages/core/src/animation/internal/AnimationCureOwner.ts
  packages/core/src/animation/internal/AnimationCurveOwner.ts
  packages/core/src/base/Constant.ts
  packages/core/src/graphic/Mesh.ts
  packages/core/src/mesh/BlendShape.ts
  packages/core/src/mesh/BlendShapeFrame.ts
  packages/core/src/mesh/ModelMesh.ts
  packages/core/src/mesh/Skin.ts
  packages/core/src/mesh/SkinnedMeshRenderer.ts
  packages/core/src/mesh/index.ts
  packages/core/src/shaderlib/ShaderLib.ts
  packages/core/src/shaderlib/blendShape_input.glsl
  packages/core/src/shaderlib/blendShape_vert.glsl
  packages/core/src/shaderlib/extra/blinn-phong.vs.glsl
  packages/core/src/shaderlib/extra/pbr.vs.glsl
  packages/core/src/shaderlib/extra/shadow-map.vs.glsl
  packages/core/src/shaderlib/extra/unlit.vs.glsl
  packages/core/src/texture/Texture2DArray.ts
  packages/framebuffer-picker/src/color.vs.glsl
  packages/loader/src/gltf/GLTFResource.ts
  packages/loader/src/gltf/GLTFUtil.ts
  packages/loader/src/gltf/Schema.ts
  packages/loader/src/gltf/parser/AnimationClipParser.ts
  packages/loader/src/gltf/parser/AnimationParser.ts
  packages/loader/src/gltf/parser/MeshParser.ts
  packages/loader/src/gltf/parser/SceneParser.ts
  packages/loader/tests/gltf/parser.test.ts
  packages/rhi-webgl/src/GLCapability.ts
  packages/rhi-webgl/src/GLPrimitive.ts
  packages/rhi-webgl/src/GLRenderStates.ts
Labels: feature

#404 Refactor physics Ray-cast and Collision detection
  packages/core/src/Engine.ts
  packages/core/src/HitResult.ts
  packages/core/src/PhysicsManager.ts
  packages/core/src/Script.ts
  packages/core/src/collider/ABoxCollider.ts
  packages/core/src/collider/ASphereCollider.ts
  packages/core/src/collider/Collider.ts
  packages/core/src/collider/PlaneCollider.ts
  packages/core/src/collision/CollisionDetection.ts
  packages/core/src/index.ts
  packages/core/src/raycast/RaycastHit.ts
  packages/core/src/raycast/index.ts
Labels: Physical, high priority

#406 fix: fix gl active texture error
  packages/rhi-webgl/src/WebGLRenderer.ts
Labels: bug

#407 Add sprite atlas region offset
  packages/core/src/2d/sprite/Sprite.ts
Labels: 2D, feature
