Repository galacean/engine, pull requests merged in 2021-08, with the labels that each got.

#402 feat:Support atlas #197
  packages/core/src/2d/atlas/SpriteAtlas.ts
  packages/core/src/2d/atlas/types.ts
  packages/core/src/2d/index.ts
  packages/core/src/2d/sprite/Sprite.ts
  packages/core/src/asset/AssetType.ts
  packages/loader/src/GLTFLoader.ts
  packages/loader/src/SpriteAtlasLoader.ts
  packages/loader/src/index.ts
  packages/loader/src/scene-loader/resources/GLTFResource.ts
Labels: 2D, high priority

#414 Add tips for developers when use draco and BlendShape at the same time
  packages/loader/src/gltf/parser/MeshParser.ts
Labels: bug

#418 refactor: new pbr interface
  packages/core/src/Scene.ts
  packages/core/src/material/BaseMaterial.ts
  packages/core/src/material/PBRBaseMaterial.ts
  packages/core/src/material/PBRMaterial.ts
  packages/core/src/material/PBRSpecularMaterial.ts
  packages/core/src/shaderlib/ShaderLib.ts
  packages/core/src/shaderlib/extra/pbr.fs.glsl
  packages/core/src/shaderlib/gamma_frag.glsl
  packages/core/src/shaderlib/pbr/base_frag_define.glsl
  packages/core/src/shaderlib/pbr/begin_frag.glsl
  packages/core/src/shaderlib/pbr/ibl_specular_frag_define.glsl
  packages/core/src/shaderlib/pbr/texture_frag_define.glsl
  packages/core/src/shaderlib/pbr/util_frag_define.glsl
  packages/core/src/shaderlib/perturbation_frag.glsl
  packages/core/src/shaderlib/perturbation_share.glsl
  packages/core/src/shaderlib/refraction_frag.glsl
  packages/core/src/shaderlib/refraction_share.glsl
  packages/loader/src/gltf/extensions/KHR_materials_pbrSpecularGlossiness.ts
  packages/loader/src/gltf/parser/MaterialParser.ts
  packages/loader/src/scene-loader/resources/PBRMaterialResource.ts
  packages/loader/src/scene-loader/resources/PBRSpecularMaterialResource.ts
Labels: feature

#392 Feat: support spherical harmonic
  packages/core/src/lighting/AmbientLight.ts
  packages/core/src/lighting/enums/DiffuseMode.ts
  packages/core/src/shaderlib/pbr/envmap_light_frag_define.glsl
  packages/core/src/shaderlib/pbr/ibl_diffuse_frag.glsl
  packages/core/src/shaderlib/pbr/ibl_diffuse_frag_define.glsl
  packages/math/src/Color.ts
  packages/math/src/SphericalHarmonics3.ts
  packages/math/src/index.ts
Labels: feature

#423 Fix gltf load error
  packages/loader/src/gltf/GLTFUtil.ts
Labels: bug

#424 fix: set interpolation with `linear` by default
  packages/loader/src/gltf/parser/AnimationParser.ts
Labels: bug

#426 Fix material clone
  packages/core/src/material/BaseMaterial.ts
  packages/core/src/material/BlinnPhongMaterial.ts
  packages/core/src/material/PBRBaseMaterial.ts
  packages/core/src/material/PBRMaterial.ts
  packages/core/src/material/PBRSpecularMaterial.ts
  packages/core/src/material/UnlitMaterial.ts
Labels: bug

#430 fix: `ModleMesh` destroy bug
  packages/core/src/mesh/ModelMesh.ts
Labels: bug

#422 Test/material
  packages/core/tests/material/BaseMaterial.test.ts
  packages/core/tests/material/BlinnPhongMaterial.test.ts
  packages/core/tests/material/PBRBaseMaterial.test.ts
  packages/core/tests/material/PBRMaterial.test.ts
  packages/core/tests/material/PBRSpecularMaterial.test.ts
  packages/core/tests/material/UnlitMaterial.test.ts
  packages/core/tests/script.test.ts
  packages/core/tests/texture/RenderColorTexture.test.ts
  packages/core/tests/texture/RenderDepthTexture.test.ts
  packages/core/tests/texture/RenderTarget.test.ts
  packages/core/tests/texture/Texture2D.test.ts
  packages/core/tests/texture/TextureCubeMap.test.ts
  packages/loader/tests/gltf/parser.test.ts
Labels: Test

#441 Fix BlendShape bug
  packages/core/src/mesh/ModelMesh.ts
Labels: bug

#450 feat: support vertex color for Blinnphone
  packages/core/src/mesh/MeshRenderer.ts
  packages/core/src/shaderlib/begin_mobile_frag.glsl
  packages/core/src/shaderlib/extra/blinn-phong.fs.glsl
  packages/core/src/shaderlib/extra/blinn-phong.vs.glsl
  packages/core/src/shaderlib/pbr/begin_frag.glsl
Labels: feature, Rendering

#452 fix: fix 2d renderer order error
  packages/core/src/2d/sprite/SpriteRenderer.ts
  packages/core/src/RenderPipeline/RenderQueue.ts
  packages/core/src/Renderer.ts
Labels: bug

#454 Animator editor
  packages/core/src/animation/AnimationClip.ts
  packages/core/src/animation/AnimationClipCurveBinding.ts
  packages/core/src/animation/AnimationCurve.ts
  packages/core/src/animation/Animator.ts
  packages/core/src/animation/AnimatorController.ts
  packages/core/src/animation/AnimatorStateMachine.ts
  packages/core/src/animation/AnimatorTransition.ts
  packages/core/src/animation/KeyFrame.ts
  packages/core/src/animation/index.ts
  packages/core/src/animation/internal/AnimatorLayerData.ts
  packages/core/src/animation/internal/AnimatorStateData.ts
  packages/core/src/animation/internal/AnimatorStatePlayData.ts
  packages/loader/src/gltf/GLTFResource.ts
  packages/loader/src/gltf/parser/AnimationParser.ts
  packages/loader/src/gltf/parser/SceneParser.ts
  packages/loader/src/scene-loader/GLTFModel.ts
  packages/loader/src/scene-loader/ResourceManager.ts
  packages/loader/src/scene-loader/resources/AnimationClipResource.ts
  packages/loader/src/scene-loader/resources/AnimatorControllerResource.ts
  packages/loader/src/scene-loader/resources/GLTFResource.ts
  packages/loader/src/scene-loader/resources/index.ts
  packages/oasis-engine/src/index.ts
Labels: animation

#462 feat: add more interface for raycast
  packages/core/src/PhysicsManager.ts
Labels: Physical

#461 feat:SpriteAtlas Adaptation Editor Workflow
  packages/core/src/2d/atlas/types.ts
  packages/core/src/2d/sprite/Sprite.ts
  packages/loader/src/SpriteAtlasLoader.ts
  packages/loader/src/scene-loader/ResourceManager.ts
  packages/loader/src/scene-loader/resources/SpriteAtlasResource.ts
  packages/loader/src/scene-loader/resources/SpriteResource.ts
Labels: feature, 2D, resource

#465 fix: test accessible before getIndices
  packages/core/src/mesh/ModelMesh.ts
Labels: bug
