Repository galacean/engine, pull requests merged in 2022-07, with the labels that each got.

#854 Fix BlendShape animation crossfade and additive error
  packages/core/src/animation/Animator.ts
  packages/core/src/animation/internal/AnimatorTempValue.ts
Labels: bug

#855 Fix: sh invert x
  packages/core/src/shaderlib/pbr/ibl_frag_define.glsl
Labels: bug

#831 `InputManager` support pointer button and wheel
  packages/core/src/Engine.ts
  packages/core/src/input/InputManager.ts
  packages/core/src/input/enums/PointerButton.ts
  packages/core/src/input/index.ts
  packages/core/src/input/interface/IInput.ts
  packages/core/src/input/keyboard/KeyboardManager.ts
  packages/core/src/input/pointer/PointerManager.ts
  packages/core/src/input/wheel/WheelManager.ts
Labels: feature, high priority, Input

#853 Add basic physics joint component include `FixedJoint`, `SpringJoint`, `HingeJoint`
  packages/core/src/physics/PhysicsManager.ts
  packages/core/src/physics/enums/HingeJointFlag.ts
  packages/core/src/physics/enums/index.ts
  packages/core/src/physics/index.ts
  packages/core/src/physics/joint/FixedJoint.ts
  packages/core/src/physics/joint/HingeJoint.ts
  packages/core/src/physics/joint/Joint.ts
  packages/core/src/physics/joint/JointLimits.ts
  packages/core/src/physics/joint/JointMotor.ts
  packages/core/src/physics/joint/SpringJoint.ts
  packages/core/src/physics/joint/index.ts
  packages/design/src/physics/IPhysics.ts
  packages/design/src/physics/index.ts
  packages/design/src/physics/joints/IFixedJoint.ts
  packages/design/src/physics/joints/IHingeJoint.ts
  packages/design/src/physics/joints/IJoint.ts
  packages/design/src/physics/joints/ISpringJoint.ts
  packages/design/src/physics/joints/index.ts
  packages/physics-lite/src/LitePhysics.ts
  packages/physics-lite/src/LitePhysicsManager.ts
  packages/physics-physx/src/PhysXPhysics.ts
  packages/physics-physx/src/PhysXPhysicsManager.ts
  packages/physics-physx/src/joint/PhysXFixedJoint.ts
  packages/physics-physx/src/joint/PhysXHingeJoint.ts
  packages/physics-physx/src/joint/PhysXJoint.ts
  packages/physics-physx/src/joint/PhysXSpringJoint.ts
Labels: feature, physical, high priority

#837 Use char cache mode for TextRenderer
  packages/core/src/2d/assembler/IAssembler.ts
  packages/core/src/2d/assembler/SimpleSpriteAssembler.ts
  packages/core/src/2d/assembler/SlicedSpriteAssembler.ts
  packages/core/src/2d/assembler/StaticInterfaceImplement.ts
  packages/core/src/2d/atlas/FontAtlas.ts
  packages/core/src/2d/dynamic-atlas/DynamicTextAtlas.ts
  packages/core/src/2d/dynamic-atlas/DynamicTextAtlasManager.ts
  packages/core/src/2d/sprite/Sprite.ts
  packages/core/src/2d/text/CharInfo.ts
  packages/core/src/2d/text/CharRenderData.ts
  packages/core/src/2d/text/CharRenderDataPool.ts
  packages/core/src/2d/text/Font.ts
  packages/core/src/2d/text/TextRenderer.ts
  packages/core/src/2d/text/TextUtils.ts
  packages/core/src/Engine.ts
  packages/core/src/RenderPipeline/SpriteBatcher.ts
  packages/core/src/RenderPipeline/SpriteElement.ts
  packages/core/src/Transform.ts
Labels: enhancement, 2D

#862 Delete pixelsPerUnit from Sprite
  packages/loader/src/SpriteLoader.ts
Labels: 2D

#863 Fix Input's bug
  packages/core/src/input/pointer/Pointer.ts
  packages/core/src/input/pointer/PointerManager.ts
Labels: bug, Input, ignore for release

#875 Fix light bug(light macros delay one frame)
  packages/core/src/Scene.ts
Labels: bug

#877 Fix: Null protection for `SpriteRenderer.sprite`.
  packages/core/src/2d/assembler/IAssembler.ts
  packages/core/src/2d/assembler/SimpleSpriteAssembler.ts
  packages/core/src/2d/assembler/SlicedSpriteAssembler.ts
  packages/core/src/2d/sprite/SpriteMask.ts
  packages/core/src/2d/sprite/SpriteRenderer.ts
  packages/core/src/Engine.ts
Labels: bug

#878 Dev/asset file
  package-lock.json
  package.json
  packages/loader/src/SceneLoader.ts
  packages/resource-process/package.json
  tests/package-lock.json
  tests/package.json
Labels: ignore for release

#836 fix: fixed crossFade directly without play
  packages/core/src/animation/Animator.ts
Labels: bug, animation

#880 Opt performance for `TextRenderer`
  packages/core/src/2d/atlas/FontAtlas.ts
  packages/core/src/2d/text/CharInfo.ts
  packages/core/src/2d/text/Font.ts
  packages/core/src/2d/text/TextUtils.ts
Labels: 2D, ignore for release

#884 Opt performance for `TextRenderer` with opt trim color data
  packages/core/src/2d/text/TextUtils.ts
Labels: 2D, ignore for release

#882 Fix a entity add another scene's root entity
  packages/core/src/Component.ts
  packages/core/src/Entity.ts
  packages/core/src/Scene.ts
Labels: bug

#886 Merge latest main
  packages/core/src/Component.ts
  packages/core/src/Entity.ts
  packages/core/src/Scene.ts
  packages/core/src/animation/Animator.ts
  packages/core/src/animation/internal/AnimatorTempValue.ts
Labels: ignore for release

#887 Add libs folder for physX pakcage.json
  packages/physics-physx/package.json
Labels: physical, ignore for release

#893 Add test for math
  tests/src/math/BoundingBox.test.ts
  tests/src/math/BoundingFrustum.test.ts
  tests/src/math/BoundingSphere.test.ts
  tests/src/math/CollisionUtil.test.ts
  tests/src/math/Color.test.ts
  tests/src/math/MathUtil.test.ts
  tests/src/math/Matrix.test.ts
  tests/src/math/Matrix3x3.test.ts
  tests/src/math/Plane.test.ts
  tests/src/math/Quaternion.test.ts
  tests/src/math/Ray.test.ts
  tests/src/math/Rect.test.ts
  tests/src/math/SphericalHarmonics3.test.ts
  tests/src/math/Vector2.test.ts
  tests/src/math/Vector3.test.ts
  tests/src/math/Vector4.test.ts
Labels: test, ignore for release

#892 material and texture unit tests
  package.json
  packages/physics-physx/src/PhysXPhysics.ts
  tests/index.ts
  tests/package.json
  tests/src/core/material/BaseMaterial.test.ts
  tests/src/core/material/BlinnPhongMaterial.test.ts
  tests/src/core/material/PBRBaseMaterial.test.ts
  tests/src/core/material/PBRMaterial.test.ts
  tests/src/core/material/PBRSpecularMaterial.test.ts
  tests/src/core/material/UnlitMaterial.test.ts
  tests/src/core/texture/RenderTarget.test.ts
  tests/src/core/texture/Texture2D.test.ts
  tests/src/core/texture/TextureCubeMap.test.ts
Labels: test, ignore for release

#894 Add test for 2d
  tests/src/core/Sprite.test.ts
  tests/src/core/SpriteMask.test.ts
  tests/src/core/SpriteRenderer.test.ts
  tests/src/core/TextRenderer.test.ts
Labels: test, 2D, ignore for release

#895 Fix engine destroy bug
  packages/core/src/Engine.ts
  packages/core/src/Scene.ts
  packages/core/src/SceneManager.ts
Labels: bug, ignore for release

#896 Fix loader type error
  packages/core/src/asset/Loader.ts
Labels: ignore for release

#901 Fix: sprite's texture bug
  packages/core/src/2d/sprite/Sprite.ts
  packages/core/src/2d/sprite/SpriteRenderer.ts
  packages/core/src/RenderPipeline/SpriteBatcher.ts
  packages/core/src/RenderPipeline/SpriteElement.ts
Labels: bug, 2D, ignore for release

#902 Fix: sprite's texture bug
  packages/core/src/2d/sprite/Sprite.ts
  packages/core/src/2d/sprite/SpriteRenderer.ts
  packages/core/src/RenderPipeline/SpriteBatcher.ts
  packages/core/src/RenderPipeline/SpriteElement.ts
Labels: bug, 2D, ignore for release

#906 fix: use replace shader
  packages/core/src/RenderPipeline/RenderQueue.ts
Labels: bug, ignore for release
