Repository galacean/engine, pull requests merged in 2022-04, with the labels that each got.

#720 fix: script destroy bug
  packages/core/src/Camera.ts
  packages/core/src/Component.ts
  packages/core/src/ComponentsManager.ts
  packages/core/src/Engine.ts
  packages/core/src/Entity.ts
  packages/core/src/Script.ts
  packages/core/src/input/pointer/PointerManager.ts
  packages/core/src/physics/PhysicsManager.ts
Labels: bug

#724 fix: make free control not depend on scene
  packages/controls/src/FreeControl.ts
Labels: bug

#683 Feat: support multi-uv and occlusion texture coordinate
  packages/core/src/material/PBRBaseMaterial.ts
  packages/core/src/material/enums/TextureCoordinate.ts
  packages/core/src/material/index.ts
  packages/core/src/mesh/MeshRenderer.ts
  packages/core/src/shaderlib/common_vert.glsl
  packages/core/src/shaderlib/pbr/pbr_frag.glsl
  packages/core/src/shaderlib/pbr/pbr_frag_define.glsl
  packages/core/src/shaderlib/uv_share.glsl
  packages/core/src/shaderlib/uv_vert.glsl
  packages/loader/src/gltf/parser/MaterialParser.ts
Labels: feature, Rendering

#722 Optimization physics init
  packages/core/src/Engine.ts
  packages/core/src/input/pointer/PointerManager.ts
  packages/core/src/physics/PhysicsManager.ts
  packages/physics-physx/src/PhysXPhysics.ts
  packages/rhi-webgl/src/WebGLEngine.ts
Labels: feature, Physical

#727 fix: physics update order and destroy method
  packages/core/src/Engine.ts
  packages/core/src/physics/Collider.ts
  packages/core/src/physics/PhysicsManager.ts
  packages/core/src/physics/PhysicsMaterial.ts
  packages/core/src/physics/shape/ColliderShape.ts
  packages/design/src/physics/ICollider.ts
  packages/design/src/physics/IPhysicsMaterial.ts
  packages/design/src/physics/shape/IColliderShape.ts
  packages/physics-lite/src/LiteCollider.ts
  packages/physics-lite/src/LitePhysicsMaterial.ts
  packages/physics-lite/src/shape/LiteColliderShape.ts
  packages/physics-physx/src/PhysXCollider.ts
  packages/physics-physx/src/PhysXPhysics.ts
  packages/physics-physx/src/PhysXPhysicsMaterial.ts
  packages/physics-physx/src/shape/PhysXColliderShape.ts
Labels: bug, Physical, high priority

#738 fix: physcis event remove when collider shape destroy
  packages/physics-lite/src/LitePhysicsManager.ts
  packages/physics-lite/src/LitePhysicsMaterial.ts
  packages/physics-physx/src/PhysXPhysicsManager.ts
Labels: bug, Physical, high priority

#742 physics test
  packages/core/src/physics/PhysicsManager.ts
  packages/core/tests/physics/PhysicsManager.test.ts
  packages/physics-lite/src/LitePhysicsManager.ts
Labels: Test

#740 Test: text system
  packages/core/tests/TextRenderer.test.ts
Labels: Test, 2D

#745 test: test for text renderer
  packages/core/tests/TextRenderer.test.ts
Labels: Test, 2D

#733 Feat: support load hdr to cubemap in RGBM format and invert x axis
  packages/core/src/asset/AssetType.ts
  packages/loader/src/HDRLoader.ts
  packages/loader/src/index.ts
Labels: feature

#669 Feat: support pbr clearcoat
  packages/core/src/asset/request.ts
  packages/core/src/material/PBRBaseMaterial.ts
  packages/core/src/material/PBRMaterial.ts
  packages/core/src/shaderlib/begin_normal_vert.glsl
  packages/core/src/shaderlib/blendShape_vert.glsl
  packages/core/src/shaderlib/common.glsl
  packages/core/src/shaderlib/mobile_blinnphong_frag.glsl
  packages/core/src/shaderlib/normal_get.glsl
  packages/core/src/shaderlib/normal_share.glsl
  packages/core/src/shaderlib/normal_vert.glsl
  packages/core/src/shaderlib/pbr/brdf.glsl
  packages/core/src/shaderlib/pbr/direct_irradiance_frag_define.glsl
  packages/core/src/shaderlib/pbr/ibl_frag_define.glsl
  packages/core/src/shaderlib/pbr/pbr_frag.glsl
  packages/core/src/shaderlib/pbr/pbr_frag_define.glsl
  packages/core/src/shaderlib/pbr/pbr_helper.glsl
  packages/core/src/shaderlib/skinning_vert.glsl
  packages/loader/src/gltf/extensions/KHR_materials_clearcoat.ts
  packages/loader/src/gltf/extensions/KHR_materials_pbrSpecularGlossiness.ts
  packages/loader/src/gltf/parser/MaterialParser.ts
Labels: feature, Rendering

#730 feat: animator play backwards
  packages/core/src/animation/Animator.ts
  packages/core/src/animation/internal/AnimatorStatePlayData.ts
Labels: animation

#749 fix: constrain min shininess to `1e-4`
  packages/core/src/material/BlinnPhongMaterial.ts
  packages/core/tests/material/BlinnPhongMaterial.test.ts
Labels: bug

#753 feat: update wasm version
  packages/physics-physx/dist/physx.release.wasm
  packages/physics-physx/src/PhysXPhysics.ts
Labels: feature

#758 docs: update commit spec and change log config
  .github/release.yml
  package.json
Labels: ignore for release

#760 fix(animation): animator play error when blendShape count is 1
  packages/loader/src/gltf/parser/AnimationParser.ts
Labels: bug, animation

#761 fix(animation): animator play error when blendShape count is 1
  packages/loader/src/gltf/parser/AnimationParser.ts
Labels: bug, animation

#759 fix: lite box collider shape should scale the size of box
  packages/physics-lite/src/shape/LiteBoxColliderShape.ts
Labels: bug, physical, high priority

#764 fix: adapter to website
  packages/core/src/mesh/BlendShapeManager.ts
Labels: ignore for release

#768 fix(bg): add export for BackgroundTextureFillMode
  packages/core/src/index.ts
Labels: bug

#767 fix(bg): add export for BackgroundTextureFillMode
  packages/core/src/index.ts
Labels: bug

#763 fix(primitive-mesh): fix normal error for capsule cap
  packages/core/src/mesh/PrimitiveMesh.ts
Labels: bug

#762 fix(primitive-mesh): fix normal error for capsule cap
  packages/core/src/mesh/PrimitiveMesh.ts
Labels: bug

#769 fix: normalize normal
  packages/core/src/shaderlib/normal_get.glsl
Labels: bug

#770 Fix: When the engine is destroyed, remove the onblur function
  packages/core/src/input/InputManager.ts
Labels: bug, Input

#771 Fix: Raf bug
  packages/core/src/Engine.ts
Labels: bug, low priority

#774 fix: fix the order of layerState when AnimatorStatePlayState.Finished
  packages/core/src/animation/Animator.ts
Labels: bug, animation
