Repository galacean/engine, pull requests merged in 2022-05, with the labels that each got.

#777 fix: adapter all variable in miniprogram-adapter
  rollup.miniprogram.plugin.js
Labels: bug, ignore for release

#775 fix: struct in shader must init value in alipay miniprogram
  packages/core/src/shaderlib/pbr/pbr_frag.glsl
Labels: bug, ignore for release

#780 refactor: remove toolkit features
  packages/controls/package.json
  packages/controls/src/FreeControl.ts
  packages/controls/src/OrbitControl.ts
  packages/controls/src/OrthoControl.ts
  packages/controls/src/Spherical.ts
  packages/controls/src/index.ts
  packages/controls/tsconfig.json
  packages/framebuffer-picker/package.json
  packages/framebuffer-picker/src/ColorMaterial.ts
  packages/framebuffer-picker/src/ColorRenderPass.ts
  packages/framebuffer-picker/src/FramebufferPicker.ts
  packages/framebuffer-picker/src/color.fs.glsl
  packages/framebuffer-picker/src/color.vs.glsl
  packages/framebuffer-picker/src/global.d.ts
  packages/framebuffer-picker/src/index.ts
  packages/framebuffer-picker/tsconfig.json
  packages/stats/package.json
  packages/stats/src/Core.ts
  packages/stats/src/Monitor.ts
  packages/stats/src/Stats.ts
  packages/stats/src/hooks/DrawCallHook.ts
  packages/stats/src/hooks/ShaderHook.ts
  packages/stats/src/hooks/TextureHook.ts
  packages/stats/src/index.ts
  packages/stats/src/log.ts
  packages/stats/tsconfig.json
Labels: feature

#795 Merge latest main to dev/0.8
  lerna.json
  packages/core/package.json
  packages/design/package.json
  packages/draco/package.json
  packages/loader/package.json
  packages/math/package.json
  packages/oasis-engine/package.json
  packages/physics-lite/package.json
  packages/physics-physx/package.json
  packages/rhi-webgl/package.json
Labels: ignore for release

#706 Fix:local translate
  packages/core/src/Transform.ts
Labels: bug

#796 Add component denpendent decorator
  packages/core/src/Camera.ts
  packages/core/src/ComponentsDependencies.ts
  packages/core/src/Renderer.ts
  packages/core/src/Transform.ts
  packages/core/src/fog/Fog.ts
  packages/core/src/index.ts
  packages/core/src/mesh/MeshRenderer.ts
  packages/core/src/physics/Collider.ts
  packages/core/src/physics/DynamicCollider.ts
  packages/core/src/physics/StaticCollider.ts
Labels: feature

#801 ci: remove ci on node 12
  .github/workflows/nodejs.yml
Labels: ignore for release

#802 Fix Test Version Error
  tests/package.json
Labels: ignore for release

#803 feat: opt render order for renderer
  packages/core/src/RenderPipeline/BasicRenderPipeline.ts
  packages/core/src/RenderPipeline/RenderQueue.ts
  packages/core/src/Renderer.ts
  packages/core/src/material/enums/RenderQueueType.ts
Labels: feature

#807 Add component denpendent decorator (#796)
  packages/core/src/Camera.ts
  packages/core/src/ComponentsDependencies.ts
  packages/core/src/Renderer.ts
  packages/core/src/Transform.ts
  packages/core/src/fog/Fog.ts
  packages/core/src/index.ts
  packages/core/src/mesh/MeshRenderer.ts
  packages/core/src/physics/Collider.ts
  packages/core/src/physics/DynamicCollider.ts
  packages/core/src/physics/StaticCollider.ts
Labels: feature

#808 fix(Renderer): destroy crash when material is null
  packages/core/src/Renderer.ts
Labels: bug
