Repository galacean/engine, pull requests merged in 2022-08, with the labels that each got.

#910 Fix `AmbientLight` share bug
  packages/core/src/Scene.ts
  packages/core/src/lighting/AmbientLight.ts
Labels: bug

#913 fix: miniprogram adapter
  packages/loader/src/resource-deserialize/utils/BufferReader.ts
  packages/loader/src/resource-deserialize/utils/FileHeader.ts
Labels: bug, ignore for release

#914 fix: miniprogram cannot recognize htmlcanvaselement
  packages/core/src/input/InputManager.ts
  packages/rhi-webgl/src/WebCanvas.ts
  packages/rhi-webgl/src/WebGLRenderer.ts
  rollup.miniprogram.plugin.js
Labels: bug, ignore for release

#915 fix: miniprogram cannot recognize htmlcanvaselement
  packages/core/src/input/InputManager.ts
  packages/physics-lite/package.json
  packages/physics-physx/package.json
  packages/rhi-webgl/src/WebCanvas.ts
  packages/rhi-webgl/src/WebGLRenderer.ts
Labels: bug, ignore for release

#916 Fix ibl direction
  packages/core/src/shaderlib/extra/skybox.vs.glsl
  packages/core/src/shaderlib/pbr/ibl_frag_define.glsl
Labels: bug

#921 Fix build error cause by physics package
  packages/physics-lite/package.json
  packages/physics-physx/package.json
Labels: bug

#917 Fix use canvas as the main body to listen for keyboard events
  packages/core/src/input/InputManager.ts
  packages/core/src/input/keyboard/KeyboardManager.ts
Labels: bug

#922 fix test missmatch bug
  tests/src/core/material/BlinnPhongMaterial.test.ts
  tests/src/core/material/PBRBaseMaterial.test.ts
  tests/src/core/material/PBRSpecularMaterial.test.ts
  tests/src/core/material/UnlitMaterial.test.ts
Labels: test, ignore for release

#923 Fix `ResourceManager.cancelNotLoaded` Error when load env
  packages/core/src/asset/ResourceManager.ts
  packages/loader/src/EnvLoader.ts
  packages/loader/src/HDRLoader.ts
  packages/rhi-webgl/src/GLTexture.ts
Labels: bug

#924 Fix `ResourceManager.cancelNotLoaded` Error when load env
  packages/core/src/asset/ResourceManager.ts
  packages/loader/src/EnvLoader.ts
  packages/loader/src/HDRLoader.ts
Labels: bug

#927 fix: catch loader error
  packages/core/src/asset/ResourceManager.ts
  packages/loader/src/GLTFLoader.ts
  packages/loader/src/gltf/parser/TextureParser.ts
Labels: bug

#936 Fix InputManager need to stop the default touch behavior of canvas
  packages/core/src/input/pointer/PointerManager.ts
  packages/core/src/input/wheel/WheelManager.ts
Labels: bug, Input

#939 Fix blend shapde weights is undefined error with a temp plan
  packages/core/src/mesh/BlendShapeManager.ts
Labels: ignore for release

#941 Fix `blendShapeWeights` never set bug when Mesh blendShape count is large than 0
  packages/core/src/mesh/BlendShapeManager.ts
  packages/core/src/mesh/SkinnedMeshRenderer.ts
Labels: bug, animation

#942 Fix `blendShapeWeights` never set bug when Mesh blendShape count is large than 0
  packages/core/src/mesh/BlendShapeManager.ts
  packages/core/src/mesh/SkinnedMeshRenderer.ts
Labels: bug, animation

#943 Fix model mesh missing tangent w
  packages/core/src/mesh/ModelMesh.ts
Labels: bug, rendering, high priority

#944 Fix model mesh missing tangent w
  packages/core/src/mesh/ModelMesh.ts
Labels: bug, rendering, high priority

#946 Fix scene parser error
  packages/loader/src/SceneLoader.ts
Labels: bug

#947 Fix: adapterminiprogram
  packages/core/src/input/InputManager.ts
Labels: Input

#951 Fix `Transform` `worldMatrix` set bug
  packages/core/src/Transform.ts
  packages/physics-lite/src/LiteTransform.ts
Labels: bug

#952 Fix frame picker not valid for sprite renderer
  packages/core/src/Engine.ts
  packages/core/src/RenderPipeline/Basic2DBatcher.ts
  packages/core/src/RenderPipeline/RenderQueue.ts
  packages/core/src/RenderPipeline/SpriteBatcher.ts
  packages/core/src/RenderPipeline/SpriteMaskManager.ts
  packages/core/src/material/Material.ts
Labels: bug

#964 Optimization TextRenderer memory
  packages/core/src/2d/atlas/FontAtlas.ts
  packages/core/src/2d/text/CharInfo.ts
  packages/core/src/2d/text/CharRenderData.ts
  packages/core/src/2d/text/Font.ts
  packages/core/src/2d/text/TextRenderer.ts
  packages/core/src/2d/text/TextUtils.ts
Labels: performance

#966 Optmization TextRender performance cause by sort
  packages/core/src/2d/text/TextRenderer.ts
  packages/core/src/Engine.ts
  packages/core/src/RenderPipeline/Basic2DBatcher.ts
  packages/core/src/RenderPipeline/BasicRenderPipeline.ts
  packages/core/src/RenderPipeline/MeshRenderElement.ts
  packages/core/src/RenderPipeline/RenderElement.ts
  packages/core/src/RenderPipeline/RenderQueue.ts
  packages/core/src/RenderPipeline/SpriteElement.ts
  packages/core/src/RenderPipeline/SpriteMaskElement.ts
  packages/core/src/RenderPipeline/TextRenderElement.ts
  packages/core/src/index.ts
  packages/core/src/material/Material.ts
Labels: performance

#961 Add `siblingIndex` and improve `addChild()` for `Entity`
  packages/core/src/Entity.ts
  packages/core/src/Scene.ts
  tests/src/core/Entity.test.ts
  tests/src/core/Scene.test.ts
Labels: feature

#969 Add `siblingIndex` and `addChild()` insert ability for `Entity` (#961)
  packages/core/src/Entity.ts
  packages/core/src/Scene.ts
  tests/src/core/Entity.test.ts
  tests/src/core/Scene.test.ts
Labels: feature

#968 Fix blendShape clone error
  packages/core/src/mesh/SkinnedMeshRenderer.ts
Labels: bug, animation

#970 Fix blendShape clone error
  packages/core/src/mesh/SkinnedMeshRenderer.ts
Labels: bug, animation

#972 Fix `InputManager` keyboard events could not be listened to.
  packages/core/src/input/keyboard/KeyboardManager.ts
  packages/core/src/input/pointer/PointerManager.ts
Labels: bug, Input

#971 Enhance entity `siblingIndex` robustness
  packages/core/src/Entity.ts
  tests/src/core/Entity.test.ts
Labels: ignore for release

#908 refactor shadow and light and delete feature system
  packages/core/src/ComponentsManager.ts
  packages/core/src/Engine.ts
  packages/core/src/EngineFeature.ts
  packages/core/src/FeatureManager.ts
  packages/core/src/RenderPipeline/BasicRenderPipeline.ts
  packages/core/src/Renderer.ts
  packages/core/src/Scene.ts
  packages/core/src/SceneFeature.ts
  packages/core/src/index.ts
  packages/core/src/lighting/DirectLight.ts
  packages/core/src/lighting/KHR_lights.ts
  packages/core/src/lighting/Light.ts
  packages/core/src/lighting/LightFeature.ts
  packages/core/src/lighting/LightManager.ts
  packages/core/src/lighting/PointLight.ts
  packages/core/src/lighting/SpotLight.ts
  packages/core/src/mesh/MeshRenderer.ts
  packages/core/src/shader/ShaderPool.ts
  packages/core/src/shaderlib/ShaderLib.ts
  packages/core/src/shaderlib/extra/blinn-phong.fs.glsl
  packages/core/src/shaderlib/extra/blinn-phong.vs.glsl
  packages/core/src/shaderlib/extra/pbr.fs.glsl
  packages/core/src/shaderlib/extra/pbr.vs.glsl
  packages/core/src/shaderlib/extra/shadow-map.vs.glsl
  packages/core/src/shaderlib/extra/unlit.fs.glsl
  packages/core/src/shaderlib/extra/unlit.vs.glsl
  packages/core/src/shaderlib/position_vert.glsl
  packages/core/src/shaderlib/shadow_frag.glsl
  packages/core/src/shaderlib/shadow_frag_share.glsl
  packages/core/src/shaderlib/shadow_vert.glsl
  packages/core/src/shaderlib/shadow_vert_share.glsl
  packages/core/src/shadow/Extension.ts
  packages/core/src/shadow/LightShadow.ts
  packages/core/src/shadow/ShadowFeature.ts
  packages/core/src/shadow/ShadowManager.ts
  packages/core/src/shadow/ShadowMapMaterial.ts
  packages/core/src/shadow/ShadowMapPass.ts
  packages/core/src/shadow/ShadowMaterial.ts
  packages/core/src/shadow/ShadowPass.ts
  packages/core/src/shadow/index.ts
Labels: feature, rendering, high priority, ignore for release

#979 Fix blend shape error
  packages/core/src/animation/Animator.ts
  packages/core/src/animation/internal/AnimatorTempValue.ts
  packages/core/src/mesh/BlendShapeManager.ts
  packages/core/src/mesh/MeshRenderer.ts
  packages/core/src/mesh/SkinnedMeshRenderer.ts
Labels: bug

#980 Fx spell transform error
  packages/core/src/2d/text/TextRenderer.ts
  packages/core/src/Transform.ts
Labels: ignore for release

#978 Refactor asset promise with interface
  packages/core/src/asset/AssetPromise.ts
  packages/core/src/index.ts
  tests/src/core/AssetPromise.test.ts
Labels: feature

#974 Add depth `depthCompareFunction` for Texture
  packages/core/src/renderingHardwareInterface/IPlatformTexture.ts
  packages/core/src/shader/ShaderProgram.ts
  packages/core/src/shader/ShaderUniform.ts
  packages/core/src/texture/RenderTarget.ts
  packages/core/src/texture/Texture.ts
  packages/core/src/texture/Texture2D.ts
  packages/core/src/texture/enums/TextureDepthCompareFunction.ts
  packages/core/src/texture/enums/TextureFormat.ts
  packages/core/src/texture/index.ts
  packages/rhi-webgl/src/GLRenderTarget.ts
  packages/rhi-webgl/src/GLTexture.ts
  packages/rhi-webgl/src/GLTexture2D.ts
  packages/rhi-webgl/src/GLTexture2DArray.ts
  packages/rhi-webgl/src/GLTextureCube.ts
Labels: feature

#982 Shader support graphic API macro
  packages/core/src/Engine.ts
  packages/core/src/shader/Shader.ts
Labels: feature
