Repository galacean/engine, pull requests merged in 2022-09, with the labels that each got.

#995 fix: shader compile bug cause by graphicAPI macro
  packages/core/src/shader/Shader.ts
Labels: bug, ignore for release

#999 fix: physics lite raycast bug
  packages/physics-lite/src/shape/LiteBoxColliderShape.ts
Labels: bug, physical, high priority

#1003 refactor: add reflect get property in asset parse
  packages/core/src/Utils.ts
  packages/core/src/asset/ResourceManager.ts
Labels: feature, ignore for release

#1013 cherry-pick #1003
  packages/core/src/Utils.ts
  packages/core/src/asset/ResourceManager.ts
Labels: ignore for release

#1014 Update Refer in ResourceManager
  packages/core/src/asset/ResourceManager.ts
Labels: bug, ignore for release

#1015 Feat: support canvas 2d API
  packages/core/src/2d/text/TextRenderer.ts
  packages/core/src/2d/text/TextUtils.ts
  packages/core/src/Background.ts
  packages/core/src/Engine.ts
  packages/core/src/RenderPipeline/Basic2DBatcher.ts
  packages/core/src/RenderPipeline/RenderQueue.ts
  packages/core/src/RenderPipeline/SpriteElement.ts
  packages/math/src/Color.ts
  packages/oasis-engine/package.json
  packages/oasis-engine/src/index.ts
  packages/rhi-canvas/package.json
  packages/rhi-canvas/src/Canvas2dCanvas.ts
  packages/rhi-canvas/src/CanvasCapability.ts
  packages/rhi-canvas/src/CanvasEngine.ts
  packages/rhi-canvas/src/CanvasRenderer.ts
  packages/rhi-canvas/src/CanvasTexture.ts
  packages/rhi-canvas/src/CanvasTexture2D.ts
  packages/rhi-canvas/src/index.ts
  packages/rhi-canvas/tsconfig.json
Labels: 2D

#1018 fix Scene load resolve bug
  packages/core/src/asset/request.ts
  packages/loader/src/SceneLoader.ts
Labels: bug, resource

#1021 Remove Default Timeout for Request
  packages/core/src/asset/ResourceManager.ts
  packages/core/src/asset/request.ts
Labels: feature, breaking

#1022 Fix when material or texture destroy
  packages/core/src/Engine.ts
  packages/core/src/RenderPipeline/RenderQueue.ts
  packages/core/src/shader/ShaderProgram.ts
Labels: bug

#1019 Fix set font size not valid error
  packages/core/src/2d/text/Font.ts
  packages/core/src/2d/text/TextRenderer.ts
  packages/core/src/2d/text/TextUtils.ts
Labels: bug, 2D

#1026 Fix blendShape compatibility bug
  packages/core/src/mesh/BlendShapeManager.ts
  packages/core/src/mesh/SkinnedMeshRenderer.ts
Labels: bug

#1027 Merge main to dev/0.9
  packages/core/src/mesh/BlendShapeManager.ts
  packages/core/src/mesh/SkinnedMeshRenderer.ts
Labels: ignore for release

#1028 Fix `SkinnedMeshRenderer` clone bug
  packages/core/src/mesh/SkinnedMeshRenderer.ts
  tests/src/core/ModelMesh.test.ts
  tests/src/core/SkinnedMeshRenderer.test.ts
Labels: bug, test

#1031 dev/0.9 merge latest main
  packages/core/src/mesh/SkinnedMeshRenderer.ts
  tests/src/core/ModelMesh.test.ts
  tests/src/core/SkinnedMeshRenderer.test.ts
Labels: ignore for release

#1029 shadowMap using color texture when platform not support depthTexture
  packages/core/src/Engine.ts
  packages/core/src/shaderlib/extra/shadow-map.fs.glsl
  packages/core/src/shadow/CascadedShadowCasterPass.ts
  packages/core/src/shadow/ShadowUtils.ts
  packages/rhi-webgl/src/GLCapability.ts
  packages/rhi-webgl/src/GLTexture.ts
Labels: rendering, high priority

#1033 fix: use rgba8 as downgrade shadow texture
  packages/core/src/shaderlib/extra/shadow-map.fs.glsl
  packages/core/src/shaderlib/shadow/shadow_frag_share.glsl
  packages/core/src/shadow/ShadowUtils.ts
Labels: rendering, ignore for release

#1036 Fix conflicts
  packages/core/src/2d/sprite/Sprite.ts
  packages/core/src/2d/sprite/SpriteRenderer.ts
  packages/core/src/RenderPipeline/RenderQueue.ts
  packages/rhi-canvas/src/CanvasRenderer.ts
Labels: 2D

#1038 Add lerp for `Color`
  packages/math/src/Color.ts
Labels: 2D, ignore for release

#1040 Fix `TextRenderer` render error
  packages/core/src/2d/text/TextRenderer.ts
Labels: bug, 2D

#948 Shader support multi shader pass
  packages/core/src/2d/sprite/SpriteRenderer.ts
  packages/core/src/2d/text/TextRenderer.ts
  packages/core/src/Engine.ts
  packages/core/src/RenderPipeline/BasicRenderPipeline.ts
  packages/core/src/RenderPipeline/MeshRenderElement.ts
  packages/core/src/RenderPipeline/RenderElement.ts
  packages/core/src/RenderPipeline/RenderQueue.ts
  packages/core/src/RenderPipeline/SpriteBatcher.ts
  packages/core/src/RenderPipeline/SpriteElement.ts
  packages/core/src/RenderPipeline/SpriteMaskBatcher.ts
  packages/core/src/material/BaseMaterial.ts
  packages/core/src/material/BlinnPhongMaterial.ts
  packages/core/src/material/Material.ts
  packages/core/src/material/index.ts
  packages/core/src/mesh/MeshRenderer.ts
  packages/core/src/particle/ParticleRenderer.ts
  packages/core/src/shader/Shader.ts
  packages/core/src/shader/ShaderData.ts
  packages/core/src/shader/ShaderPass.ts
  packages/core/src/shader/enums/RenderQueueType.ts
  packages/core/src/shader/index.ts
  packages/core/src/shader/state/RenderState.ts
Labels: feature, Shader

#1042 Fix `CanvasRenderer` error
  packages/rhi-canvas/src/CanvasRenderer.ts
Labels: bug, 2D

#1043 Fix text renderer element not render state
  packages/core/src/2d/text/TextRenderer.ts
Labels: bug, ignore for release, Text

#1030 `ShaderData` add get shader properties ability
  packages/core/src/shader/Shader.ts
  packages/core/src/shader/ShaderData.ts
  packages/core/src/shader/ShaderProgram.ts
  packages/core/src/shader/ShaderProperty.ts
  packages/core/src/shader/enums/ShaderPropertyType.ts
  packages/core/src/shader/index.ts
  tests/src/core/material/Material.test.ts
Labels: feature, Shader

#1046 Dev/canvas rhi
  packages/oasis-engine/package.json
  packages/rhi-canvas/package.json
Labels: ignore for release

#1045 Fix skin normal transform bug
  packages/core/src/mesh/SkinnedMeshRenderer.ts
  packages/core/src/shaderlib/common.glsl
  packages/core/src/shaderlib/skinning_vert.glsl
Labels: bug, rendering, high priority

#1054 Fix pacakge.json for physics
  packages/physics-lite/package.json
  packages/physics-physx/package.json
Labels: bug, 2D, ignore for release

#1052 feat: remove throw in physics-lite
  packages/physics-lite/src/LitePhysicsManager.ts
  packages/physics-lite/src/shape/LiteColliderShape.ts
Labels: ignore for release

#1057 Refactor: merge from main
  packages/core/src/Entity.ts
  packages/physics-lite/src/LitePhysicsManager.ts
  packages/physics-lite/src/shape/LiteColliderShape.ts
Labels: bug

#1053 fix: sprite transform error when rotates.
  packages/core/src/2d/assembler/SimpleSpriteAssembler.ts
  packages/core/src/2d/assembler/SlicedSpriteAssembler.ts
Labels: bug, 2D, high priority

#1051 Fix skining need inverse function in common.glsl bug
  packages/core/src/shaderlib/extra/shadow-map.vs.glsl
  packages/core/src/shaderlib/extra/unlit.vs.glsl
Labels: bug, ignore for release

#1055 Fix script onDisable() error call bug
  package.json
  packages/core/src/Component.ts
  packages/core/src/Entity.ts
  tests/src/core/Scene.test.ts
  tests/src/core/Script.test.ts
Labels: bug

#1058 Fix set color invalid in `TextRenderer` and fix component _phasedActive clone error
  packages/core/src/2d/text/TextRenderer.ts
  packages/core/src/Component.ts
  packages/physics-lite/package.json
  packages/physics-physx/package.json
Labels: bug, 2D

#1047 Fix physics system stablity
  packages/core/src/physics/CharacterController.ts
  packages/design/src/physics/ICharacterController.ts
  packages/physics-physx/src/PhysXCharacterController.ts
  packages/physics-physx/src/PhysXPhysicsManager.ts
  packages/physics-physx/src/shape/PhysXColliderShape.ts
Labels: enhancement, physical, high priority

#1061 Update package version for peer dependence
  packages/physics-lite/package.json
  packages/physics-physx/package.json
Labels: engineering, ignore for release

#1059 Fix call `engine.destroy()` crash in `Script`
  packages/core/src/2d/sprite/Sprite.ts
  packages/core/src/Engine.ts
  packages/core/src/Entity.ts
  packages/core/src/SceneManager.ts
  packages/core/src/Script.ts
  packages/core/src/input/pointer/Pointer.ts
  tests/src/core/Script.test.ts
  tests/src/rhi-webgl/WebGLEngine.test.ts
Labels: bug

#1062 Fix scene root entity destroy bug
  packages/core/src/Entity.ts
  tests/src/core/Scene.test.ts
Labels: bug

#1048 Refactor skybox using infinity matrix
  packages/core/src/Camera.ts
  packages/core/src/RenderPipeline/BasicRenderPipeline.ts
  packages/core/src/shaderlib/extra/skybox.vs.glsl
  packages/core/src/sky/Sky.ts
Labels: enhancement, rendering, high priority

#1060 add Shader add properties get ability
  packages/core/src/shader/Shader.ts
  packages/core/src/shader/ShaderData.ts
  packages/core/src/shader/ShaderProgram.ts
  packages/core/src/shader/ShaderProperty.ts
  packages/core/src/shader/enums/ShaderPropertyType.ts
  packages/core/src/shader/index.ts
  tests/src/core/material/Material.test.ts
Labels: feature

#1070 refactor(2d): update package version
  packages/physics-lite/package.json
  packages/physics-physx/package.json
Labels: ignore for release

#1076 Fix Material Resolved with Texture References
  packages/loader/src/MaterialLoader.ts
  packages/loader/src/gltf/parser/SceneParser.ts
Labels: bug, ignore for release

#890 Add loader params(Texture, Mesh)
  packages/core/src/asset/LoadItem.ts
  packages/loader/src/GLTFLoader.ts
  packages/loader/src/Texture2DLoader.ts
  packages/loader/src/gltf/GLTFResource.ts
  packages/loader/src/gltf/parser/MeshParser.ts
  packages/loader/src/index.ts
Labels: feature, high priority

#1077 Fix texture load bug in miniprogarm
  packages/loader/src/gltf/GLTFUtil.ts
  packages/loader/src/resource-deserialize/resources/texture2D/TextureDecoder.ts
Labels: bug

#1083 Fix pointer moving delta bug
  packages/core/src/input/pointer/PointerManager.ts
Labels: bug, Input
