Repository galacean/engine, pull requests merged in 2022-06, with the labels that each got.

#817 fix: fixed the bug of animator revert when blendWeight length exceeds 4
  packages/core/src/animation/internal/AnimationCurveOwner.ts
Labels: bug, animation

#816 Fix SkyBox render mirror problem
  packages/core/src/shaderlib/extra/skybox.vs.glsl
  packages/core/src/shaderlib/pbr/ibl_frag_define.glsl
Labels: bug

#772 fix(text): fix horizontal and vertical alignment error
  packages/core/src/2d/sprite/Sprite.ts
  packages/core/src/2d/text/TextRenderer.ts
Labels: bug, 2D

#822 types: export `BoolUpdateFlag` type
  packages/core/src/index.ts
Labels: documentation

#823 Improve ShaderData Macro feature
  packages/core/src/shader/Shader.ts
  packages/core/src/shader/ShaderData.ts
  packages/core/src/shader/ShaderMacro.ts
  packages/core/src/shader/ShaderMacroCollection.ts
Labels: bug, feature

#818 feat: physics character controller
  packages/core/src/ComponentsManager.ts
  packages/core/src/physics/CharacterController.ts
  packages/core/src/physics/Collider.ts
  packages/core/src/physics/DynamicCollider.ts
  packages/core/src/physics/PhysicsManager.ts
  packages/core/src/physics/enums/ControllerCollisionFlag.ts
  packages/core/src/physics/enums/ControllerNonWalkableMode.ts
  packages/core/src/physics/index.ts
  packages/core/src/physics/shape/CapsuleColliderShape.ts
  packages/core/src/physics/shape/ColliderShape.ts
  packages/core/src/physics/shape/index.ts
  packages/design/src/physics/ICharacterController.ts
  packages/design/src/physics/ICollider.ts
  packages/design/src/physics/IDynamicCollider.ts
  packages/design/src/physics/IPhysics.ts
  packages/design/src/physics/IPhysicsManager.ts
  packages/design/src/physics/IStaticCollider.ts
  packages/design/src/physics/index.ts
  packages/design/src/physics/shape/IColliderShape.ts
  packages/physics-lite/src/LitePhysics.ts
  packages/physics-lite/src/LitePhysicsManager.ts
  packages/physics-lite/src/shape/LiteColliderShape.ts
  packages/physics-physx/src/PhysXCharacterController.ts
  packages/physics-physx/src/PhysXPhysics.ts
  packages/physics-physx/src/PhysXPhysicsManager.ts
  packages/physics-physx/src/shape/PhysXBoxColliderShape.ts
  packages/physics-physx/src/shape/PhysXCapsuleColliderShape.ts
  packages/physics-physx/src/shape/PhysXColliderShape.ts
  packages/physics-physx/src/shape/PhysXPlaneColliderShape.ts
  packages/physics-physx/src/shape/PhysXSphereColliderShape.ts
Labels: enhancement, feature, physical, high priority

#830 Optimization: update camera code.
  packages/core/src/Camera.ts
Labels: enhancement, low priority

#847 Fix transform`translate` and `rotate` space bug
  packages/core/src/Transform.ts
Labels: bug

#845 feat: add sprite loader
  packages/core/src/asset/AssetType.ts
  packages/loader/src/SpriteLoader.ts
  packages/loader/src/index.ts
Labels: feature, 2D

#843 Feat(core): add ability to clear stencil buffer
  packages/core/src/Camera.ts
  packages/core/src/RenderPipeline/BasicRenderPipeline.ts
  packages/core/src/enums/CameraClearFlags.ts
  packages/core/src/input/pointer/PointerManager.ts
  packages/rhi-webgl/src/WebGLRenderer.ts
Labels: feature, rendering, breaking

#835 Fix `InputManager.isKeyHeldDown` bug
  packages/core/src/input/InputManager.ts
Labels: bug, Input
