Repository galacean/engine, pull requests merged in 2022-03, with the labels that each got.

#656 fix: get pixel buffer use mip level should right shift
  packages/core/src/texture/Texture2D.ts
  packages/core/src/texture/TextureCubeMap.ts
Labels: bug

#657 Update AnimatorState.ts fix comment
  packages/core/src/animation/AnimatorState.ts
Labels: animation

#608 Rename `ability` to `component`.
  packages/core/src/ComponentsDependencies.ts
  packages/core/src/Entity.ts
  packages/core/src/lighting/KHR_lights.ts
  packages/core/src/shadow/ShadowFeature.ts
Labels: enhancement

#660 fix: resize max uniform vector count
  packages/core/src/mesh/SkinnedMeshRenderer.ts
Labels: bug

#638 Optimize the use of `Transform` API
  packages/controls/src/FreeControl.ts
  packages/controls/src/OrbitControl.ts
  packages/controls/src/Spherical.ts
  packages/core/src/Transform.ts
  packages/core/src/animation/Animator.ts
  packages/math/src/BoundingFrustum.ts
  packages/math/src/CollisionUtil.ts
  packages/math/src/Matrix.ts
  packages/math/src/Plane.ts
  packages/math/src/Quaternion.ts
  packages/math/src/Vector2.ts
  packages/math/src/Vector3.ts
  packages/math/src/Vector4.ts
Labels: high priority, design

#635 fix(2d): can not update world position for sprite renderer when call …
  packages/core/src/2d/sprite/Sprite.ts
  packages/core/src/2d/sprite/SpriteMask.ts
  packages/core/src/2d/sprite/SpriteRenderer.ts
Labels: bug, 2D

#674 fix: color space correction in gltf
  packages/core/src/shaderlib/pbr/pbr_helper.glsl
  packages/loader/src/gltf/extensions/KHR_materials_pbrSpecularGlossiness.ts
  packages/loader/src/gltf/parser/MaterialParser.ts
Labels: bug

#680 feat: non-trigger script and dynamic collider
  packages/core/src/Script.ts
  packages/core/src/physics/DynamicCollider.ts
  packages/core/src/physics/PhysicsManager.ts
  packages/design/src/physics/IDynamicCollider.ts
  packages/physics-lite/src/LiteDynamicCollider.ts
  packages/physics-physx/src/PhysXDynamicCollider.ts
  packages/physics-physx/src/PhysXPhysicsManager.ts
Labels: feature, Physical, high priority

#684 fix: break texcoor to avoid `_vertexSlotChanged` error
  packages/loader/src/gltf/parser/MeshParser.ts
Labels: bug

#693 Fix rotation not normalized bug
  packages/core/src/Transform.ts
  packages/math/src/Quaternion.ts
  packages/math/src/Vector2.ts
  packages/math/src/Vector3.ts
  packages/math/src/Vector4.ts
Labels: bug, math

#698 fix: scene romove entity bug
  packages/core/src/Scene.ts
Labels: bug

#677 feat: keyboardevent
  packages/core/src/input/InputManager.ts
  packages/core/src/input/enums/Keys.ts
  packages/core/src/input/index.ts
  packages/core/src/input/keyboard/KeyboardManager.ts
Labels: Input

#699 fix: position is deleted from entity
  packages/controls/src/OrbitControl.ts
Labels: bug

#700 feat: physics fix-time update
  packages/core/src/ComponentsManager.ts
  packages/core/src/Engine.ts
  packages/core/src/Script.ts
  packages/core/src/physics/DynamicCollider.ts
  packages/core/src/physics/PhysicsManager.ts
  packages/core/src/physics/index.ts
  packages/design/src/physics/IDynamicCollider.ts
  packages/physics-lite/src/LitePhysicsManager.ts
  packages/physics-physx/src/shape/PhysXBoxColliderShape.ts
  packages/physics-physx/src/shape/PhysXCapsuleColliderShape.ts
  packages/physics-physx/src/shape/PhysXColliderShape.ts
  packages/physics-physx/src/shape/PhysXPlaneColliderShape.ts
  packages/physics-physx/src/shape/PhysXSphereColliderShape.ts
Labels: enhancement, Physical, high priority

#702 fix: transoform `rotate` bug when `relativeToLocal` is true
  packages/core/src/Transform.ts
Labels: bug, math

#703 fix `wordRotationQuatenion` bug
  packages/core/src/Transform.ts
Labels: bug

#686 Feat：The first version of text system
  package.json
  packages/core/src/2d/dynamic-atlas/DynamicTextAtlas.ts
  packages/core/src/2d/dynamic-atlas/DynamicTextAtlasManager.ts
  packages/core/src/2d/enums/FontStyle.ts
  packages/core/src/2d/enums/TextAlignment.ts
  packages/core/src/2d/enums/TextOverflow.ts
  packages/core/src/2d/index.ts
  packages/core/src/2d/text/Font.ts
  packages/core/src/2d/text/TextRenderer.ts
  packages/core/src/2d/text/TextUtils.ts
  packages/core/src/2d/text/index.ts
  packages/core/src/Engine.ts
  packages/core/src/renderingHardwareInterface/IPlatformTexture2D.ts
  packages/core/src/texture/Texture2D.ts
  packages/oasis-engine/src/index.ts
Labels: feature, 2D

#716 fix: fix text renderer clone error
  packages/core/src/2d/text/TextRenderer.ts
Labels: bug, 2D
