Repository galacean/engine, pull requests merged in 2022-10, with the labels that each got.

#1009 `AnimationClip` support any target
  .gitignore
  packages/core/src/2d/assembler/SimpleSpriteAssembler.ts
  packages/core/src/2d/assembler/SlicedSpriteAssembler.ts
  packages/core/src/animation/AnimationClip.ts
  packages/core/src/animation/AnimationClipCurveBinding.ts
  packages/core/src/animation/AnimationCurve.ts
  packages/core/src/animation/AnimationCurve/AnimationArrayCurve.ts
  packages/core/src/animation/AnimationCurve/AnimationBoolCurve.ts
  packages/core/src/animation/AnimationCurve/AnimationColorCurve.ts
  packages/core/src/animation/AnimationCurve/AnimationCurve.ts
  packages/core/src/animation/AnimationCurve/AnimationFloatArrayCurve.ts
  packages/core/src/animation/AnimationCurve/AnimationFloatCurve.ts
  packages/core/src/animation/AnimationCurve/AnimationQuaternionCurve.ts
  packages/core/src/animation/AnimationCurve/AnimationVector2Curve.ts
  packages/core/src/animation/AnimationCurve/AnimationVector3Curve.ts
  packages/core/src/animation/AnimationCurve/AnimationVector4Curve.ts
  packages/core/src/animation/AnimationCurve/index.ts
  packages/core/src/animation/AnimationCurve/interfaces/IAnimationCurveCalculator.ts
  packages/core/src/animation/Animator.ts
  packages/core/src/animation/AnimatorUtils.ts
  packages/core/src/animation/KeyFrame.ts
  packages/core/src/animation/Keyframe.ts
  packages/core/src/animation/Motion.ts
  packages/core/src/animation/enums/AnimationProperty.ts
  packages/core/src/animation/enums/InterpolableValueType.ts
  packages/core/src/animation/index.ts
  packages/core/src/animation/internal/AnimationCurveOwner.ts
  packages/core/src/animation/internal/AnimationCurveOwner/AnimationCurveOwner.ts
  packages/core/src/animation/internal/AnimationCurveOwner/Assembler/BlendShapeWeightsAnimationCurveOwnerAssembler.ts
  packages/core/src/animation/internal/AnimationCurveOwner/Assembler/IAnimationCurveOwnerAssembler.ts
  packages/core/src/animation/internal/AnimationCurveOwner/Assembler/PositionAnimationCurveOwnerAssembler.ts
  packages/core/src/animation/internal/AnimationCurveOwner/Assembler/RotationAnimationCurveOwnerAssembler.ts
  packages/core/src/animation/internal/AnimationCurveOwner/Assembler/ScaleAnimationCurveOwnerAssembler.ts
  packages/core/src/animation/internal/AnimationCurveOwner/Assembler/UniversalAnimationCurveOwnerAssembler.ts
  packages/core/src/animation/internal/AnimatorStateData.ts
  packages/core/src/animation/internal/CrossCurveData.ts
  packages/core/src/base/StaticInterfaceImplement.ts
  packages/core/src/lighting/LightManager.ts
  packages/core/src/particle/ParticleRenderer.ts
  packages/loader/src/gltf/parser/AnimationParser.ts
  packages/loader/src/resource-deserialize/index.ts
  packages/loader/src/resource-deserialize/resources/animationClip/AnimationClipDecoder.ts
  packages/loader/src/resource-deserialize/resources/animationClip/ComponentMap.ts
  packages/loader/src/resource-deserialize/resources/animationClip/type.ts
  packages/loader/src/resource-deserialize/resources/animatorController/type.ts
  packages/math/src/Color.ts
  packages/math/src/Quaternion.ts
  packages/oasis-engine/src/index.ts
Labels: feature, animation

#1089 feat: add get state API
  packages/core/src/animation/Animator.ts
  packages/core/src/animation/enums/AnimationEventType.ts
Labels: feature

#1090 Fix get state bug
  packages/core/src/animation/Animator.ts
Labels: bug, animation, ignore for release

#1091 feat: add get state API
  packages/core/src/animation/Animator.ts
Labels: animation, ignore for release

#1078 Add AnimatorController loader for AniamtorController Editor
  packages/core/src/asset/AssetType.ts
  packages/loader/src/AnimatorControllerLoader.ts
  packages/loader/src/index.ts
  packages/loader/src/resource-deserialize/index.ts
  packages/loader/src/resource-deserialize/resources/animatorController/AnimatorControllerDecoder.ts
  packages/loader/src/resource-deserialize/resources/animatorController/type.ts
  packages/loader/src/resource-deserialize/resources/prefab/ReflectionParser.ts
Labels: feature, ignore for release

#1095 Optimization light property
  packages/core/src/lighting/DirectLight.ts
  packages/core/src/lighting/Light.ts
  packages/core/src/lighting/PointLight.ts
  packages/core/src/lighting/SpotLight.ts
Labels: bug, ignore for release

#1101 Revert "Fix `onDisable()` call back scene is `null` bug"
  packages/core/src/Entity.ts
Labels: ignore for release

#1087 Fix `Compoment`/`Script` `onDisable` and `onEnable` bug
  packages/core/src/Component.ts
  tests/src/core/Script.test.ts
Labels: bug

#1102 Add release action
  .github/workflows/release.yml
Labels: ignore for release

#1105 Fix resource parser error
  packages/loader/src/resource-deserialize/resources/prefab/ReflectionParser.ts
Labels: bug, ignore for release

#1104 Fix physics lite raycast bug (#999)
  packages/core/src/physics/DynamicCollider.ts
  packages/physics-lite/src/shape/LiteBoxColliderShape.ts
Labels: bug

#1107 Add `Animator` compoment for skinned glTF modle, even no amimation clips
  packages/loader/src/GLTFLoader.ts
  packages/loader/src/gltf/GLTFParser.ts
  packages/loader/src/gltf/GLTFResource.ts
  packages/loader/src/gltf/parser/AnimationParser.ts
  packages/loader/src/gltf/parser/BufferParser.ts
  packages/loader/src/gltf/parser/EntityParser.ts
  packages/loader/src/gltf/parser/MaterialParser.ts
  packages/loader/src/gltf/parser/MeshParser.ts
  packages/loader/src/gltf/parser/Parser.ts
  packages/loader/src/gltf/parser/ParserContext.ts
  packages/loader/src/gltf/parser/SceneParser.ts
  packages/loader/src/gltf/parser/SkinParser.ts
  packages/loader/src/gltf/parser/TextureParser.ts
  packages/loader/src/gltf/parser/Validator.ts
Labels: feature, animation

#1075 Feat add loader for gltf subasset #1071
  packages/core/src/animation/index.ts
  packages/loader/package.json
  packages/loader/src/GLTFLoader.ts
  packages/loader/src/MaterialLoader.ts
  packages/loader/src/gltf/GLTFParser.ts
  packages/loader/src/gltf/GLTFResource.ts
  packages/loader/src/gltf/GLTFUtil.ts
  packages/loader/src/gltf/extensions/OASIS_materials_remap.ts
  packages/loader/src/gltf/extensions/Schema.ts
  packages/loader/src/gltf/extensions/index.ts
  packages/loader/src/gltf/parser/AnimationParser.ts
  packages/loader/src/gltf/parser/BufferParser.ts
  packages/loader/src/gltf/parser/MaterialParser.ts
  packages/loader/src/gltf/parser/MeshParser.ts
  packages/loader/src/gltf/parser/Parser.ts
  packages/loader/src/gltf/parser/ParserContext.ts
  packages/loader/src/gltf/parser/SceneParser.ts
  packages/loader/src/gltf/parser/TextureParser.ts
  packages/oasis-engine/package.json
  packages/rhi-webgl/package.json
Labels: feature

#1108 Dev/0.9 merge main
  .github/workflows/release.yml
  lerna.json
  packages/core/src/Component.ts
  packages/core/src/asset/AssetType.ts
  packages/core/src/input/pointer/PointerManager.ts
  packages/core/src/physics/DynamicCollider.ts
  packages/loader/src/AnimatorControllerLoader.ts
  packages/loader/src/MaterialLoader.ts
  packages/loader/src/gltf/GLTFUtil.ts
  packages/loader/src/index.ts
  packages/loader/src/resource-deserialize/index.ts
  packages/loader/src/resource-deserialize/resources/animatorController/AnimatorControllerDecoder.ts
  packages/loader/src/resource-deserialize/resources/animatorController/type.ts
  packages/loader/src/resource-deserialize/resources/prefab/ReflectionParser.ts
  packages/loader/src/resource-deserialize/resources/texture2D/TextureDecoder.ts
  tests/src/core/Script.test.ts
Labels: ignore for release

#1110 Parse filterMode when load gltf texture
  packages/loader/src/gltf/parser/TextureParser.ts
Labels: feature

#1094 `Animator` compoment add default state ability
  packages/core/src/animation/Animator.ts
  packages/core/src/animation/AnimatorController.ts
  packages/core/src/animation/AnimatorStateMachine.ts
  packages/loader/src/AnimatorControllerLoader.ts
  packages/loader/src/index.ts
Labels: feature, animation

#1112 Collider shape support local rotation
  packages/core/src/physics/shape/CapsuleColliderShape.ts
  packages/core/src/physics/shape/ColliderShape.ts
  packages/core/src/physics/shape/PlaneColliderShape.ts
  packages/design/src/physics/shape/IColliderShape.ts
  packages/design/src/physics/shape/IPlaneColliderShape.ts
  packages/physics-lite/src/shape/LiteColliderShape.ts
  packages/physics-physx/src/shape/PhysXCapsuleColliderShape.ts
  packages/physics-physx/src/shape/PhysXColliderShape.ts
  packages/physics-physx/src/shape/PhysXPlaneColliderShape.ts
Labels: enhancement, physical, high priority

#1113 Scene loader support load subasset
  packages/core/src/asset/ResourceManager.ts
Labels: enhancement, ignore for release

#1114 Fix inverse matrix shader bug
  packages/core/src/shaderlib/common.glsl
Labels: bug, Shader, high priority

#1115 Optimization performance for apple device
  packages/core/src/mesh/SkinnedMeshRenderer.ts
  packages/rhi-webgl/src/WebGLRenderer.ts
Labels: bug

#1117 Opt code and comments
  packages/core/src/mesh/SkinnedMeshRenderer.ts
  packages/rhi-webgl/src/WebGLRenderer.ts
Labels: ignore for release

#1118 Fix blend shape in attribue mode exceed gpu upper limit
  packages/core/src/mesh/BlendShapeManager.ts
  packages/core/src/shaderlib/blendShape_input.glsl
  packages/core/src/shaderlib/blendShape_vert.glsl
Labels: bug

#1119 Fix resolve crossfade curve is null
  packages/core/src/animation/internal/AnimationCurveOwner/AnimationCurveOwner.ts
Labels: bug, ignore for release

#1005 `PointerManager` support multi pointer event
  packages/core/src/Script.ts
  packages/core/src/input/InputManager.ts
  packages/core/src/input/enums/PointerButton.ts
  packages/core/src/input/enums/PointerPhase.ts
  packages/core/src/input/pointer/Pointer.ts
  packages/core/src/input/pointer/PointerManager.ts
Labels: feature, Input

#1124 Fix BlinnPhong shader format error
  packages/core/src/shaderlib/mobile_blinnphong_frag.glsl
Labels: bug

#1074 `TextRenderer` support custom font asset
  packages/core/src/2d/text/Font.ts
  packages/core/src/2d/text/SubFont.ts
  packages/core/src/2d/text/TextRenderer.ts
  packages/core/src/2d/text/TextUtils.ts
  packages/core/src/Engine.ts
  packages/core/src/asset/AssetType.ts
  packages/loader/src/FontLoader.ts
  packages/loader/src/SceneLoader.ts
  packages/loader/src/SourceFontLoader.ts
  packages/loader/src/index.ts
  packages/loader/src/resource-deserialize/resources/prefab/ReflectionParser.ts
Labels: feature, Text

#1122 Reset timing is not correct and animatorConroller may be null when enabled
  packages/core/src/animation/Animator.ts
Labels: bug, animation, ignore for release

#1121 Fix update pointer code
  packages/core/src/input/InputManager.ts
  packages/core/src/input/pointer/PointerManager.ts
Labels: bug, Input, ignore for release

#1129 Revert "Revert "`PointerManager` support multi pointer event""
  packages/core/src/Script.ts
  packages/core/src/input/InputManager.ts
  packages/core/src/input/enums/PointerButton.ts
  packages/core/src/input/enums/PointerPhase.ts
  packages/core/src/input/pointer/Pointer.ts
  packages/core/src/input/pointer/PointerManager.ts
Labels: ignore for release

#1130 Revert "Revert "Fix update pointer code""
  packages/core/src/input/InputManager.ts
  packages/core/src/input/pointer/PointerManager.ts
Labels: ignore for release

#1131 Record the `up` and `down` of each `pointer`
  packages/core/src/input/InputManager.ts
  packages/core/src/input/pointer/Pointer.ts
  packages/core/src/input/pointer/PointerManager.ts
Labels: feature, Input

#1080 ModelMesh support calculate tangent
  packages/core/src/mesh/ModelMesh.ts
  packages/core/src/mesh/PrimitiveMesh.ts
Labels: feature, rendering, high priority
