Repository galacean/engine, pull requests merged in 2022-12, with the labels that each got.

#1235 Fix entity findByName bug
  packages/core/src/Entity.ts
  packages/core/src/Scene.ts
  tests/src/core/Entity.test.ts
  tests/src/core/Scene.test.ts
Labels: bug

#1233 Fix quaternion to euler error
  packages/math/src/Quaternion.ts
Labels: bug

#1237 add baker shader for materialLoader
  packages/loader/src/MaterialLoader.ts
Labels: Shader, ignore for release

#1239 Fixed the abnormal rendering of `SpriteRenderer` in `Sliced` mode
  packages/core/src/2d/assembler/SlicedSpriteAssembler.ts
Labels: bug, Sprite

#1238 Add fog ability for `Scene`
  packages/core/src/Scene.ts
  packages/core/src/enums/FogMode.ts
  packages/core/src/fog/EXP2Fog.ts
  packages/core/src/fog/Fog.ts
  packages/core/src/fog/LinearFog.ts
  packages/core/src/fog/index.ts
  packages/core/src/index.ts
  packages/core/src/shaderlib/FogFragment.glsl
  packages/core/src/shaderlib/FogFragmentDeclaration.glsl
  packages/core/src/shaderlib/FogVertex.glsl
  packages/core/src/shaderlib/FogVertexDeclaration.glsl
  packages/core/src/shaderlib/ShaderLib.ts
  packages/core/src/shaderlib/common.glsl
  packages/core/src/shaderlib/extra/blinn-phong.fs.glsl
  packages/core/src/shaderlib/extra/blinn-phong.vs.glsl
  packages/core/src/shaderlib/extra/pbr-specular.fs.glsl
  packages/core/src/shaderlib/extra/pbr.fs.glsl
  packages/core/src/shaderlib/extra/pbr.vs.glsl
  packages/core/src/shaderlib/extra/unlit.fs.glsl
  packages/core/src/shaderlib/extra/unlit.vs.glsl
  packages/core/src/shaderlib/fog_frag.glsl
  packages/core/src/shaderlib/fog_share.glsl
  packages/core/src/shaderlib/fog_vert.glsl
Labels: enhancement, rendering

#1244 Fix color space fog bug
  packages/core/src/shaderlib/extra/blinn-phong.fs.glsl
  packages/core/src/shaderlib/extra/pbr.fs.glsl
  packages/core/src/shaderlib/extra/unlit.fs.glsl
  packages/core/src/shaderlib/pbr/pbr_frag.glsl
Labels: bug, rendering

#1245 Add `fog` ability for` scene`
  packages/core/src/Scene.ts
  packages/core/src/enums/FogMode.ts
  packages/core/src/fog/EXP2Fog.ts
  packages/core/src/fog/Fog.ts
  packages/core/src/fog/LinearFog.ts
  packages/core/src/fog/index.ts
  packages/core/src/index.ts
  packages/core/src/shaderlib/FogFragment.glsl
  packages/core/src/shaderlib/FogFragmentDeclaration.glsl
  packages/core/src/shaderlib/FogVertex.glsl
  packages/core/src/shaderlib/FogVertexDeclaration.glsl
  packages/core/src/shaderlib/ShaderLib.ts
  packages/core/src/shaderlib/common.glsl
  packages/core/src/shaderlib/extra/blinn-phong.fs.glsl
  packages/core/src/shaderlib/extra/blinn-phong.vs.glsl
  packages/core/src/shaderlib/extra/pbr-specular.fs.glsl
  packages/core/src/shaderlib/extra/pbr.fs.glsl
  packages/core/src/shaderlib/extra/pbr.vs.glsl
  packages/core/src/shaderlib/extra/unlit.fs.glsl
  packages/core/src/shaderlib/extra/unlit.vs.glsl
  packages/core/src/shaderlib/fog_frag.glsl
  packages/core/src/shaderlib/fog_share.glsl
  packages/core/src/shaderlib/fog_vert.glsl
  packages/core/src/shaderlib/pbr/pbr_frag.glsl
Labels: enhancement, rendering

#1246 generateMipmap with 1x1 will flash back in uc.
  packages/rhi-webgl/src/GLTexture.ts
Labels: bug, ignore for release

#1247 Reduce shader compile instance count
  packages/core/src/Scene.ts
  packages/core/src/mesh/SkinnedMeshRenderer.ts
  packages/core/src/shaderlib/shadow/shadow_frag_share.glsl
Labels: enhancement

#1248 Optmizaion shadow performance if no cascade
  packages/core/src/shaderlib/extra/blinn-phong.fs.glsl
  packages/core/src/shaderlib/extra/blinn-phong.vs.glsl
  packages/core/src/shaderlib/extra/pbr.vs.glsl
  packages/core/src/shaderlib/pbr/direct_irradiance_frag_define.glsl
  packages/core/src/shaderlib/shadow/ShadowCoord.glsl
  packages/core/src/shaderlib/shadow/ShadowFragmentDeclaration.glsl
  packages/core/src/shaderlib/shadow/ShadowVertex.glsl
  packages/core/src/shaderlib/shadow/ShadowVertexDeclaration.glsl
  packages/core/src/shaderlib/shadow/index.ts
  packages/core/src/shaderlib/shadow/shadow_frag_share.glsl
Labels: enhancement, shadow

#1249 Fix `uniform too many error` when model has blendShape
  packages/core/src/mesh/BlendShapeManager.ts
  packages/core/src/mesh/SkinnedMeshRenderer.ts
Labels: bug

#1242 feat: add scene loader ktx support
  packages/loader/src/gltf/parser/TextureParser.ts
Labels: enhancement, ignore for release

#1262 fix: parse material name
  packages/loader/src/MaterialLoader.ts
Labels: bug, ignore for release

#1259 fix glTF resource cache error
  packages/loader/src/gltf/parser/BufferParser.ts
Labels: bug, ignore for release

#1261 Change PhysicX wasm lib url
  packages/physics-physx/libs/physx.release.js
  packages/physics-physx/src/PhysXPhysics.ts
Labels: physical

#1256 `ModelMesh` support custom vertex element and glTF support `KHR_mesh_quantization` extension
  packages/core/src/graphic/Mesh.ts
  packages/core/src/mesh/BlendShapeManager.ts
  packages/core/src/mesh/ModelMesh.ts
  packages/core/src/mesh/enums/VertexAttribute.ts
  packages/loader/src/gltf/GLTFUtil.ts
  packages/loader/src/gltf/parser/MeshParser.ts
  packages/loader/src/gltf/parser/ParserContext.ts
  packages/rhi-webgl/src/GLPrimitive.ts
Labels: enhancement, high priority

#1266 Fix problem of `EventDispatch` removing the listener function
  packages/core/src/base/EventDispatcher.ts
Labels: bug

#1267 Fix the problem that the pointer is not released
  packages/core/src/input/pointer/PointerManager.ts
Labels: bug, Input

#1264 Add cullingMode for Animator
  packages/core/src/Engine.ts
  packages/core/src/RenderPipeline/BasicRenderPipeline.ts
  packages/core/src/Renderer.ts
  packages/core/src/animation/Animator.ts
  packages/core/src/animation/enums/AnimatorCullingMode.ts
  packages/core/src/animation/index.ts
  packages/core/src/base/Time.ts
  packages/core/src/shadow/ShadowUtils.ts
Labels: enhancement, animation

#1270 Fix compressed glTF animation bug
  packages/loader/src/gltf/GLTFUtil.ts
  packages/loader/src/gltf/parser/AnimationParser.ts
  packages/loader/src/gltf/parser/MeshParser.ts
  packages/loader/src/gltf/parser/ParserContext.ts
  packages/loader/src/gltf/parser/SkinParser.ts
Labels: bug

#1277 Fix `Time` delta inconsistency bug
  packages/core/src/Engine.ts
  packages/core/src/base/Time.ts
Labels: bug

#1275 Improve skinned mesh renderer local bounds compute
  packages/core/src/mesh/SkinnedMeshRenderer.ts
  packages/math/src/Matrix.ts
Labels: enhancement

#1281 Fix shader abnormal compilation times and bug
  packages/core/src/Engine.ts
  packages/core/src/shader/Shader.ts
  packages/core/src/shader/ShaderProgramPool.ts
Labels: bug

#1283 Fix mesh parser bug when two mesh share one buffer
  packages/loader/src/gltf/GLTFUtil.ts
  packages/loader/src/gltf/parser/MeshParser.ts
  packages/loader/src/gltf/parser/ParserContext.ts
Labels: bug

#1285 Fix glTF animation parser
  packages/loader/src/gltf/GLTFUtil.ts
Labels: bug

#1288 Fix physX `destroy()`
  packages/physics-physx/src/PhysXPhysics.ts
Labels: bug

#1291 Fix the bug caused when pointers is an unordered array.
  packages/core/src/input/pointer/PointerManager.ts
Labels: bug, Input

#1293 Fix fog error when mesh weight large than 1.0
  packages/core/src/shaderlib/FogVertex.glsl
Labels: bug

#1290 Opitimization animation parser code and improve paser performance
  packages/core/src/animation/animationCurve/AnimationCurve.ts
  packages/loader/src/gltf/parser/AnimationParser.ts
Labels: enhancement, animation

#1167 Optimization glTF resource memory
  packages/loader/src/gltf/GLTFResource.ts
  packages/loader/src/gltf/GLTFUtil.ts
  packages/loader/src/gltf/extensions/ExtensionParser.ts
  packages/loader/src/gltf/extensions/KHR_draco_mesh_compression.ts
  packages/loader/src/gltf/extensions/KHR_lights_punctual.ts
  packages/loader/src/gltf/extensions/KHR_materials_clearcoat.ts
  packages/loader/src/gltf/extensions/KHR_materials_pbrSpecularGlossiness.ts
  packages/loader/src/gltf/extensions/KHR_materials_unlit.ts
  packages/loader/src/gltf/extensions/KHR_materials_variants.ts
  packages/loader/src/gltf/extensions/KHR_texture_transform.ts
  packages/loader/src/gltf/extensions/OASIS_materials_remap.ts
  packages/loader/src/gltf/parser/AnimationParser.ts
  packages/loader/src/gltf/parser/BufferParser.ts
  packages/loader/src/gltf/parser/EntityParser.ts
  packages/loader/src/gltf/parser/MaterialParser.ts
  packages/loader/src/gltf/parser/MeshParser.ts
  packages/loader/src/gltf/parser/Parser.ts
  packages/loader/src/gltf/parser/ParserContext.ts
  packages/loader/src/gltf/parser/SceneParser.ts
  packages/loader/src/gltf/parser/SkinParser.ts
  packages/loader/src/gltf/parser/TextureParser.ts
  packages/loader/src/gltf/parser/Validator.ts
Labels: enhancement

#1300 Fix asset promise all not resolve
  packages/core/src/asset/AssetPromise.ts
  tests/src/core/AssetPromise.test.ts
Labels: bug

#1303 Optimization physics time update mechanism
  packages/core/src/physics/PhysicsManager.ts
Labels: enhancement

#1305 Add `reject` callback for `initialize` promise of `PhysXPhysics`
  packages/physics-physx/src/PhysXPhysics.ts
Labels: enhancement, physical

#1307 Add `platform` and `operatingSystem` for `SystemInfo` and fix ios 15 rendering error
  packages/core/src/Platform.ts
  packages/core/src/SystemInfo.ts
  packages/core/src/index.ts
  packages/rhi-webgl/src/WebGLRenderer.ts
Labels: bug, enhancement, high priority

#1308 fix `SystemInfo` get `operatingSystem` bug
  packages/core/src/SystemInfo.ts
  packages/rhi-webgl/src/WebGLRenderer.ts
Labels: bug
