Repository galacean/engine, pull requests merged in 2022-11, with the labels that each got.

#1137 Adapter diffuseSolidColor in editor
  packages/loader/src/SceneLoader.ts
Labels: good first issue, ignore for release

#1132 Enhance `SkinnedMeshRenderer` bounds and fix `MeshRenderer` bounds update bug
  packages/core/src/2d/enums/SpriteModifyFlags.ts
  packages/core/src/2d/sprite/Sprite.ts
  packages/core/src/2d/sprite/SpriteMask.ts
  packages/core/src/2d/sprite/SpriteRenderer.ts
  packages/core/src/2d/text/TextRenderer.ts
  packages/core/src/BoolUpdateFlag.ts
  packages/core/src/Engine.ts
  packages/core/src/ListenerUpdateFlag.ts
  packages/core/src/RenderPipeline/BasicRenderPipeline.ts
  packages/core/src/Renderer.ts
  packages/core/src/Transform.ts
  packages/core/src/UpdateFlag.ts
  packages/core/src/UpdateFlagManager.ts
  packages/core/src/graphic/Mesh.ts
  packages/core/src/index.ts
  packages/core/src/mesh/BlendShape.ts
  packages/core/src/mesh/BlendShapeManager.ts
  packages/core/src/mesh/MeshRenderer.ts
  packages/core/src/mesh/SkinnedMeshRenderer.ts
  packages/loader/src/gltf/parser/SkinParser.ts
  packages/math/src/Matrix.ts
  packages/math/src/Vector4.ts
  tests/src/core/MeshRenderer.test.ts
Labels: bug, enhancement

#1142 Fix scene destroy error
  packages/core/src/Entity.ts
  packages/core/src/Scene.ts
  tests/src/core/Entity.test.ts
  tests/src/core/Scene.test.ts
Labels: bug

#1143 Improve `SkinnedMeshRenderer` localbounds compatibility
  packages/core/src/mesh/SkinnedMeshRenderer.ts
Labels: bug

#1148 Fix gltf scene only bug in #1146
  packages/core/src/asset/ResourceManager.ts
  packages/loader/src/gltf/parser/SceneParser.ts
Labels: bug, ignore for release

#1149 Fix `KeyboardEvent` preventDefault bug
  packages/core/src/input/keyboard/KeyboardManager.ts
Labels: bug, Input, ignore for release

#1150 Fix `KeyboardEvent` preventDefault bug
  packages/core/src/input/keyboard/KeyboardManager.ts
Labels: bug, Input, ignore for release

#1153 Fix skinnedRenderer error when rootBone is null
  packages/core/src/mesh/SkinnedMeshRenderer.ts
Labels: bug, ignore for release

#1154 Fix `Entity` get component error when type is `Compoment`
  packages/core/src/Component.ts
Labels: bug

#1156 Enhanced shadows and fixed shadow and math related bugs
  packages/core/src/2d/sprite/SpriteMask.ts
  packages/core/src/2d/sprite/SpriteRenderer.ts
  packages/core/src/2d/text/TextRenderer.ts
  packages/core/src/Camera.ts
  packages/core/src/Engine.ts
  packages/core/src/EngineSettings.ts
  packages/core/src/RenderPipeline/BasicRenderPipeline.ts
  packages/core/src/RenderPipeline/RenderContext.ts
  packages/core/src/RenderPipeline/RenderQueue.ts
  packages/core/src/Renderer.ts
  packages/core/src/Scene.ts
  packages/core/src/lighting/Light.ts
  packages/core/src/lighting/LightManager.ts
  packages/core/src/mesh/MeshRenderer.ts
  packages/core/src/shaderlib/extra/shadow-map.vs.glsl
  packages/core/src/shaderlib/mobile_blinnphong_frag.glsl
  packages/core/src/shaderlib/pbr/direct_irradiance_frag_define.glsl
  packages/core/src/shaderlib/shadow/shadow_frag_share.glsl
  packages/core/src/shadow/CascadedShadowCasterPass.ts
  packages/core/src/shadow/ShadowUtils.ts
  packages/core/src/shadow/enum/ShadowType.ts
  packages/core/src/shadow/index.ts
  packages/core/src/sky/Sky.ts
  packages/core/src/trail/TrailRenderer.ts
  packages/math/src/BoundingFrustum.ts
  packages/math/src/CollisionUtil.ts
Labels: bug, enhancement, rendering, math, ignore for release

#1166 Fix compoment clone bug
  packages/core/src/2d/sprite/SpriteMask.ts
  packages/core/src/2d/sprite/SpriteRenderer.ts
  packages/core/src/Renderer.ts
  packages/core/src/Transform.ts
  packages/core/src/mesh/MeshRenderer.ts
  packages/core/src/mesh/SkinnedMeshRenderer.ts
  packages/core/src/particle/ParticleRenderer.ts
Labels: bug, ignore for release

#1169 Fix glTF parse url error
  packages/loader/src/GLTFLoader.ts
  packages/loader/src/gltf/GLTFUtil.ts
Labels: bug

#1155 Fix animator throw error when the entity dont have the child with target name
  packages/core/src/animation/Animator.ts
Labels: bug

#1171 Fix shadow edge slight rendering exception
  packages/core/src/2d/sprite/SpriteMask.ts
  packages/core/src/2d/sprite/SpriteRenderer.ts
  packages/core/src/2d/text/TextRenderer.ts
  packages/core/src/Camera.ts
  packages/core/src/RenderPipeline/BasicRenderPipeline.ts
  packages/core/src/RenderPipeline/RenderContext.ts
  packages/core/src/Renderer.ts
  packages/core/src/VirtualCamera.ts
  packages/core/src/mesh/MeshRenderer.ts
  packages/core/src/mesh/SkinnedMeshRenderer.ts
  packages/core/src/shaderlib/extra/shadow-map.vs.glsl
  packages/core/src/shadow/CascadedShadowCasterPass.ts
  packages/core/src/shadow/ShadowSliceData.ts
  packages/core/src/shadow/ShadowUtils.ts
  packages/core/src/trail/TrailRenderer.ts
Labels: bug

#1174 Refactor curve index cache
  packages/core/src/animation/AnimationClipCurveBinding.ts
  packages/core/src/animation/Animator.ts
  packages/core/src/animation/animationCurve/AnimationArrayCurve.ts
  packages/core/src/animation/animationCurve/AnimationBoolCurve.ts
  packages/core/src/animation/animationCurve/AnimationColorCurve.ts
  packages/core/src/animation/animationCurve/AnimationCurve.ts
  packages/core/src/animation/animationCurve/AnimationFloatArrayCurve.ts
  packages/core/src/animation/animationCurve/AnimationFloatCurve.ts
  packages/core/src/animation/animationCurve/AnimationQuaternionCurve.ts
  packages/core/src/animation/animationCurve/AnimationVector2Curve.ts
  packages/core/src/animation/animationCurve/AnimationVector3Curve.ts
  packages/core/src/animation/animationCurve/AnimationVector4Curve.ts
  packages/core/src/animation/animationCurve/interfaces/IAnimationCurveCalculator.ts
  packages/core/src/animation/index.ts
  packages/core/src/animation/internal/AnimationCurveOwner/AnimationCurveOwner.ts
  packages/core/src/animation/internal/AnimatorStateData.ts
  packages/core/src/animation/internal/CrossCurveData.ts
  packages/core/src/shadow/CascadedShadowCasterPass.ts
  packages/loader/src/index.ts
Labels: bug

#1123 Add animation clip loader
  packages/loader/src/AnimationClipLoader.ts
  packages/loader/src/index.ts
Labels: animation, ignore for release

#1177 fix material loader
  packages/loader/src/MaterialLoader.ts
Labels: bug, ignore for release

#1178 fix: material loader
  packages/loader/src/MaterialLoader.ts
Labels: bug, ignore for release

#1175 Fix shadowType `softHight` bug and shadow rendering error when large than `shadowDistance` bug
  packages/core/src/Utils.ts
  packages/core/src/mesh/SkinnedMeshRenderer.ts
  packages/core/src/shader/state/RasterState.ts
  packages/core/src/shaderlib/extra/shadow-map.vs.glsl
  packages/core/src/shaderlib/shadow/shadow_frag_share.glsl
  packages/core/src/shaderlib/shadow/shadow_sample_tent.glsl
  packages/core/src/shadow/CascadedShadowCasterPass.ts
  packages/core/src/shadow/ShadowUtils.ts
  packages/rhi-webgl/src/WebGLRenderer.ts
Labels: bug, enhancement

#1180 Fix `Animator event` wrong distribution problem
  packages/core/src/animation/Animator.ts
Labels: bug

#1179 Fix `Animator event` wrong distribution problem
  packages/core/src/animation/Animator.ts
Labels: bug

#1183 Fix shadow normal bias error bug
  packages/core/src/shaderlib/extra/shadow-map.vs.glsl
Labels: bug, rendering

#1195 Fix `getResourceByRef` bug
  packages/core/src/2d/text/TextUtils.ts
  packages/core/src/asset/ResourceManager.ts
Labels: bug, ignore for release

#1200 Fix entity getComponents order is not expected
  packages/core/src/Entity.ts
Labels: bug

#1201 Fix `getComponents` result order
  packages/core/src/Entity.ts
Labels: bug

#1203 Optimizatin shadow and fix bug
  packages/core/src/shader/ShaderProgram.ts
  packages/core/src/shaderlib/shadow/shadow_frag_share.glsl
  packages/core/src/shadow/CascadedShadowCasterPass.ts
  packages/core/src/shadow/ShadowUtils.ts
Labels: bug

#1206 Optimization uniform occupy
  packages/core/src/shaderlib/ShaderLib.ts
  packages/core/src/shaderlib/camera_declare.glsl
  packages/core/src/shaderlib/common_vert.glsl
  packages/core/src/shaderlib/extra/blinn-phong.fs.glsl
  packages/core/src/shaderlib/extra/pbr-specular.fs.glsl
  packages/core/src/shaderlib/extra/pbr.fs.glsl
  packages/core/src/shaderlib/transform_declare.glsl
Labels: bug, Shader, high priority

#1210 Fix blendShape bug
  packages/core/src/mesh/BlendShapeManager.ts
  packages/core/src/mesh/SkinnedMeshRenderer.ts
Labels: bug

#1209 Enhanced compatibility of glTF skeleton
  packages/loader/src/gltf/parser/SkinParser.ts
Labels: bug

#1205 Clear resourceManager editor special code
  packages/core/src/asset/ResourceManager.ts
  packages/loader/src/AnimatorControllerLoader.ts
  packages/loader/src/MaterialLoader.ts
  packages/loader/src/SceneLoader.ts
  packages/loader/src/SpriteLoader.ts
  packages/loader/src/gltf/extensions/OASIS_materials_remap.ts
Labels: ignore for release

#1199 improve compatibility `AnimatorControllerLoader`
  packages/loader/src/AnimatorControllerLoader.ts
Labels: ignore for release

#1219 Fix virtual res load error
  packages/core/src/asset/ResourceManager.ts
Labels: bug, ignore for release

#1214 Fix default value revert bug when switch call `crossFade` and `play`, and the play state have different curve target
  packages/core/src/animation/Animator.ts
Labels: bug, animation, high priority

#1222 Add a force fludh bug to avoid iOS bug
  packages/core/src/Camera.ts
  packages/core/src/Engine.ts
  packages/core/src/lighting/Light.ts
  packages/core/src/shadow/CascadedShadowCasterPass.ts
  packages/core/src/shadow/ShadowUtils.ts
  packages/rhi-webgl/src/WebGLRenderer.ts
Labels: bug

#1225 Fix animation revert bug when play same state many times
  packages/core/src/animation/Animator.ts
Labels: bug, animation

#1226 Fix crossFade bug when loop playback
  packages/core/src/animation/Animator.ts
Labels: bug, animation
