Repository galacean/engine, pull requests merged in 2023-12, with the labels that each got.

#1890 Fix by passing 0.0 avoids precision issues and optimizes performance
  packages/core/src/shaderlib/blendShape_vert.glsl
Labels: bug, enhancement

#1894 `ParticleGradient` support `colorKeys` and `alphaKeys` modification
  packages/core/src/particle/modules/ParticleGradient.ts
  tests/src/core/particle/ParticleGradient.test.ts
Labels: enhancement, particle

#1897 Shaderlab detect shader with duplicate name
  packages/core/src/shader/Shader.ts
  tests/src/shader-lab/ShaderLab.test.ts
Labels: shader

#1900 ci: upgrade husky version
  .husky/commit-msg
  .husky/pre-commit
  package.json
  pnpm-lock.yaml
Labels: engineering, ignore for release

#1898 Complement texture loader params
  packages/loader/src/Texture2DLoader.ts
Labels: enhancement, texture

#1904 Fixed where script functions were in the wrong order when reactivating a entity
  packages/core/src/Entity.ts
  tests/src/core/Script.test.ts
Labels: bug, script

#1899 SceneLoader add shadow cascade splits parser
  packages/loader/src/SceneLoader.ts
  packages/loader/src/resource-deserialize/resources/schema/SceneSchema.ts
Labels: ignore for release, shadow

#1907 parse layer
  packages/loader/src/resource-deserialize/resources/parser/ReflectionParser.ts
  packages/loader/src/resource-deserialize/resources/schema/BasicSchema.ts
Labels: ignore for release

#1909 fix: unit test
  tests/src/core/Animator.test.ts
Labels: test, ignore for release

#1910 Feat: temporary resolution of submesh rendering order
  packages/core/src/RenderPipeline/RenderQueue.ts
  packages/core/src/material/Material.ts
Labels: ignore for release

#1912 Fix bug of BendShape precision
  packages/core/src/shaderlib/blendShape_vert.glsl
Labels: bug, animation

#1914 Fix text renderer wrap error
  packages/core/src/2d/text/TextUtils.ts
  tests/src/core/2d/text/TextUtils.test.ts
Labels: bug, text

#1656 Add e2e test
  .gitattributes
  .github/HOW_TO_CONTRIBUTE.md
  .github/workflows/ci.yml
  .gitignore
  .husky/post-checkout
  .husky/post-commit
  .husky/post-merge
  .husky/pre-push
  README.md
  cypress.config.ts
  e2e/.dev/AlibabaSans.ttf
  e2e/.dev/index.html
  e2e/.dev/index.js
  e2e/.dev/index.sass
  e2e/.dev/template/iframe.ejs
  e2e/.dev/vite.config.js
  e2e/case/.mockForE2E.ts
  e2e/case/animator-additive.ts
  e2e/case/animator-blendShape.ts
  e2e/case/animator-crossfade.ts
  e2e/case/animator-customAnimationClip.ts
  e2e/case/animator-customBlendShape.ts
  e2e/case/animator-event.ts
  e2e/case/animator-play.ts
  e2e/case/animator-reuse.ts
  e2e/case/animator-stateMachineScript.ts
  e2e/fixtures/originImage/Animator_animator-additive.png
  e2e/fixtures/originImage/Animator_animator-blendShape.png
  e2e/fixtures/originImage/Animator_animator-crossfade.png
  e2e/fixtures/originImage/Animator_animator-customAnimationClip.png
  e2e/fixtures/originImage/Animator_animator-customBlendShape.png
  e2e/fixtures/originImage/Animator_animator-event.png
  e2e/fixtures/originImage/Animator_animator-play.png
  e2e/fixtures/originImage/Animator_animator-reuse.png
  e2e/fixtures/originImage/Animator_animator-stateMachineScript.png
  e2e/package.json
  e2e/support/commands.ts
  e2e/support/e2e.ts
  e2e/tests/animator.cy.ts
  e2e/tsconfig.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: test, high priority

#1915 Fix component disable error when do `enabled = false` in `onAwake` method
  packages/core/src/Component.ts
  tests/src/core/Script.test.ts
Labels: bug

#1916 Ignore git-lfs husky sh
  .gitignore
Labels: ignore for release

#1917 Delete ignore file
  .husky/post-checkout
  .husky/post-commit
  .husky/post-merge
  .husky/pre-push
Labels: ignore for release

#1911 `Shader` support `destroy()`
  packages/core/src/Engine.ts
  packages/core/src/material/BaseMaterial.ts
  packages/core/src/material/Material.ts
  packages/core/src/mesh/MeshRenderer.ts
  packages/core/src/particle/ParticleRenderer.ts
  packages/core/src/shader/Shader.ts
  packages/core/src/shader/ShaderPass.ts
  packages/core/src/shader/ShaderProgramPool.ts
  tests/src/shader-lab/ShaderLab.test.ts
Labels: enhancement, shader

#1895 AnimationCurve's property support string, object, array and method
  packages/core/src/animation/AnimationClip.ts
  packages/core/src/animation/AnimationClipCurveBinding.ts
  packages/core/src/animation/Keyframe.ts
  packages/core/src/animation/animationCurve/AnimationFloatCurve.ts
  packages/core/src/animation/animationCurve/AnimationStringCurve.ts
  packages/core/src/animation/animationCurve/index.ts
  packages/core/src/animation/internal/animationCurveOwner/AnimationCurveOwner.ts
  packages/core/src/animation/internal/animationCurveOwner/assembler/UniversalAnimationCurveOwnerAssembler.ts
  packages/loader/src/AnimationClipLoader.ts
  packages/loader/src/resource-deserialize/resources/animationClip/AnimationClipDecoder.ts
Labels: enhancement, animation

#1811 Support anisotropy in pbr
  packages/core/src/material/PBRMaterial.ts
  packages/core/src/shaderlib/normal_get.glsl
  packages/core/src/shaderlib/normal_share.glsl
  packages/core/src/shaderlib/normal_vert.glsl
  packages/core/src/shaderlib/pbr/brdf.glsl
  packages/core/src/shaderlib/pbr/direct_irradiance_frag_define.glsl
  packages/core/src/shaderlib/pbr/ibl_frag_define.glsl
  packages/core/src/shaderlib/pbr/pbr_frag.glsl
  packages/core/src/shaderlib/pbr/pbr_frag_define.glsl
  packages/core/src/shaderlib/pbr/pbr_helper.glsl
  packages/loader/src/gltf/extensions/GLTFExtensionSchema.ts
  packages/loader/src/gltf/extensions/KHR_materials_anisotropy.ts
  packages/loader/src/gltf/extensions/index.ts
Labels: enhancement, high priority, material

#1931 Use texture if the atlas fails to load
  packages/loader/src/SpriteLoader.ts
Labels: bug, ignore for release, sprite

#1918 Add material tests for e2e
  .github/workflows/ci.yml
  .gitignore
  cypress.config.ts
  e2e/case/.mockForE2E.ts
  e2e/case/animator-additive.ts
  e2e/case/animator-blendShape.ts
  e2e/case/animator-crossfade.ts
  e2e/case/animator-customAnimationClip.ts
  e2e/case/animator-customBlendShape.ts
  e2e/case/animator-event.ts
  e2e/case/animator-play.ts
  e2e/case/animator-reuse.ts
  e2e/case/animator-stateMachineScript.ts
  e2e/case/material-blendMode.ts
  e2e/case/material-blinn-phong.ts
  e2e/case/material-pbr-clearcoat.ts
  e2e/case/material-pbr.ts
  e2e/case/material-shaderLab.ts
  e2e/case/material-shaderReplacement.ts
  e2e/case/material-unlit.ts
  e2e/fixtures/originImage/Animator_animator-additive.jpg
  e2e/fixtures/originImage/Animator_animator-additive.png
  e2e/fixtures/originImage/Animator_animator-blendShape.jpg
  e2e/fixtures/originImage/Animator_animator-blendShape.png
  e2e/fixtures/originImage/Animator_animator-crossfade.jpg
  e2e/fixtures/originImage/Animator_animator-crossfade.png
  e2e/fixtures/originImage/Animator_animator-customAnimationClip.jpg
  e2e/fixtures/originImage/Animator_animator-customAnimationClip.png
  e2e/fixtures/originImage/Animator_animator-customBlendShape.jpg
  e2e/fixtures/originImage/Animator_animator-customBlendShape.png
  e2e/fixtures/originImage/Animator_animator-event.jpg
  e2e/fixtures/originImage/Animator_animator-event.png
  e2e/fixtures/originImage/Animator_animator-play.jpg
  e2e/fixtures/originImage/Animator_animator-play.png
  e2e/fixtures/originImage/Animator_animator-reuse.jpg
  e2e/fixtures/originImage/Animator_animator-reuse.png
  e2e/fixtures/originImage/Animator_animator-stateMachineScript.jpg
  e2e/fixtures/originImage/Animator_animator-stateMachineScript.png
  e2e/fixtures/originImage/Material_material-blendMode.jpg
  e2e/fixtures/originImage/Material_material-blinn-phong.jpg
  e2e/fixtures/originImage/Material_material-pbr-clearcoat.jpg
  e2e/fixtures/originImage/Material_material-pbr.jpg
  e2e/fixtures/originImage/Material_material-shaderLab.jpg
  e2e/fixtures/originImage/Material_material-shaderReplacement.jpg
  e2e/fixtures/originImage/Material_material-unlit.jpg
  e2e/package.json
  e2e/support/commands.ts
  e2e/tests/animator.cy.ts
  e2e/tests/material.cy.ts
  pnpm-lock.yaml
Labels: test

#1932 Temp fix text black border render error
  packages/core/src/2d/text/SubFont.ts
Labels: ignore for release, text

#1628 Feat: CatmullClark subdivision surface for sphere in primitive mesh
  packages/core/src/mesh/PrimitiveMesh.ts
  packages/core/src/mesh/PrimitiveMeshRestorer.ts
  tests/src/core/mesh/PrimitiveMesh.test.ts
Labels: enhancement, high priority, mesh
