Repository galacean/engine, pull requests merged in 2023-01, with the labels that each got.

#1317 Fix gltf `KHR_texture_transform` extension parser
  packages/loader/src/gltf/extensions/KHR_materials_clearcoat.ts
  packages/loader/src/gltf/extensions/KHR_materials_pbrSpecularGlossiness.ts
  packages/loader/src/gltf/parser/MaterialParser.ts
Labels: bug, breaking, glTF

#1319 Fix asset promise catch bug
  packages/core/src/asset/ResourceManager.ts
  packages/loader/src/SceneLoader.ts
Labels: bug, resource

#1323 Fix `WebGLRendererOptions` does not take effect BUG
  packages/rhi-webgl/src/WebGLRenderer.ts
Labels: bug

#1314 Fix `EventDispatcher` off error
  packages/core/src/base/EventDispatcher.ts
  tests/src/core/base/EventDispatcher.test.ts
Labels: bug

#1330 Fix measure text width of some special characters is zero
  packages/core/src/2d/text/TextUtils.ts
Labels: bug

#1321 Export some internal api for `CanvasRenderer` plugin
  packages/core/src/2d/text/TextRenderer.ts
  packages/core/src/2d/text/TextUtils.ts
  packages/core/src/2d/text/index.ts
  packages/core/src/Background.ts
  packages/core/src/Engine.ts
  packages/core/src/RenderPipeline/Basic2DBatcher.ts
  packages/core/src/RenderPipeline/RenderQueue.ts
  packages/core/src/RenderPipeline/SpriteElement.ts
  packages/core/src/index.ts
Labels: design

#1325 Fix `Transform` updateflag will be called multiple times in one change
  packages/core/src/Transform.ts
Labels: bug

#1336 Fix skinnedMeshRenderer rootBone set invalid bug
  packages/core/src/mesh/SkinnedMeshRenderer.ts
  packages/core/src/shader/ShaderPass.ts
Labels: bug

#1337 Adjust canvas default `alpha`
  packages/rhi-webgl/src/WebGLRenderer.ts
Labels: enhancement

#1276 Fix text black border
  packages/core/src/2d/text/TextUtils.ts
Labels: bug, Text

#1328 Fix custom assets bounds is not parsed
  packages/loader/src/resource-deserialize/resources/mesh/IModelMesh.d.ts
  packages/loader/src/resource-deserialize/resources/mesh/MeshDecoder.ts
Labels: ignore for release

#1342 enhance physics API calling by using binding and fix default value
  packages/core/src/physics/CharacterController.ts
  packages/core/src/physics/DynamicCollider.ts
  packages/core/src/physics/PhysicsManager.ts
  packages/core/src/physics/PhysicsMaterial.ts
  packages/core/src/physics/joint/HingeJoint.ts
  packages/core/src/physics/joint/SpringJoint.ts
  packages/core/src/physics/shape/BoxColliderShape.ts
  packages/core/src/physics/shape/CapsuleColliderShape.ts
  packages/core/src/physics/shape/ColliderShape.ts
  packages/core/src/physics/shape/SphereColliderShape.ts
  packages/physics-physx/src/PhysXDynamicCollider.ts
  packages/physics-physx/src/joint/PhysXSpringJoint.ts
  packages/physics-physx/src/shape/PhysXColliderShape.ts
Labels: enhancement, physical, high priority, breaking

#1279 Adapt to the compatibility issue of `InputManager` on Firefox
  packages/core/src/input/pointer/PointerManager.ts
Labels: bug, Input
