Repository galacean/engine, pull requests merged in 2023-09, with the labels that each got.

#1724 Fix multi scene script error and GC problem
  packages/core/src/ComponentsManager.ts
  packages/core/src/DisorderedArray.ts
  packages/core/src/Script.ts
  packages/core/src/input/pointer/Pointer.ts
  packages/core/src/physics/PhysicsScene.ts
  tests/src/loader/GLTFLoader.test.ts
Labels: bug

#1683 test(MeshRenderer): update unit test case of `MeshRenderer`
  tests/src/core/MeshRenderer.test.ts
Labels: test, ignore for release

#1690 test(SkinnedMeshRenderer): update unit test case of `SkinnedMeshRenderer`
  tests/src/core/SkinnedMeshRenderer.test.ts
Labels: test, ignore for release

#1691 test(BufferMesh): update unit test case of `BufferMesh`
  tests/src/core/mesh/BufferMesh.test.ts
Labels: test, ignore for release

#1684 test(PrimitiveMesh): update unit test case of `PrimitiveMesh`
  tests/src/core/mesh/PrimitiveMesh.test.ts
Labels: bug, ignore for release

#1725 Fix delay add scene can't fire `onEnbaleInScene` bug
  packages/core/src/Entity.ts
  packages/core/src/Scene.ts
  packages/core/src/SceneManager.ts
  packages/loader/src/SceneLoader.ts
Labels: bug

#1707 Fix the `script component` reporting an error when `remove entity`
  tests/src/core/Script.test.ts
Labels: bug, ignore for release

#1731 Fix unit test timeout
  tests/src/core/2d/text/Font.test.ts
  tests/src/core/2d/text/TextRenderer.test.ts
  tests/src/core/2d/text/TextUtils.test.ts
  tests/src/core/Animator.test.ts
  tests/src/core/Camera.test.ts
  tests/src/core/CompomentDependencies.test.ts
  tests/src/core/MeshRenderer.test.ts
  tests/src/core/ModelMesh.test.ts
  tests/src/core/Scene.test.ts
  tests/src/core/SkinnedMeshRenderer.test.ts
  tests/src/core/Transform.test.ts
  tests/src/core/base/Time.test.ts
  tests/src/core/material/BaseMaterial.test.ts
  tests/src/core/material/BlinnPhongMaterial.test.ts
  tests/src/core/material/Material.test.ts
  tests/src/core/material/PBRBaseMaterial.test.ts
  tests/src/core/material/PBRMaterial.test.ts
  tests/src/core/material/PBRSpecularMaterial.test.ts
  tests/src/core/material/UnlitMaterial.test.ts
  tests/src/core/physics/CharacterController.test.ts
  tests/src/core/physics/Collider.test.ts
  tests/src/core/physics/PhysicsManager.test.ts
  tests/src/core/resource/ResourceManager.test.ts
  tests/src/core/texture/RenderTarget.test.ts
  tests/src/core/texture/Texture2D.test.ts
  tests/src/core/texture/TextureCubeMap.test.ts
  tests/src/loader/GLTFLoader.test.ts
  tests/src/loader/KTX2Loader.test.ts
Labels: test, ignore for release

#1727 Shaderlab support #include macro and optimize glsl related syntax
  packages/core/src/shaderlib/ShaderFactory.ts
  packages/design/src/shader-lab/IShaderLab.ts
  packages/shader-lab/src/Ast2GLSLUtils.ts
  packages/shader-lab/src/AstNodeUtils.ts
  packages/shader-lab/src/RuntimeContext.ts
  packages/shader-lab/src/ShaderVisitor.ts
  packages/shader-lab/src/ast-node/AstNode.ts
  packages/shader-lab/src/ast-node/AstNodeContent.ts
  packages/shader-lab/src/parser/ShaderParser.ts
  packages/shader-lab/src/parser/tokens/GLSLKeywords.ts
  packages/shader-lab/src/parser/tokens/GLSLTypes.ts
  packages/shader-lab/src/parser/tokens/Symbol.ts
  packages/shader-lab/src/parser/tokens/index.ts
  packages/shader-lab/src/types.ts
  pnpm-lock.yaml
  tests/src/shader-lab/ShaderLab.test.ts
  tests/src/shader-lab/ShaderValidate.ts
  tests/src/shader-lab/shaders/demo.shader
  tests/src/shader-lab/shaders/syntax.shader
  tests/src/shader-lab/shaders/unlit.shader
Labels: enhancement, Shader

#1734 Fixed an issue where animation playback skipped the first frame
  packages/core/src/ComponentsManager.ts
  packages/core/src/animation/Animator.ts
  tests/src/core/Animator.test.ts
Labels: bug, animation

#1739 Optimization DisorderedArray code
  packages/core/src/ComponentsManager.ts
  packages/core/src/DisorderedArray.ts
  packages/core/src/input/pointer/Pointer.ts
  packages/core/src/physics/PhysicsScene.ts
Labels: ignore for release

#1623 Support sprite animation
  packages/core/src/animation/Keyframe.ts
  packages/core/src/animation/animationCurve/AnimationArrayCurve.ts
  packages/core/src/animation/animationCurve/AnimationBoolCurve.ts
  packages/core/src/animation/animationCurve/AnimationColorCurve.ts
  packages/core/src/animation/animationCurve/AnimationCurve.ts
  packages/core/src/animation/animationCurve/AnimationFloatArrayCurve.ts
  packages/core/src/animation/animationCurve/AnimationFloatCurve.ts
  packages/core/src/animation/animationCurve/AnimationQuaternionCurve.ts
  packages/core/src/animation/animationCurve/AnimationRectCurve.ts
  packages/core/src/animation/animationCurve/AnimationRefCurve.ts
  packages/core/src/animation/animationCurve/AnimationVector2Curve.ts
  packages/core/src/animation/animationCurve/AnimationVector3Curve.ts
  packages/core/src/animation/animationCurve/AnimationVector4Curve.ts
  packages/core/src/animation/animationCurve/index.ts
  packages/core/src/animation/animationCurve/interfaces/IAnimationCurveCalculator.ts
  packages/core/src/animation/internal/AnimationCurveLayerOwner.ts
  packages/core/src/animation/internal/animationCurveOwner/AnimationCurveOwner.ts
  packages/loader/src/AnimationClipLoader.ts
  packages/loader/src/resource-deserialize/resources/animationClip/AnimationClipDecoder.ts
Labels: enhancement, animation

#1742 Fix unit test
  packages/core/src/graphic/Primitive.ts
  tests/src/core/mesh/PrimitiveMesh.test.ts
Labels: ignore for release

#1703 test(BlendShape): add unit test case of BlendShape
  tests/src/core/mesh/BlendShape.test.ts
Labels: test, ignore for release

#1704 test(BlendShapeManager): add unit test case of `BlendShapeManager`
  tests/src/core/mesh/BlendShapeManager.test.ts
Labels: test, ignore for release

#1702 test(Light): add unit test case of `Light`
  tests/src/core/Animator.test.ts
  tests/src/core/Light.test.ts
  tests/src/core/model/ambientLight.ts
  tests/src/core/model/fox.ts
Labels: test, ignore for release

#1695 fix: the boundary value of exitTime issue with crossFade
  packages/core/src/animation/AnimationClip.ts
  packages/core/src/animation/Animator.ts
  packages/core/src/animation/AnimatorState.ts
  packages/core/src/animation/internal/AnimatorStatePlayData.ts
  tests/src/core/Animator.test.ts
Labels: bug, animation

#1688 Update `isActive` when entity is destroyed.
  packages/core/src/Engine.ts
  packages/core/src/Entity.ts
  tests/src/core/Entity.test.ts
Labels: bug

#1697 Fix the bug of loading gltf when there is no default scene.
  packages/loader/src/gltf/parser/GLTFEntityParser.ts
Labels: bug, glTF

#1743 Fix `HingeJoint` `useLimits` and `useMotor` bug
  packages/core/src/physics/enums/HingeJointFlag.ts
  packages/core/src/physics/joint/HingeJoint.ts
Labels: bug, physical

#1747 Fix lite physics collider shape scale bug
  packages/physics-lite/src/shape/LiteBoxColliderShape.ts
  packages/physics-lite/src/shape/LiteColliderShape.ts
  packages/physics-lite/src/shape/LiteSphereColliderShape.ts
  packages/physics-physx/src/shape/PhysXBoxColliderShape.ts
  packages/physics-physx/src/shape/PhysXCapsuleColliderShape.ts
  packages/physics-physx/src/shape/PhysXColliderShape.ts
Labels: bug, physical

#1730 feat: add project loader
  packages/core/src/asset/AssetType.ts
  packages/loader/src/ProjectLoader.ts
  packages/loader/src/SceneLoader.ts
  packages/loader/src/resource-deserialize/resources/schema/ProjectSchema.ts
  packages/loader/src/resource-deserialize/resources/schema/index.ts
Labels: enhancement, resource, ignore for release

#1746 Add `copyToArray` and `copyFromArray` to `Color`
  packages/math/src/Color.ts
  tests/src/core/Light.test.ts
  tests/src/math/Color.test.ts
Labels: enhancement

#1749 Fix the problem that the first frame of pointer's `deltaPosition` is incorrect
  packages/core/src/input/pointer/PointerManager.ts
  tests/src/core/input/InputManager.test.ts
Labels: bug, Input

#1744 ShaderLab add `UsePass` directive
  packages/core/src/RenderPipeline/BasicRenderPipeline.ts
  packages/core/src/RenderPipeline/CullingResults.ts
  packages/core/src/RenderPipeline/RenderQueue.ts
  packages/core/src/shader/Shader.ts
  packages/core/src/shader/ShaderPart.ts
  packages/core/src/shader/ShaderPass.ts
  packages/core/src/shader/ShaderPool.ts
  packages/core/src/shader/SubShader.ts
  packages/core/src/shader/enums/RenderStateElementKey.ts
  packages/core/src/shader/state/RenderState.ts
  packages/core/src/shaderlib/ShaderFactory.ts
  packages/design/src/shader-lab/ISubShaderInfo.ts
  packages/shader-lab/scripts/GenDts.ts
  packages/shader-lab/src/Ast2GLSLUtils.ts
  packages/shader-lab/src/AstNodeUtils.ts
  packages/shader-lab/src/Constants.ts
  packages/shader-lab/src/RuntimeContext.ts
  packages/shader-lab/src/ShaderVisitor.ts
  packages/shader-lab/src/ast-node/AstNode.ts
  packages/shader-lab/src/ast-node/AstNodeContent.ts
  packages/shader-lab/src/parser/ShaderParser.ts
  packages/shader-lab/src/parser/tokens/Keyword.ts
  packages/shader-lab/src/parser/tokens/TokenUtils.ts
  packages/shader-lab/src/parser/tokens/Value.ts
  packages/shader-lab/src/parser/tokens/index.ts
  packages/shader-lab/src/parser/tokens/render-state/RenderQueue.ts
  packages/shader-lab/src/parser/tokens/render-state/index.ts
  packages/shader-lab/src/types.ts
  pnpm-lock.yaml
  tests/src/shader-lab/ShaderLab.test.ts
  tests/src/shader-lab/ShaderValidate.ts
  tests/src/shader-lab/demo.shader
  tests/src/shader-lab/shaders/demo.shader
  tests/src/shader-lab/shaders/planarShadow.shader
  tests/src/shader-lab/shaders/syntax.shader
  tests/src/shader-lab/shaders/unlit.shader
Labels: enhancement, Shader

#1751 Remove useless log
  packages/core/src/animation/Animator.ts
Labels: ignore for release

#1752 Fix `Script` destroy bug and render bug
  packages/core/src/Entity.ts
  packages/core/src/RenderPipeline/BasicRenderPipeline.ts
  packages/core/src/RenderPipeline/SpriteMaskBatcher.ts
  packages/core/src/sky/Sky.ts
Labels: bug, rendering

#1745 Feat/main thread ktx2
  packages/loader/src/ktx2/KTX2Loader.ts
  packages/loader/src/ktx2/transcoder/BinomialLLCTranscoder.ts
  packages/loader/src/ktx2/transcoder/BinomialLLCWorkerCode.ts
Labels: enhancement, resource

#1753 Fix clone error
  packages/core/src/shader/state/BlendState.ts
  packages/core/src/shader/state/RenderState.ts
Labels: bug

#1755 Add physx unit timeout
  tests/src/core/physics/CharacterController.test.ts
  tests/src/core/physics/Collider.test.ts
Labels: test, ignore for release

#1757 Clear `ParticleRenderer` code and opt memory
  packages/core/src/particle/ParticleGenerator.ts
  packages/core/src/particle/modules/MainModule.ts
  packages/core/src/particle/modules/RotationOverLifetimeModule.ts
  packages/core/src/particle/modules/TextureSheetAnimationModule.ts
Labels: enhancement, ignore for release

#1756 BlendShape anim compatible with multiple SkinMeshRenderer in on…
  packages/core/src/animation/internal/animationCurveOwner/assembler/BlendShapeWeightsAnimationCurveOwnerAssembler.ts
  packages/loader/src/gltf/parser/GLTFAnimationParser.ts
Labels: bug, animation

#1764 Fix BlendShape anim compatible with multiple SkinMeshRenderer in on… …
  packages/core/src/animation/internal/animationCurveOwner/assembler/BlendShapeWeightsAnimationCurveOwnerAssembler.ts
  packages/loader/src/gltf/parser/AnimationParser.ts
Labels: bug, animation

#1759 Fix light shader data abnormal when multiple scenes are activated
  packages/core/src/lighting/DirectLight.ts
  packages/core/src/lighting/Light.ts
  packages/core/src/lighting/LightManager.ts
  packages/core/src/lighting/PointLight.ts
  packages/core/src/lighting/SpotLight.ts
  tests/src/core/Light.test.ts
Labels: bug

#1760 Opt SpriteBatch code
  packages/core/src/RenderPipeline/SpriteBatcher.ts
  packages/core/src/RenderPipeline/SpriteMaskBatcher.ts
Labels: enhancement, ignore for release

#1758 fix: project loader not exported
  packages/loader/src/index.ts
Labels: ignore for release

#1765 Fix swc dep
  package.json
Labels: ignore for release

#1767 Fix `viewportPointToRay` triggers precision issues when the depth value is 1
  packages/core/src/Camera.ts
  tests/src/core/Camera.test.ts
Labels: bug

#1770 Fix Script destroy bug
  packages/core/src/Script.ts
Labels: bug

#1417 Support entity reference
  packages/loader/src/resource-deserialize/resources/parser/ReflectionParser.ts
  packages/loader/src/resource-deserialize/resources/scene/SceneParser.ts
  packages/loader/src/resource-deserialize/resources/scene/SceneParserContext.ts
  packages/loader/src/resource-deserialize/resources/schema/BasicSchema.ts
Labels: enhancement, ignore for release

#1771 Fix 1.0 texture name
  packages/loader/src/gltf/parser/GLTFTextureParser.ts
Labels: bug

#1772 Fix glTF texture name error
  packages/loader/src/gltf/parser/GLTFTextureParser.ts
Labels: bug

#1773 Fix background abnormal when there are multiple scenes
  packages/core/src/Background.ts
  packages/core/src/Engine.ts
  packages/core/src/RenderPipeline/BasicRenderPipeline.ts
Labels: bug

#1761 test(PrimitiveMesh): fix timeout of unit test case of `PrimitiveMesh`
  tests/src/core/mesh/PrimitiveMesh.test.ts
Labels: test, ignore for release

#1776 Fix the `length` is not declared in `ComponentManager.handlingInvalidScripts`
  packages/core/src/ComponentsManager.ts
Labels: bug

#1778 fix(shader-lab): compatible with empty macro
  packages/shader-lab/src/RuntimeContext.ts
  tests/src/shader-lab/ShaderLab.test.ts
  tests/src/shader-lab/shaders/triangle.shader
Labels: Shader, ignore for release

#1780 Fix `ParticleGenerator` can't generate doc
  packages/core/src/particle/ParticleGenerator.ts
  packages/core/src/particle/index.ts
Labels: documentation, ignore for release

#1779 Fix `PointerManager` raycast bug
  packages/core/src/input/pointer/PointerManager.ts
Labels: bug, Input

#1785 Fix particle relate export error
  packages/core/src/particle/index.ts
  packages/core/src/particle/modules/ParticleGeneratorModule.ts
Labels: documentation, ignore for release

#1784 Fix background texture render abnormal
  packages/core/src/Background.ts
Labels: bug

#1789 Complement the syntax of `break` and `continue` statement
  packages/shader-lab/src/ShaderVisitor.ts
  packages/shader-lab/src/ast-node/AstNode.ts
  packages/shader-lab/src/parser/ShaderParser.ts
  packages/shader-lab/src/parser/tokens/GLSLKeywords.ts
  packages/shader-lab/src/types.ts
  tests/src/shader-lab/shaders/triangle.shader
Labels: Shader

#1791 Fix `DisorderedArray.foreach` error when looping
  packages/core/src/ComponentsManager.ts
  packages/core/src/DisorderedArray.ts
  packages/core/src/input/pointer/Pointer.ts
  packages/core/src/physics/PhysicsScene.ts
  tests/src/core/Script.test.ts
Labels: bug

#1792 Fix blendShape animation
  packages/core/src/animation/internal/animationCurveOwner/AnimationCurveOwner.ts
  tests/src/core/Animator.test.ts
Labels: bug, animation

#1794 Fix ktx2 transcode error
  packages/loader/src/ktx2/transcoder/AbstractTranscoder.ts
  packages/loader/src/ktx2/transcoder/BinomialLLCTranscoder.ts
  packages/loader/src/ktx2/transcoder/BinomialLLCWorkerCode.ts
Labels: bug

#1797 Fix `Renderer._bounds` clone bug
  packages/core/src/Renderer.ts
Labels: bug

#1798 Use sh from ambient light when customAmbient exist
  packages/loader/src/SceneLoader.ts
Labels: bug, ignore for release
