Repository galacean/engine, pull requests merged in 2023-04, with the labels that each got.

#1448 Light support cull mask
  packages/core/src/Renderer.ts
  packages/core/src/lighting/DirectLight.ts
  packages/core/src/lighting/Light.ts
  packages/core/src/lighting/PointLight.ts
  packages/core/src/lighting/SpotLight.ts
  packages/core/src/shaderlib/RendererFragmentDeclaration.glsl
  packages/core/src/shaderlib/ShaderLib.ts
  packages/core/src/shaderlib/extra/blinn-phong.fs.glsl
  packages/core/src/shaderlib/extra/pbr.fs.glsl
  packages/core/src/shaderlib/light_frag_define.glsl
  packages/core/src/shaderlib/mobile_blinnphong_frag.glsl
  packages/core/src/shaderlib/pbr/direct_irradiance_frag_define.glsl
Labels: enhancement, Shader

#1449 Fix light cull mask and support webgl1.0
  packages/core/src/shader/ShaderProgram.ts
  packages/core/src/shaderlib/RendererFragmentDeclaration.glsl
  packages/core/src/shaderlib/light_frag_define.glsl
  packages/core/src/shaderlib/mobile_blinnphong_frag.glsl
  packages/core/src/shaderlib/pbr/direct_irradiance_frag_define.glsl
Labels: bug

#1451 Fix multi light cull mask bug
  packages/core/src/Renderer.ts
  packages/core/src/lighting/DirectLight.ts
  packages/core/src/lighting/PointLight.ts
  packages/core/src/lighting/SpotLight.ts
Labels: bug, rendering

#1452 Temporary solution to duplicate bone names
  packages/loader/src/gltf/parser/SkinParser.ts
Labels: bug, glTF

#1067 Fix update `SpriteAtlas` loading logic
  packages/core/src/2d/atlas/types.ts
  packages/core/src/2d/sprite/Sprite.ts
  packages/loader/src/SpriteAtlasLoader.ts
  packages/loader/src/SpriteLoader.ts
Labels: enhancement, medium priority, ignore for release, Sprite

#1457 Fix `SpriteLoader` and `SpriteAtlasLoader` import error
  packages/loader/src/SpriteAtlasLoader.ts
  packages/loader/src/SpriteLoader.ts
Labels: bug, ignore for release

#1459 build: update swc helper error
  package.json
Labels: engineering, ignore for release

#1363 `CharacterController` support transform `scale` and shape `position`
  packages/physics-physx/src/PhysXCharacterController.ts
  packages/physics-physx/src/shape/PhysXBoxColliderShape.ts
  packages/physics-physx/src/shape/PhysXCapsuleColliderShape.ts
  packages/physics-physx/src/shape/PhysXColliderShape.ts
  packages/physics-physx/src/shape/PhysXPlaneColliderShape.ts
  packages/physics-physx/src/shape/PhysXSphereColliderShape.ts
Labels: enhancement, physical, high priority

#1430 Refactor skybox material
  packages/core/src/lighting/AmbientLight.ts
  packages/core/src/shaderlib/extra/skybox.fs.glsl
  packages/core/src/shaderlib/extra/skybox.vs.glsl
  packages/core/src/sky/SkyBoxMaterial.ts
  packages/loader/src/EnvLoader.ts
  packages/loader/src/HDRLoader.ts
  packages/loader/src/SceneLoader.ts
Labels: enhancement, breaking

#1461 `ResourceManager` add `getFromCache` method
  packages/core/src/asset/ResourceManager.ts
  tests/src/core/resource/ResourceManager.test.ts
Labels: enhancement, resource

#1460 build: set galacean global name
  packages/galacean-engine/package.json
  packages/physics-lite/package.json
  packages/physics-physx/package.json
  rollup.config.js
Labels: engineering, ignore for release

#1462 Support get `ModelMesh` position data create by `glTF Loader`
  packages/loader/src/GLTFLoader.ts
  packages/loader/src/gltf/parser/MeshParser.ts
Labels: enhancement, ignore for release

#1463 Fix shader breaking
  packages/core/src/shaderlib/RendererFragmentDeclaration.glsl
  packages/core/src/shaderlib/ShaderLib.ts
  packages/core/src/shaderlib/extra/blinn-phong.fs.glsl
  packages/core/src/shaderlib/extra/pbr.fs.glsl
  packages/core/src/shaderlib/light_frag_define.glsl
Labels: bug, Shader, ignore for release

#1454 chore: lint readme & simplify npmrc
  .npmrc
  README.md
Labels: engineering, ignore for release

#1424 `ResourceManager` support base url
  packages/core/src/UpdateFlag.ts
  packages/core/src/UpdateFlagManager.ts
  packages/core/src/Utils.ts
  packages/core/src/asset/ResourceManager.ts
  packages/core/src/base/Util.ts
  packages/core/src/base/index.ts
  packages/core/src/index.ts
  packages/loader/src/GLTFContentRestorer.ts
  packages/loader/src/gltf/GLTFUtils.ts
  packages/loader/src/gltf/extensions/KHR_draco_mesh_compression.ts
  packages/loader/src/gltf/index.ts
  packages/loader/src/gltf/parser/GLTFAnimationParser.ts
  packages/loader/src/gltf/parser/GLTFBufferParser.ts
  packages/loader/src/gltf/parser/GLTFMeshParser.ts
  packages/loader/src/gltf/parser/GLTFSkinParser.ts
  packages/loader/src/gltf/parser/GLTFTextureParser.ts
  packages/loader/src/resource-deserialize/utils/BufferReader.ts
  packages/loader/src/resource-deserialize/utils/FileHeader.ts
  packages/physics-lite/src/LiteUpdateFlag.ts
Labels: resource, high priority

#1469 Fix material macro bug
  packages/core/src/material/BlinnPhongMaterial.ts
  packages/core/src/material/PBRBaseMaterial.ts
  packages/core/src/material/PBRMaterial.ts
  packages/core/src/material/PBRSpecularMaterial.ts
  packages/core/src/material/UnlitMaterial.ts
  packages/core/src/shaderlib/begin_viewdir_frag.glsl
  packages/core/src/shaderlib/blendShape_vert.glsl
  packages/core/src/shaderlib/normal_get.glsl
  packages/core/src/shaderlib/normal_share.glsl
  packages/core/src/shaderlib/normal_vert.glsl
  packages/core/src/shaderlib/pbr/direct_irradiance_frag_define.glsl
  packages/core/src/shaderlib/pbr/pbr_frag.glsl
  packages/core/src/shaderlib/pbr/pbr_frag_define.glsl
  packages/core/src/shaderlib/pbr/pbr_helper.glsl
  packages/core/src/shaderlib/skinning_vert.glsl
  packages/core/src/shaderlib/uv_vert.glsl
  packages/core/src/shaderlib/worldpos_share.glsl
  packages/core/src/shaderlib/worldpos_vert.glsl
Labels: bug, ignore for release

#1473 Fix shader name error and OffscreenCanvas
  packages/core/src/shaderlib/pbr/pbr_frag_define.glsl
  packages/rhi-webgl/src/WebGLEngine.ts
Labels: bug, ignore for release

#1472 Temp support read bone indices and bone weight
  packages/loader/src/gltf/parser/MeshParser.ts
Labels: enhancement, ignore for release

#1479 Open max allow skin uniform vector count and improve compatibility
  packages/core/src/mesh/SkinnedMeshRenderer.ts
  packages/rhi-webgl/src/WebGLRenderer.ts
Labels: bug, ignore for release

#1484 Support disable vertex color in `MeshRenderer`
  packages/core/src/mesh/MeshRenderer.ts
  packages/loader/src/gltf/parser/SceneParser.ts
Labels: enhancement

#1489 Fix viewport bug when camera has render target
  packages/rhi-webgl/src/WebGLGraphicDevice.ts
Labels: bug, rendering

#1490 Fix render target viewport bug
  packages/rhi-webgl/src/WebGLRenderer.ts
Labels: bug

#1488 Support ior for `PBRMaterial` and glTF plugin
  packages/core/src/material/PBRMaterial.ts
  packages/core/src/shaderlib/pbr/pbr_frag_define.glsl
  packages/core/src/shaderlib/pbr/pbr_helper.glsl
  packages/loader/src/gltf/extensions/KHR_materials_ior.ts
  packages/loader/src/gltf/extensions/index.ts
Labels: enhancement, rendering

#1487 Support ior for PBRMaterial and glTF plugin
  packages/core/src/material/PBRMaterial.ts
  packages/core/src/shaderlib/pbr/pbr_frag_define.glsl
  packages/core/src/shaderlib/pbr/pbr_helper.glsl
  packages/loader/src/gltf/extensions/KHR_materials_ior.ts
  packages/loader/src/gltf/extensions/index.ts
  packages/loader/src/gltf/parser/MaterialParser.ts
Labels: enhancement, rendering

#1491 Fix compile error
  packages/core/src/2d/atlas/FontAtlas.ts
  packages/core/src/2d/atlas/SpriteAtlas.ts
  packages/core/src/2d/sprite/Sprite.ts
  packages/core/src/2d/sprite/SpriteMask.ts
  packages/core/src/2d/sprite/SpriteRenderer.ts
  packages/core/src/2d/text/Font.ts
  packages/core/src/2d/text/TextRenderer.ts
  packages/core/src/Camera.ts
  packages/core/src/Component.ts
  packages/core/src/Engine.ts
  packages/core/src/Renderer.ts
  packages/core/src/Script.ts
  packages/core/src/asset/GraphicsResource.ts
  packages/core/src/asset/ReferResource.ts
  packages/core/src/env-probe/CubeProbe.ts
  packages/core/src/graphic/Buffer.ts
  packages/core/src/graphic/Mesh.ts
  packages/core/src/lighting/Light.ts
  packages/core/src/mesh/MeshRenderer.ts
  packages/core/src/mesh/ModelMesh.ts
  packages/core/src/mesh/SkinnedMeshRenderer.ts
  packages/core/src/physics/Collider.ts
  packages/core/src/texture/RenderTarget.ts
  packages/core/src/texture/Texture.ts
  packages/core/src/trail/TrailRenderer.ts
  packages/loader/src/gltf/GLTFResource.ts
  packages/rhi-webgl/src/WebGLEngine.ts
Labels: bug, ignore for release

#1493 Fix shader error ior
  packages/core/src/shaderlib/pbr/pbr_helper.glsl
Labels: bug, ignore for release

#1494 fix shader error ior
  packages/core/src/shaderlib/pbr/pbr_helper.glsl
Labels: bug, ignore for release

#1497 Fix shadow bug cause by viewport
  packages/core/src/shadow/CascadedShadowCasterPass.ts
Labels: bug

#1498 Fix shadow bug
  packages/core/src/shadow/CascadedShadowCasterPass.ts
Labels: bug

#1501 fix 2d batcher error
  packages/core/src/RenderPipeline/Basic2DBatcher.ts
Labels: bug

#1502 Fix 2d batcher error
  packages/core/src/RenderPipeline/Basic2DBatcher.ts
Labels: bug

#1505 Add clip loader
  packages/loader/src/AnimationClipLoader.ts
  packages/loader/src/index.ts
Labels: animation, ignore for release
