Repository galacean/engine, pull requests merged in 2023-11, with the labels that each got.

#1854 ParticleGenerator support `simulationSpeed`
  packages/core/src/particle/ParticleGenerator.ts
Labels: enhancement, particle

#1855 Fix(ShaderLab): make `UsePass` directive compatible with all builtin shader names
  packages/shader-lab/package.json
  packages/shader-lab/src/parser/tokens/Value.ts
  tests/src/shader-lab/shaders/demo.shader
Labels: bug, shader

#1740 Add unit test case of `ColliderShape`
  tests/src/core/physics/ColliderShape.test.ts
Labels: test, physics

#1823 Add sunSource
  packages/core/src/RenderPipeline/BasicRenderPipeline.ts
  packages/core/src/Scene.ts
  packages/core/src/lighting/Light.ts
  packages/core/src/lighting/LightManager.ts
  packages/core/src/shadow/CascadedShadowCasterPass.ts
Labels: bug, enhancement

#1856 Fix ShaderLab umd package compilation and circle reference
  packages/shader-lab/src/AstNodeUtils.ts
  packages/shader-lab/src/ShaderLab.ts
  packages/shader-lab/src/index.ts
  rollup.config.js
Labels: shader, engineering

#1857 Fix sunlight error
  packages/core/src/RenderPipeline/BasicRenderPipeline.ts
  packages/core/src/Scene.ts
  packages/core/src/shadow/CascadedShadowCasterPass.ts
Labels: bug

#1859 Fix ShaderLab compatible with no varying variable
  packages/shader-lab/src/Ast2GLSLUtils.ts
  packages/shader-lab/src/ast-node/AstNode.ts
  packages/shader-lab/src/ast-node/AstNodeContent.ts
  tests/src/shader-lab/ShaderLab.test.ts
  tests/src/shader-lab/shaders/noFragArgs.shader
  tests/src/shader-lab/shaders/planarShadow.shader
Labels: bug, shader

#1863 Add recursive object parse
  packages/loader/src/resource-deserialize/resources/parser/ReflectionParser.ts
Labels: enhancement

#1860 Fix url clamp bug
  packages/core/src/asset/ResourceManager.ts
Labels: bug, loader

#1865 Add recursive class and methods
  packages/loader/src/resource-deserialize/resources/parser/ReflectionParser.ts
Labels: ignore for release

#1868 Refactor glTF BlendShape animation
  packages/core/src/Entity.ts
  packages/core/src/animation/AnimationClip.ts
  packages/core/src/animation/AnimationClipCurveBinding.ts
  packages/core/src/animation/Animator.ts
  packages/core/src/animation/internal/animationCurveOwner/AnimationCurveOwner.ts
  packages/core/src/animation/internal/animationCurveOwner/assembler/BlendShapeWeightsAnimationCurveOwnerAssembler.ts
  packages/loader/src/gltf/parser/GLTFAnimationParser.ts
  tests/src/core/SpriteMask.test.ts
  tests/src/core/SpriteRenderer.test.ts
Labels: enhancement, animation, glTF

#1866 Set `SpriteMask.sprite` to null after destroying the sprite.
  packages/core/src/2d/sprite/SpriteMask.ts
  tests/src/core/Sprite.test.ts
Labels: bug, sprite

#1867 Fix asset promise
  packages/core/src/asset/AssetPromise.ts
  packages/core/src/asset/ResourceManager.ts
  tests/src/core/AssetPromise.test.ts
Labels: bug

#1864 Fix sky material destroy bug
  packages/core/src/mesh/MeshRenderer.ts
  packages/core/src/shader/ShaderProgram.ts
  packages/core/src/sky/Sky.ts
Labels: bug

#1872 Fix camera aspect ratio
  packages/core/src/Camera.ts
  tests/src/core/Camera.test.ts
Labels: bug, camera

#1870 Update unit test case of `Shader`
  tests/src/core/Shader.test.ts
Labels: test, shader

#1873 Fix camera crash error in Script
  packages/core/src/Camera.ts
  packages/core/src/ComponentsManager.ts
  packages/core/src/DisorderedArray.ts
  packages/core/src/Engine.ts
  packages/core/src/RenderPipeline/RenderQueue.ts
  packages/core/src/Scene.ts
  packages/core/src/Utils.ts
  packages/core/src/input/pointer/PointerManager.ts
Labels: bug

#1877 Fix ktx2 transcode to bc size need multiple of 4
  packages/loader/src/ktx2/transcoder/BinomialLLCWorkerCode.ts
Labels: bug, texture

#1878 Animation compatible when component cannot be found
  packages/core/src/animation/AnimationClip.ts
  packages/core/src/animation/AnimationClipCurveBinding.ts
  packages/core/src/animation/Animator.ts
  packages/core/src/animation/internal/animationCurveOwner/AnimationCurveOwner.ts
Labels: bug, animation

#1875 MaterialLoader support `Boolean` and `Integer` uniform data setting
  packages/loader/src/MaterialLoader.ts
  packages/loader/src/resource-deserialize/resources/schema/MaterialSchema.ts
  packages/shader-lab/package.json
  packages/shader-lab/src/RuntimeContext.ts
  packages/shader-lab/src/parser/tokens/GLSLTypes.ts
Labels: enhancement, material

#1879 SpriteAtlas support ktx2
  packages/core/src/2d/atlas/types.ts
  packages/loader/src/SpriteAtlasLoader.ts
Labels: sprite, loader, texture

#1280 Add animation layer mask
  packages/core/src/animation/Animator.ts
  packages/core/src/animation/AnimatorControllerLayer.ts
  packages/core/src/animation/AnimatorLayerMask.ts
  packages/core/src/animation/LayerPathMask.ts
  packages/core/src/animation/index.ts
  packages/core/src/animation/internal/AnimationCurveLayerOwner.ts
  tests/src/core/Animator.test.ts
Labels: enhancement, animation, high priority

#1880 Fix viewport resize bug
  packages/core/src/Camera.ts
  packages/core/src/Canvas.ts
  packages/core/src/index.ts
  packages/rhi-webgl/src/WebCanvas.ts
Labels: bug

#1883 Fix merge scene error
  packages/core/src/SceneManager.ts
Labels: bug

#1835 Support glTF progress
  packages/core/src/asset/AssetPromise.ts
  packages/core/src/asset/ResourceManager.ts
  packages/core/src/asset/request.ts
  packages/loader/src/GLTFLoader.ts
  packages/loader/src/SpriteAtlasLoader.ts
  packages/loader/src/Texture2DLoader.ts
  packages/loader/src/gltf/extensions/GALACEAN_materials_remap.ts
  packages/loader/src/gltf/extensions/KHR_texture_basisu.ts
  packages/loader/src/gltf/parser/GLTFBufferParser.ts
  packages/loader/src/gltf/parser/GLTFParserContext.ts
  packages/loader/src/gltf/parser/GLTFSchemaParser.ts
  packages/loader/src/gltf/parser/GLTFTextureParser.ts
  packages/loader/src/ktx2/KTX2Loader.ts
  tests/src/core/AssetPromise.test.ts
Labels: enhancement, glTF

#1885 KTX2Loader support auto priority
  packages/loader/src/index.ts
  packages/loader/src/ktx2/KTX2Loader.ts
Labels: bug

#1882 Provide `shaderlab` compiled AST related context for the VSCode extension
  packages/shader-lab/src/AstNodeUtils.ts
  packages/shader-lab/src/RuntimeContext.ts
  packages/shader-lab/src/ShaderLab.ts
  packages/shader-lab/src/ShaderVisitor.ts
  packages/shader-lab/src/ast-node/AstNode.ts
  packages/shader-lab/src/ast-node/AstNodeContent.ts
  packages/shader-lab/src/index.ts
  packages/shader-lab/src/parser/ShaderParser.ts
  packages/shader-lab/src/parser/tokens/Other.ts
  packages/shader-lab/src/types.ts
  tests/src/shader-lab/ShaderLab.test.ts
  tests/src/shader-lab/ShaderValidate.ts
  tests/src/shader-lab/shaders/glass.shader
  tests/src/shader-lab/shaders/waterfull.shader
Labels: enhancement, shader

#1886 Update adapter miniprogram rollup config with `URLSearchParams`
  rollup.miniprogram.plugin.js
Labels: bug

#1887 Fix set texture ref count error in ShaderData
  packages/core/src/shader/ShaderData.ts
Labels: bug

#1889 Fix call transform.translate error after call transform.position = new Vector3(x, x, x)
  packages/core/src/Transform.ts
Labels: bug

#1888 Fix rollup shaderlab es module package
  rollup.config.js
Labels: engineering, ignore for release
