Repository galacean/engine, pull requests merged in 2023-02, with the labels that each got.

#1340 Add `frustumContainsPoint` to `CollisionUtil`
  packages/math/src/CollisionUtil.ts
  tests/src/math/CollisionUtil.test.ts
Labels: math

#1344 Fix animator not update when speed is 0
  packages/core/src/animation/Animator.ts
Labels: bug, animation

#1355 Refactor input uses `engine.time.frameCount`
  packages/core/src/input/InputManager.ts
  packages/core/src/input/interface/IInput.ts
  packages/core/src/input/keyboard/KeyboardManager.ts
  packages/core/src/input/pointer/PointerManager.ts
  packages/core/src/input/wheel/WheelManager.ts
Labels: enhancement, Input, ignore for release

#1358 Replace babel to swc
  babel.config.js
  package.json
  rollup.config.js
Labels: engineering

#1334 refactor: split parse component and entity
  packages/loader/src/resource-deserialize/resources/prefab/PrefabDesign.ts
  packages/loader/src/resource-deserialize/resources/prefab/PrefabParser.ts
  packages/loader/src/resource-deserialize/resources/prefab/ReflectionParser.ts
  packages/loader/src/resource-deserialize/resources/scene/SceneParser.ts
  packages/loader/src/resource-deserialize/resources/scene/SceneParserContext.ts
Labels: resource, ignore for release

#1360 Update Readme.md
  README.md
Labels: ignore for release

#1362 Use swc es5 to improve compatibility
  rollup.config.js
Labels: ignore for release

#1367 Fix blend shape bug when model mesh vertex buffer large than 1
  packages/core/src/mesh/BlendShapeManager.ts
  packages/core/src/mesh/ModelMesh.ts
Labels: bug, animation

#1381 Optimization `Transform` direction related API
  packages/core/src/Camera.ts
  packages/core/src/Transform.ts
  packages/core/src/lighting/DirectLight.ts
  packages/core/src/lighting/SpotLight.ts
  packages/core/src/shadow/CascadedShadowCasterPass.ts
  tests/src/core/Transform.test.ts
Labels: enhancement, breaking
