Repository galacean/engine, pull requests merged in 2023-06, with the labels that each got.

#1579 Fix `gc()` bug cause by resource refer count
  packages/core/src/2d/atlas/SpriteAtlas.ts
  packages/core/src/2d/sprite/Sprite.ts
  packages/core/src/2d/sprite/SpriteMask.ts
  packages/core/src/2d/sprite/SpriteRenderer.ts
  packages/core/src/2d/text/SubFont.ts
  packages/core/src/Background.ts
  packages/core/src/Camera.ts
  packages/core/src/Engine.ts
  packages/core/src/RenderPipeline/Basic2DBatcher.ts
  packages/core/src/Scene.ts
  packages/core/src/graphic/Mesh.ts
  packages/core/src/shader/ShaderData.ts
  packages/core/src/shadow/CascadedShadowCasterPass.ts
  packages/core/src/sky/Sky.ts
  packages/core/src/texture/RenderTarget.ts
Labels: bug, resource

#1580 Open `_maxAllowSkinUniformVectorCount` in config
  packages/core/src/mesh/SkinnedMeshRenderer.ts
  packages/rhi-webgl/src/WebGLGraphicDevice.ts
Labels: ignore for release

#1582 Fix gc() bug cause by resource refer count
  packages/core/src/2d/atlas/SpriteAtlas.ts
  packages/core/src/2d/sprite/Sprite.ts
  packages/core/src/2d/sprite/SpriteMask.ts
  packages/core/src/2d/sprite/SpriteRenderer.ts
  packages/core/src/2d/text/SubFont.ts
  packages/core/src/Background.ts
  packages/core/src/Engine.ts
  packages/core/src/RenderPipeline/Basic2DBatcher.ts
  packages/core/src/Scene.ts
  packages/core/src/graphic/Mesh.ts
  packages/core/src/shader/ShaderData.ts
  packages/core/src/shadow/CascadedShadowCasterPass.ts
  packages/core/src/sky/Sky.ts
  packages/core/src/texture/RenderTarget.ts
Labels: bug, ignore for release

#1584 Fix reload gltf error after `gc`
  packages/core/src/Entity.ts
  packages/core/src/material/Material.ts
  packages/loader/src/gltf/GLTFResource.ts
  packages/loader/src/gltf/parser/EntityParser.ts
Labels: bug, resource, ignore for release, glTF

#1590 Fix garbage collection bug
  packages/core/src/2d/sprite/SpriteMask.ts
  packages/core/src/2d/sprite/SpriteRenderer.ts
  packages/core/src/Background.ts
  packages/core/src/Camera.ts
  packages/core/src/Entity.ts
  packages/core/src/RenderPipeline/ClassPool.ts
  packages/core/src/RenderPipeline/IPoolElement.ts
  packages/core/src/RenderPipeline/MeshRenderElement.ts
  packages/core/src/RenderPipeline/SpriteElement.ts
  packages/core/src/RenderPipeline/SpriteMaskElement.ts
  packages/core/src/RenderPipeline/TextRenderElement.ts
  packages/core/src/Renderer.ts
  packages/core/src/Scene.ts
  packages/core/src/animation/internal/AnimationEventHandler.ts
  packages/core/src/asset/ResourceManager.ts
  packages/core/src/graphic/Mesh.ts
  packages/core/src/graphic/SubMesh.ts
  packages/core/src/material/Material.ts
  packages/core/src/mesh/MeshRenderer.ts
  packages/core/src/mesh/SkinnedMeshRenderer.ts
  packages/loader/src/gltf/GLTFResource.ts
  packages/loader/src/gltf/parser/GLTFEntityParser.ts
Labels: bug

#1592 Fix garbage collection bug
  packages/core/src/2d/sprite/SpriteMask.ts
  packages/core/src/2d/sprite/SpriteRenderer.ts
  packages/core/src/Background.ts
  packages/core/src/Camera.ts
  packages/core/src/RenderPipeline/ClassPool.ts
  packages/core/src/RenderPipeline/IPoolElement.ts
  packages/core/src/RenderPipeline/MeshRenderElement.ts
  packages/core/src/RenderPipeline/SpriteElement.ts
  packages/core/src/RenderPipeline/SpriteMaskElement.ts
  packages/core/src/RenderPipeline/TextRenderElement.ts
  packages/core/src/Renderer.ts
  packages/core/src/Scene.ts
  packages/core/src/animation/internal/AnimationEventHandler.ts
  packages/core/src/asset/ResourceManager.ts
  packages/core/src/graphic/Mesh.ts
  packages/core/src/graphic/SubMesh.ts
  packages/core/src/material/Material.ts
  packages/core/src/mesh/MeshRenderer.ts
  packages/core/src/mesh/SkinnedMeshRenderer.ts
  packages/loader/src/gltf/GLTFResource.ts
Labels: bug, resource

#1589 `Texture2D` support dynamic usage for better performance
  packages/core/src/texture/Texture.ts
  packages/core/src/texture/Texture2D.ts
  packages/core/src/texture/enums/TextureUsage.ts
  packages/core/src/texture/index.ts
  packages/rhi-webgl/src/GLTexture.ts
  packages/rhi-webgl/src/GLTexture2D.ts
Labels: enhancement, resource

#1593 Texture2D support dynamic usage for better performance (#1589)
  packages/core/src/texture/Texture.ts
  packages/core/src/texture/Texture2D.ts
  packages/core/src/texture/enums/TextureUsage.ts
  packages/core/src/texture/index.ts
  packages/rhi-webgl/src/GLTexture.ts
  packages/rhi-webgl/src/GLTexture2D.ts
Labels: enhancement, resource

#1594 Add `gc` timing judgment
  packages/core/src/ComponentsManager.ts
  packages/core/src/Engine.ts
  packages/core/src/asset/ResourceManager.ts
  packages/core/src/lighting/LightManager.ts
  packages/core/src/physics/PhysicsManager.ts
Labels: bug, ignore for release

#1476 Fix additive bug when base layer don't have the additive layer's animation target
  packages/core/src/animation/AnimationClip.ts
  packages/core/src/animation/AnimationClipCurveBinding.ts
  packages/core/src/animation/Animator.ts
  packages/core/src/animation/animationCurve/AnimationArrayCurve.ts
  packages/core/src/animation/animationCurve/AnimationBoolCurve.ts
  packages/core/src/animation/animationCurve/AnimationColorCurve.ts
  packages/core/src/animation/animationCurve/AnimationCurve.ts
  packages/core/src/animation/animationCurve/AnimationFloatArrayCurve.ts
  packages/core/src/animation/animationCurve/AnimationFloatCurve.ts
  packages/core/src/animation/animationCurve/AnimationQuaternionCurve.ts
  packages/core/src/animation/animationCurve/AnimationVector2Curve.ts
  packages/core/src/animation/animationCurve/AnimationVector3Curve.ts
  packages/core/src/animation/animationCurve/AnimationVector4Curve.ts
  packages/core/src/animation/animationCurve/interfaces/IAnimationCurveCalculator.ts
  packages/core/src/animation/enums/LayerState.ts
  packages/core/src/animation/internal/AnimationCurveLayerOwner.ts
  packages/core/src/animation/internal/AnimatorLayerData.ts
  packages/core/src/animation/internal/animationCurveOwner/AnimationCurveOwner.ts
Labels: bug, animation

#1598 Fix additive bug when base layer don't have the additive layer's animation target
  packages/core/src/animation/AnimationClip.ts
  packages/core/src/animation/AnimationClipCurveBinding.ts
  packages/core/src/animation/Animator.ts
  packages/core/src/animation/animationCurve/AnimationArrayCurve.ts
  packages/core/src/animation/animationCurve/AnimationBoolCurve.ts
  packages/core/src/animation/animationCurve/AnimationColorCurve.ts
  packages/core/src/animation/animationCurve/AnimationCurve.ts
  packages/core/src/animation/animationCurve/AnimationFloatArrayCurve.ts
  packages/core/src/animation/animationCurve/AnimationFloatCurve.ts
  packages/core/src/animation/animationCurve/AnimationQuaternionCurve.ts
  packages/core/src/animation/animationCurve/AnimationVector2Curve.ts
  packages/core/src/animation/animationCurve/AnimationVector3Curve.ts
  packages/core/src/animation/animationCurve/AnimationVector4Curve.ts
  packages/core/src/animation/animationCurve/interfaces/IAnimationCurveCalculator.ts
  packages/core/src/animation/enums/LayerState.ts
  packages/core/src/animation/internal/AnimationCurveLayerOwner.ts
  packages/core/src/animation/internal/AnimatorLayerData.ts
  packages/core/src/animation/internal/AnimatorStateData.ts
  packages/core/src/animation/internal/animationCurveOwner/AnimationCurveOwner.ts
Labels: bug, animation

#1600 fix: blendshape error
  packages/core/src/animation/AnimationClipCurveBinding.ts
Labels: bug, animation, ignore for release

#1605 Fix additive bug and error
  packages/core/src/animation/Animator.ts
Labels: animation, ignore for release

#1607 Fix additive error
  packages/core/src/animation/Animator.ts
Labels: bug, animation, ignore for release

#1609 Fix: additive error and onStateExit call times error
  packages/core/src/animation/Animator.ts
Labels: bug, ignore for release

#1611 Fix pack physics miniprogram error
  package.json
  pnpm-lock.yaml
  rollup.config.js
Labels: bug

#1614 Fix pack physics miniprogram error
  package.json
  pnpm-lock.yaml
  rollup.config.js
Labels: bug

#1612 Fix additive bug when base layer don't have the additive layer's animation target
  packages/core/src/animation/Animator.ts
  packages/core/src/animation/internal/animationCurveOwner/AnimationCurveOwner.ts
Labels: bug, animation, ignore for release

#1616 Fix additive bug when base layer don't have the additive layer's animation target #1612
  packages/core/src/animation/Animator.ts
  packages/core/src/animation/internal/animationCurveOwner/AnimationCurveOwner.ts
Labels: bug, animation, ignore for release

#1618 Fix additive bug when base layer don't have the additive layer's animation target
  packages/core/src/animation/Animator.ts
Labels: bug, animation, ignore for release

#1620 Fix 2d buffer size error
  packages/core/src/RenderPipeline/Basic2DBatcher.ts
Labels: bug

#1615 Fix resource can't catch bug in loader
  packages/loader/src/GLTFLoader.ts
  packages/loader/src/resource-deserialize/resources/scene/EditorTextureLoader.ts
  packages/loader/src/resource-deserialize/resources/scene/MeshLoader.ts
Labels: bug, resource

#1619 Fix resource can't catch bug in loader
  packages/loader/src/GLTFLoader.ts
  packages/loader/src/resource-deserialize/resources/scene/EditorTextureLoader.ts
  packages/loader/src/resource-deserialize/resources/scene/MeshLoader.ts
Labels: bug

#1617 Throw error in AssetPromise
  packages/loader/src/GLTFLoader.ts
  packages/loader/src/resource-deserialize/resources/scene/EditorTextureLoader.ts
  packages/loader/src/resource-deserialize/resources/scene/MeshLoader.ts
Labels: bug, resource

#1621 Fix text can not rendering in ios 16.5 and 16.6
  packages/core/src/2d/text/TextUtils.ts
Labels: bug

#1588 Model Mesh supports two-way data synchronization
  packages/core/src/animation/Animator.ts
  packages/core/src/graphic/Buffer.ts
  packages/core/src/graphic/BufferUtil.ts
  packages/core/src/graphic/Mesh.ts
  packages/core/src/graphic/VertexElement.ts
  packages/core/src/mesh/BlendShapeManager.ts
  packages/core/src/mesh/ModelMesh.ts
  packages/core/src/mesh/PrimitiveMesh.ts
  packages/core/src/mesh/PrimitiveMeshRestorer.ts
  packages/core/src/mesh/index.ts
  packages/core/src/renderingHardwareInterface/IPlatformBuffer.ts
  packages/loader/src/gltf/parser/GLTFMeshParser.ts
  packages/rhi-webgl/src/GLBuffer.ts
  packages/rhi-webgl/src/GLPrimitive.ts
  tests/src/core/ModelMesh.test.ts
  tests/src/core/Script.test.ts
Labels: enhancement, resource, mesh

#1567 Update unit test case of `Animator`
  tests/index.ts
  tests/src/core/Animator.test.ts
  tests/src/core/model/index.ts
Labels: test, animation, ignore for release

#1624 Fix material destroy bug
  packages/core/src/material/Material.ts
Labels: bug

#1606 Add unit test case of `Font`
  tests/src/core/2d/text/Font.test.ts
Labels: test, ignore for release

#1622 Add value change listener for `Sprite`
  packages/core/src/2d/sprite/Sprite.ts
  packages/math/src/Rect.ts
Labels: enhancement, Sprite
