Repository galacean/engine, pull requests merged in 2023-10, with the labels that each got.

#1804 Fix scene still rendering when `isActive = false`
  packages/core/src/Engine.ts
Labels: bug

#1815 Fix infinite loop error caused by shader cache bug
  packages/core/src/shader/ShaderProgramPool.ts
Labels: bug, Shader

#1816 Export IGLTF and support scene plugin
  packages/loader/src/GLTFLoader.ts
  packages/loader/src/gltf/extensions/KHR_draco_mesh_compression.ts
  packages/loader/src/gltf/parser/GLTFMeshParser.ts
  packages/loader/src/gltf/parser/GLTFParserContext.ts
  packages/loader/src/gltf/parser/GLTFSceneParser.ts
  tests/src/loader/GLTFLoader.test.ts
Labels: enhancement

#1817 Fix `VertexData2D.triangles` reference error when change `DrawMode` to `Tiled`
  packages/core/src/2d/assembler/SimpleSpriteAssembler.ts
  packages/core/src/2d/assembler/SlicedSpriteAssembler.ts
  packages/core/src/2d/assembler/TiledSpriteAssembler.ts
Labels: bug, sprite

#1819 Fix force gc bug
  packages/core/src/Engine.ts
  packages/core/src/asset/ResourceManager.ts
Labels: bug, resource

#1820 Fix ktx2 offset is not correct
  packages/loader/src/ktx2/KTX2Container.ts
  packages/loader/src/ktx2/KTX2Loader.ts
  packages/loader/src/resource-deserialize/resources/mesh/MeshDecoder.ts
Labels: bug, texture

#1822 Fix an error in the `matrix.decompose` when the determinant is negative
  packages/core/src/Entity.ts
  packages/math/src/Matrix.ts
Labels: bug

#1741 Add unit test case of `Joint`
  tests/src/core/physics/Joint.test.ts
Labels: test, physics

#1738 Add unit test case of `PhysicsMaterial`
  tests/src/core/physics/PhysicsMaterial.test.ts
Labels: test, physics

#1736 Add unit test case of `CharacterController`
  tests/src/core/physics/CharacterController.test.ts
Labels: test, physics

#1735 test(PhysicsManager): update unit test case of `PhysicsManager`
  tests/src/core/physics/PhysicsManager.test.ts
Labels: test, physics

#1737 Add unit test case of `DynamicCollider`
  tests/src/core/physics/DynamicCollider.test.ts
Labels: test, physics

#1834 Fix particle renderer bug
  packages/core/src/particle/ParticleGenerator.ts
  packages/core/src/particle/ParticleRenderer.ts
  packages/core/src/particle/modules/EmissionModule.ts
Labels: bug, particle

#1838 Fix `SkinnedMeshRenderer` localBounds clone bug
  packages/core/src/clone/CloneManager.ts
  packages/core/src/clone/ComponentCloner.ts
  packages/core/src/mesh/SkinnedMeshRenderer.ts
Labels: bug, mesh

#1829 Fix ktx2 texture support
  packages/loader/src/ktx2/KTX2Loader.ts
Labels: bug, texture

#1825 Shaderlab remove editor properties
  packages/core/src/shader/Shader.ts
  packages/shader-lab/src/AstNodeUtils.ts
  packages/shader-lab/src/ShaderLab.ts
  packages/shader-lab/src/ShaderVisitor.ts
  packages/shader-lab/src/ast-node/AstNode.ts
  packages/shader-lab/src/ast-node/AstNodeContent.ts
  packages/shader-lab/src/index.ts
  packages/shader-lab/src/parser/ShaderParser.ts
  packages/shader-lab/src/parser/tokens/EditorTypes.ts
  packages/shader-lab/src/parser/tokens/Keyword.ts
  packages/shader-lab/src/parser/tokens/index.ts
  packages/shader-lab/src/types.ts
Labels: enhancement, shader

#1809 Ignore case of asset url
  packages/core/src/asset/ResourceManager.ts
Labels: bug, glTF

#1840 Fix blendShapeAnimation crossFade bug
  packages/core/src/animation/internal/animationCurveOwner/AnimationCurveOwner.ts
Labels: bug

#1836 Ignore ambient parser in 2d template
  packages/loader/src/SceneLoader.ts
Labels: bug, ignore for release

#1841 Fix blendShape crossFade bug
  packages/core/src/animation/internal/animationCurveOwner/AnimationCurveOwner.ts
Labels: bug

#1844 Fix mesh decoder
  packages/loader/src/resource-deserialize/resources/mesh/MeshDecoder.ts
  packages/loader/src/resource-deserialize/utils/BufferReader.ts
Labels: bug, resource, ignore for release

#1830 Fix Sprite can't batch bug caused by material instance
  packages/core/src/2d/sprite/SpriteRenderer.ts
  packages/core/src/Engine.ts
  tests/src/core/SpriteRenderer.test.ts
Labels: bug, sprite

#1847 Fix material destoroy bug
  packages/core/src/Engine.ts
  packages/core/src/RenderPipeline/RenderQueue.ts
  packages/core/src/mesh/MeshRenderer.ts
  packages/core/src/particle/ParticleMaterial.ts
  packages/core/src/particle/ParticleRenderer.ts
Labels: bug, particle

#1831 Refactor `glTFResource`
  packages/core/src/2d/sprite/SpriteMask.ts
  packages/core/src/2d/sprite/SpriteRenderer.ts
  packages/core/src/2d/text/TextRenderer.ts
  packages/core/src/Camera.ts
  packages/core/src/Component.ts
  packages/core/src/Entity.ts
  packages/core/src/Renderer.ts
  packages/core/src/asset/ReferResource.ts
  packages/core/src/asset/ResourceManager.ts
  packages/core/src/mesh/MeshRenderer.ts
  packages/core/src/particle/ParticleRenderer.ts
  packages/loader/src/gltf/GLTFResource.ts
  packages/loader/src/gltf/extensions/KHR_materials_variants.ts
  packages/loader/src/gltf/parser/GLTFEntityParser.ts
  packages/loader/src/gltf/parser/GLTFMaterialParser.ts
  packages/loader/src/gltf/parser/GLTFMeshParser.ts
  packages/loader/src/gltf/parser/GLTFParserContext.ts
  packages/loader/src/gltf/parser/GLTFSceneParser.ts
  packages/loader/src/gltf/parser/GLTFTextureParser.ts
  tests/src/loader/GLTFLoader.test.ts
Labels: bug, enhancement, glTF

#1843 fix: no autoplay when set animatorController after enable
  packages/core/src/animation/Animator.ts
Labels: bug

#1850 Fix ColorOverLifetimeModule mode invalid bug
  packages/core/src/particle/modules/ColorOverLifetimeModule.ts
Labels: bug, particle

#1851 Fix quaternion to euler bug
  packages/math/src/Quaternion.ts
  tests/src/math/Quaternion.test.ts
Labels: bug, math

#1852 Set `SpriteRenderer.sprite` to null after destroying the sprite.
  packages/core/src/2d/enums/SpriteModifyFlags.ts
  packages/core/src/2d/sprite/Sprite.ts
  packages/core/src/2d/sprite/SpriteRenderer.ts
Labels: bug, sprite
