Repository galacean/engine, pull requests merged in 2023-03, with the labels that each got.

#1387 Move font map cache from `Font` to `Engine`
  packages/core/src/2d/text/Font.ts
  packages/core/src/Engine.ts
Labels: ignore for release, Text

#1390 Fix shader compile performance on some windows device
  packages/core/src/mesh/SkinnedMeshRenderer.ts
Labels: bug

#1393 Fix the default listener target for InputManager pointer
  packages/core/src/input/keyboard/KeyboardManager.ts
  packages/core/src/input/pointer/PointerManager.ts
Labels: bug, Input

#1396 Fix camera cull bug
  packages/core/src/Camera.ts
Labels: bug

#1405 Fix glTF SkinnedMeshRenderer default local bounds
  packages/core/src/mesh/SkinnedMeshRenderer.ts
Labels: bug

#1410 Fix particle system bug（temp no clipped）
  packages/core/src/particle/ParticleRenderer.ts
Labels: bug

#1409 Add `toJSON` in base math class (#1380)
  packages/math/src/Color.ts
  packages/math/src/Quaternion.ts
  packages/math/src/Vector2.ts
  packages/math/src/Vector3.ts
  packages/math/src/Vector4.ts
  tests/src/math/Color.test.ts
  tests/src/math/Vector2.test.ts
  tests/src/math/Vector3.test.ts
  tests/src/math/Vector4.test.ts
Labels: enhancement

#1411 Scene parser add shadow parser
  packages/loader/src/SceneLoader.ts
Labels: ignore for release

#1414 Revert "Fix the default listener target for InputManager pointer"
  packages/core/src/input/keyboard/KeyboardManager.ts
  packages/core/src/input/pointer/PointerManager.ts
Labels: ignore for release

#1378 `AnimatorControllerLoader` add StateMachineScript support
  packages/loader/src/AnimatorControllerLoader.ts
Labels: enhancement, animation, ignore for release

#1339 Redesign `Time`
  packages/core/src/Engine.ts
  packages/core/src/RenderPipeline/BasicRenderPipeline.ts
  packages/core/src/Scene.ts
  packages/core/src/Script.ts
  packages/core/src/animation/Animator.ts
  packages/core/src/base/Time.ts
  packages/core/src/particle/ParticleRenderer.ts
  packages/core/src/physics/PhysicsManager.ts
  packages/core/src/shadow/ShadowUtils.ts
  tests/src/core/base/Time.test.ts
  tests/src/core/physics/PhysicsManager.test.ts
Labels: enhancement, breaking

#1425 Fix SpriteRenderer bounding box error
  packages/core/src/2d/sprite/Sprite.ts
  packages/core/src/2d/sprite/SpriteRenderer.ts
Labels: bug

#1421 Adjust script `onCollisionXX` callback parameters
  packages/core/src/Script.ts
  packages/core/src/physics/Collision.ts
  packages/core/src/physics/PhysicsManager.ts
  packages/physics-physx/src/PhysXCharacterController.ts
  packages/physics-physx/src/PhysXPhysics.ts
  packages/physics-physx/src/PhysXPhysicsManager.ts
  packages/physics-physx/src/shape/PhysXColliderShape.ts
Labels: physical, breaking

#1382 AnimationClipLoader add clip event support
  packages/core/src/animation/AnimationClip.ts
  packages/loader/src/AnimationClipLoader.ts
  packages/loader/src/AnimatorControllerLoader.ts
  packages/loader/src/gltf/extensions/GLTFExtensionSchema.ts
  packages/loader/src/gltf/extensions/OASIS_animation_event.ts
  packages/loader/src/gltf/extensions/index.ts
  packages/loader/src/gltf/parser/GLTFAnimationParser.ts
Labels: animation, ignore for release

#1426 Fix scene parser error
  packages/loader/src/resource-deserialize/resources/scene/SceneParser.ts
Labels: bug, ignore for release

#1066 Support word split
  packages/core/src/2d/text/TextUtils.ts
  tests/src/core/TextRenderer.test.ts
Labels: enhancement, high priority, Text

#1428 Optimization shader part of the code
  packages/core/src/2d/sprite/SpriteMask.ts
  packages/core/src/2d/sprite/SpriteRenderer.ts
  packages/core/src/ComponentsDependencies.ts
  packages/core/src/mesh/BlendShapeManager.ts
  packages/core/src/shader/Shader.ts
  packages/core/src/shader/ShaderData.ts
  packages/core/src/shader/ShaderPart.ts
  packages/core/src/shader/ShaderPass.ts
  packages/core/src/shader/ShaderProgram.ts
  packages/core/src/shader/SubShader.ts
Labels: low priority, ignore for release

#1435 Optimization dependent components
  packages/core/src/Camera.ts
  packages/core/src/ComponentsDependencies.ts
  packages/core/src/Renderer.ts
  packages/core/src/physics/Collider.ts
  packages/core/src/physics/joint/Joint.ts
  tests/src/core/CompomentDependencies.test.ts
  tests/src/core/Script.test.ts
Labels: ignore for release

#1257 `SpriteRenderer` add tiled `DrawMode`
  packages/core/src/2d/assembler/TiledSpriteAssembler.ts
  packages/core/src/2d/enums/SpriteDrawMode.ts
  packages/core/src/2d/enums/SpriteTileMode.ts
  packages/core/src/2d/index.ts
  packages/core/src/2d/sprite/SpriteRenderer.ts
  tests/src/core/SpriteRenderer.test.ts
Labels: enhancement, Sprite

#719 Fix `Mesh` change IndexBuffer、VertexBuffer、VertexElements bug( need to update VAO)
  packages/core/src/graphic/Mesh.ts
  packages/rhi-webgl/src/GLPrimitive.ts
Labels: bug, high priority

#1441 Fix Mesh data update bug
  packages/core/src/graphic/Mesh.ts
Labels: bug

#1442 Fix mesh data update bug
  packages/core/src/graphic/Mesh.ts
Labels: bug, ignore for release

#1445 `SystemInfo` support mac platform
  packages/core/src/Platform.ts
  packages/core/src/SystemInfo.ts
Labels: enhancement

#1446 Fix pointer and keyboard bug
  packages/core/src/input/keyboard/KeyboardManager.ts
  packages/core/src/input/pointer/PointerManager.ts
Labels: bug, Input

#1447 Fix glTF load error not throw out
  packages/core/src/asset/ResourceManager.ts
  packages/loader/src/gltf/parser/MeshParser.ts
  packages/loader/src/gltf/parser/ParserContext.ts
Labels: bug, resource
