Repository galacean/engine, pull requests merged in 2023-07, with the labels that each got.

#1632 Fix blend shape bug due to buffer index errors
  packages/core/src/mesh/BlendShapeManager.ts
  packages/core/src/mesh/BufferMesh.ts
  packages/core/src/mesh/ModelMesh.ts
  tests/src/core/ModelMesh.test.ts
Labels: bug

#1633 Fix `AmbientLight` can't destroy bug
  packages/core/src/Scene.ts
  packages/core/src/SceneManager.ts
  packages/core/src/lighting/AmbientLight.ts
  packages/loader/src/EnvLoader.ts
Labels: bug

#1635 Adjust main light to directional lights first
  packages/core/src/DisorderedArray.ts
  packages/core/src/Scene.ts
  packages/core/src/lighting/LightManager.ts
  packages/core/src/shaderlib/mobile_blinnphong_frag.glsl
  packages/core/src/shaderlib/pbr/direct_irradiance_frag_define.glsl
  packages/core/src/shadow/CascadedShadowCasterPass.ts
Labels: enhancement

#1637 Fix glTF texture mipmap bug
  packages/loader/src/Texture2DLoader.ts
  packages/loader/src/gltf/parser/GLTFTextureParser.ts
Labels: bug, glTF

#1636 Fix the `layer` is not cloned when the entity is cloned
  packages/core/src/Entity.ts
Labels: bug

#1506 Fix animation clip loader, clip change promise to assetPromise, controller json parse
  packages/loader/src/AnimationClipLoader.ts
  packages/loader/src/AnimatorControllerLoader.ts
Labels: animation, ignore for release

#1638 Process GLTFBufferParser and GLTFTextureParser pipelines in parallel
  packages/loader/src/gltf/GLTFUtils.ts
  packages/loader/src/gltf/extensions/KHR_draco_mesh_compression.ts
  packages/loader/src/gltf/parser/GLTFAnimationParser.ts
  packages/loader/src/gltf/parser/GLTFBufferParser.ts
  packages/loader/src/gltf/parser/GLTFMeshParser.ts
  packages/loader/src/gltf/parser/GLTFParserContext.ts
  packages/loader/src/gltf/parser/GLTFSkinParser.ts
  packages/loader/src/gltf/parser/GLTFTextureParser.ts
Labels: bug, glTF

#1640 Add texture plugin to support ktx loader
  packages/loader/src/gltf/parser/GLTFTextureParser.ts
Labels: enhancement, glTF

#1634 Fix text error for set text to "" and set enableWrapping to true
  packages/core/src/2d/text/TextRenderer.ts
  packages/core/src/2d/text/TextUtils.ts
Labels: bug, Text

#1625 Support ktx2 loader
  package.json
  packages/core/src/Engine.ts
  packages/core/src/asset/AssetType.ts
  packages/core/src/asset/Loader.ts
  packages/core/src/asset/ResourceManager.ts
  packages/core/src/texture/enums/TextureFormat.ts
  packages/loader/src/index.ts
  packages/loader/src/ktx2/KTX2Container.ts
  packages/loader/src/ktx2/KTX2Loader.ts
  packages/loader/src/ktx2/KTX2TargetFormat.ts
  packages/loader/src/ktx2/WorkerPool.ts
  packages/loader/src/ktx2/transcoder/AbstractTranscoder.ts
  packages/loader/src/ktx2/transcoder/BinomialLLCTranscoder.ts
  packages/loader/src/ktx2/transcoder/BinomialLLCWorkerCode.ts
  packages/loader/src/ktx2/transcoder/KhronosTranscoder.ts
  packages/loader/src/ktx2/transcoder/KhronosWorkerCode.ts
  packages/loader/src/resource-deserialize/utils/BufferReader.ts
  tests/index.ts
  tests/src/loader/KTX2Loader.test.ts
Labels: enhancement, resource

#1647 The enhancement of Types and Error prompts
  packages/loader/src/GLTFLoader.ts
  packages/loader/src/gltf/parser/GLTFAnimationParser.ts
  packages/loader/src/gltf/parser/GLTFMeshParser.ts
  packages/loader/src/gltf/parser/GLTFSceneParser.ts
  packages/loader/src/gltf/parser/GLTFTextureParser.ts
Labels: enhancement, ignore for release

#1649 Support bc7 texture format
  packages/core/src/base/Constant.ts
  packages/core/src/texture/enums/TextureFormat.ts
  packages/loader/src/compressed-texture/KhronosTextureContainer.ts
  packages/loader/src/ktx2/KTX2Loader.ts
  packages/loader/src/ktx2/KTX2TargetFormat.ts
  packages/rhi-webgl/src/GLCapability.ts
  packages/rhi-webgl/src/GLTexture.ts
  packages/rhi-webgl/src/type.ts
Labels: resource

#1650 Upgrade devdependecies version
  .eslintrc.js
  package.json
  packages/core/src/mesh/PrimitiveMeshRestorer.ts
  packages/core/src/renderingHardwareInterface/IPlatformTexture2D.ts
  packages/core/src/renderingHardwareInterface/IPlatformTexture2DArray.ts
  packages/core/src/renderingHardwareInterface/IPlatformTextureCube.ts
  packages/core/src/shader/Shader.ts
  packages/core/src/shader/SubShader.ts
  packages/core/src/texture/Texture2D.ts
  packages/core/src/texture/Texture2DArray.ts
  packages/core/src/texture/TextureCube.ts
  packages/loader/src/GLTFContentRestorer.ts
  packages/loader/src/Texture2DContentRestorer.ts
  packages/loader/src/TextureCubeContentRestorer.ts
  packages/loader/src/gltf/parser/GLTFParserContext.ts
  packages/loader/src/gltf/parser/GLTFTextureParser.ts
  packages/loader/src/ktx2/WorkerPool.ts
  packages/loader/src/ktx2/transcoder/KhronosTranscoder.ts
  packages/loader/src/resource-deserialize/resources/scene/SceneParserContext.ts
  packages/loader/src/resource-deserialize/utils/BufferReader.ts
  packages/rhi-webgl/src/GLTexture2DArray.ts
  pnpm-lock.yaml
  tests/src/core/texture/Texture2D.test.ts
  tests/src/core/texture/TextureCubeMap.test.ts
  tests/src/loader/KTX2Loader.test.ts
Labels: ignore for release

#1644 Fix text wrap bug
  packages/core/src/2d/text/TextUtils.ts
Labels: bug, Text

#1610 Add shader lab package and support shader framework
  .prettierignore
  packages/core/src/Engine.ts
  packages/core/src/shader/Shader.ts
  packages/design/src/index.ts
  packages/design/src/shader-lab/IShaderInfo.ts
  packages/design/src/shader-lab/IShaderLab.ts
  packages/design/src/shader-lab/IShaderPassInfo.ts
  packages/design/src/shader-lab/ISubShaderInfo.ts
  packages/design/src/shader-lab/index.ts
  packages/shader-lab/README.md
  packages/shader-lab/package.json
  packages/shader-lab/scripts/genDiagram.ts
  packages/shader-lab/scripts/genDts.ts
  packages/shader-lab/src/Ast2GLSLUtils.ts
  packages/shader-lab/src/AstNodeUtils.ts
  packages/shader-lab/src/Constants.ts
  packages/shader-lab/src/RuntimeContext.ts
  packages/shader-lab/src/ShaderLab.ts
  packages/shader-lab/src/ShaderVisitor.ts
  packages/shader-lab/src/ast-node/AstNode.ts
  packages/shader-lab/src/ast-node/AstNodeContent.ts
  packages/shader-lab/src/ast-node/index.ts
  packages/shader-lab/src/index.ts
  packages/shader-lab/src/parser/ShaderParser.ts
  packages/shader-lab/src/parser/tokens/EditorTypes.ts
  packages/shader-lab/src/parser/tokens/GlslKeywords.ts
  packages/shader-lab/src/parser/tokens/GlslTypes.ts
  packages/shader-lab/src/parser/tokens/index.ts
  packages/shader-lab/src/parser/tokens/keyword.ts
  packages/shader-lab/src/parser/tokens/other.ts
  packages/shader-lab/src/parser/tokens/symbol.ts
  packages/shader-lab/src/parser/tokens/utils.ts
  packages/shader-lab/src/parser/tokens/value.ts
  packages/shader-lab/src/types.ts
  packages/shader-lab/tsconfig.json
  pnpm-lock.yaml
  tests/package.json
  tests/src/shader-lab/ShaderLab.test.ts
  tests/src/shader-lab/demo.shader
Labels: test, enhancement, Shader

#1659 Fix parse glTF texture wrap & filterMode bug
  packages/loader/src/gltf/parser/GLTFTextureParser.ts
Labels: bug, glTF

#1652 Fix worker status set error and can't throw error bug
  packages/loader/src/ktx2/KTX2Loader.ts
  packages/loader/src/ktx2/WorkerPool.ts
  packages/loader/src/ktx2/transcoder/BinomialLLCTranscoder.ts
  packages/loader/src/ktx2/transcoder/KhronosTranscoder.ts
Labels: bug

#1660 Cherry pick glTF conflict
  packages/loader/src/GLTFLoader.ts
  packages/loader/src/Texture2DLoader.ts
  packages/loader/src/gltf/GLTFUtils.ts
  packages/loader/src/gltf/extensions/KHR_draco_mesh_compression.ts
  packages/loader/src/gltf/parser/GLTFAnimationParser.ts
  packages/loader/src/gltf/parser/GLTFBufferParser.ts
  packages/loader/src/gltf/parser/GLTFMeshParser.ts
  packages/loader/src/gltf/parser/GLTFParserContext.ts
  packages/loader/src/gltf/parser/GLTFSceneParser.ts
  packages/loader/src/gltf/parser/GLTFSkinParser.ts
  packages/loader/src/gltf/parser/GLTFTextureParser.ts
  packages/loader/src/resource-deserialize/resources/scene/EditorTextureLoader.ts
  packages/loader/src/resource-deserialize/resources/scene/MeshLoader.ts
Labels: bug, ignore for release

#1663 Fix model mesh advanced data write bug
  packages/core/src/mesh/ModelMesh.ts
Labels: bug

#1666 Fix animation event's init problem when entity's isActive is false
  packages/core/src/animation/Animator.ts
Labels: bug, animation, ignore for release

#1671 Fix EventDispatcher Error While dispatching event
  packages/core/src/base/EventDispatcher.ts
  tests/src/core/base/EventDispatcher.test.ts
Labels: bug

#1670 Fix test not work
  .github/workflows/ci.yml
Labels: ignore for release

#1669 Fix tests not work
  .github/workflows/ci.yml
Labels: ignore for release

#1675 Fix skin mesh error
  packages/core/src/mesh/MeshRenderer.ts
Labels: bug
