Repository galacean/engine, pull requests merged in 2023-08, with the labels that each got.

#1646 test(TextRenderer): add unit test case of `TextRenderer`
  tests/src/core/2d/text/TextRenderer.test.ts
Labels: test

#1645 test(TextUtils): update unit test case of `TextUtils`
  tests/src/core/2d/text/TextUtils.test.ts
Labels: test

#1679 Fix multi scene error
  packages/core/src/Scene.ts
Labels: bug, ignore for release

#1678 Fix blend shape bug with glTF interleaved buffer
  packages/loader/src/GLTFContentRestorer.ts
  packages/loader/src/gltf/GLTFUtils.ts
  packages/loader/src/gltf/extensions/KHR_draco_mesh_compression.ts
  packages/loader/src/gltf/parser/GLTFMeshParser.ts
  packages/loader/src/gltf/parser/GLTFParserContext.ts
Labels: bug, glTF

#1685 Fix request exec multiple times error
  packages/core/src/asset/request.ts
Labels: bug

#1658 Support camera depth texture
  packages/core/src/2d/sprite/SpriteMask.ts
  packages/core/src/Camera.ts
  packages/core/src/Engine.ts
  packages/core/src/RenderPipeline/Basic2DBatcher.ts
  packages/core/src/RenderPipeline/BasicRenderPipeline.ts
  packages/core/src/RenderPipeline/CullingResults.ts
  packages/core/src/RenderPipeline/DepthOnlyPass.ts
  packages/core/src/RenderPipeline/PipelinePass.ts
  packages/core/src/RenderPipeline/PipelineUtils.ts
  packages/core/src/RenderPipeline/RenderContext.ts
  packages/core/src/RenderPipeline/RenderElement.ts
  packages/core/src/RenderPipeline/RenderQueue.ts
  packages/core/src/RenderPipeline/SpriteBatcher.ts
  packages/core/src/RenderPipeline/enums/PipelineStage.ts
  packages/core/src/enums/DepthTextureMode.ts
  packages/core/src/index.ts
  packages/core/src/shader/ShaderPool.ts
  packages/core/src/shaderlib/common.glsl
  packages/core/src/shaderlib/extra/depthOnly.fs.glsl
  packages/core/src/shaderlib/extra/depthOnly.vs.glsl
  packages/core/src/shadow/CascadedShadowCasterPass.ts
  packages/core/src/texture/RenderTarget.ts
Labels: enhancement

#1672 `SkinnedMeshRenderer` support immediate initialization of `rootBone` and `bones`
  packages/core/src/2d/sprite/SpriteMask.ts
  packages/core/src/2d/sprite/SpriteRenderer.ts
  packages/core/src/2d/text/TextRenderer.ts
  packages/core/src/Entity.ts
  packages/core/src/Renderer.ts
  packages/core/src/clone/ComponentCloner.ts
  packages/core/src/mesh/MeshRenderer.ts
  packages/core/src/mesh/Skin.ts
  packages/core/src/mesh/SkinnedMeshRenderer.ts
  packages/loader/src/gltf/parser/GLTFSceneParser.ts
  packages/loader/src/gltf/parser/GLTFSkinParser.ts
  tests/src/loader/GLTFLoader.test.ts
Labels: bug, enhancement

#1693 fix variable error
  packages/core/src/RenderPipeline/SpriteBatcher.ts
Labels: bug, ignore for release

#1664 Shader Lab support `RenderState`
  packages/core/src/shader/Shader.ts
  packages/core/src/shader/enums/RenderStateElementKey.ts
  packages/core/src/shader/index.ts
  packages/core/src/shader/state/BlendState.ts
  packages/core/src/shader/state/DepthState.ts
  packages/core/src/shader/state/RasterState.ts
  packages/core/src/shader/state/StencilState.ts
  packages/design/src/shader-lab/IShaderPassInfo.ts
  packages/shader-lab/package.json
  packages/shader-lab/scripts/GenDiagram.ts
  packages/shader-lab/scripts/GenDts.ts
  packages/shader-lab/src/Ast2GLSLUtils.ts
  packages/shader-lab/src/AstNodeUtils.ts
  packages/shader-lab/src/RuntimeContext.ts
  packages/shader-lab/src/ShaderVisitor.ts
  packages/shader-lab/src/ast-node/AstNode.ts
  packages/shader-lab/src/ast-node/AstNodeContent.ts
  packages/shader-lab/src/parser/ShaderParser.ts
  packages/shader-lab/src/parser/tokens/GLSLKeywords.ts
  packages/shader-lab/src/parser/tokens/GLSLTypes.ts
  packages/shader-lab/src/parser/tokens/GlslKeywords.ts
  packages/shader-lab/src/parser/tokens/Keyword.ts
  packages/shader-lab/src/parser/tokens/Other.ts
  packages/shader-lab/src/parser/tokens/Symbol.ts
  packages/shader-lab/src/parser/tokens/TokenUtils.ts
  packages/shader-lab/src/parser/tokens/Value.ts
  packages/shader-lab/src/parser/tokens/index.ts
  packages/shader-lab/src/parser/tokens/keyword.ts
  packages/shader-lab/src/parser/tokens/render-state/BlendState.ts
  packages/shader-lab/src/parser/tokens/render-state/Common.ts
  packages/shader-lab/src/parser/tokens/render-state/DepthState.ts
  packages/shader-lab/src/parser/tokens/render-state/RasterState.ts
  packages/shader-lab/src/parser/tokens/render-state/StateType.ts
  packages/shader-lab/src/parser/tokens/render-state/StencilState.ts
  packages/shader-lab/src/parser/tokens/render-state/index.ts
  packages/shader-lab/src/parser/tokens/symbol.ts
  packages/shader-lab/src/parser/tokens/utils.ts
  packages/shader-lab/src/types.ts
  pnpm-lock.yaml
  tests/src/shader-lab/ShaderLab.test.ts
  tests/src/shader-lab/demo.shader
Labels: Shader

#1677 Fix ci test
  .github/workflows/ci.yml
  packages/loader/src/gltf/extensions/KHR_draco_mesh_compression.ts
  tests/index.ts
  tests/src/core/AssetPromise.test.ts
  tests/src/core/Camera.test.ts
  tests/src/core/material/Material.test.ts
Labels: ignore for release

#1701 Fix memory leak of Transform
  packages/core/src/Transform.ts
Labels: bug

#1700 `ResourceManager` support `findResourcesByType`
  packages/core/src/asset/ResourceManager.ts
  packages/shader-lab/src/parser/tokens/GlslTypes.ts
  packages/shader-lab/src/parser/tokens/value.ts
  tests/src/core/resource/ResourceManager.test.ts
Labels: enhancement, resource

#1705 Fix avoid destroyed material error
  packages/core/src/material/Material.ts
Labels: bug

#1667 Refactor glTF pipeline to async
  packages/core/src/asset/Loader.ts
  packages/core/src/asset/ResourceManager.ts
  packages/loader/src/GLTFLoader.ts
  packages/loader/src/gltf/GLTFPipeline.ts
  packages/loader/src/gltf/GLTFUtils.ts
  packages/loader/src/gltf/extensions/GLTFExtensionParser.ts
  packages/loader/src/gltf/extensions/KHR_draco_mesh_compression.ts
  packages/loader/src/gltf/extensions/KHR_lights_punctual.ts
  packages/loader/src/gltf/extensions/KHR_materials_clearcoat.ts
  packages/loader/src/gltf/extensions/KHR_materials_pbrSpecularGlossiness.ts
  packages/loader/src/gltf/extensions/KHR_materials_variants.ts
  packages/loader/src/gltf/extensions/KHR_texture_basisu.ts
  packages/loader/src/gltf/extensions/index.ts
  packages/loader/src/gltf/index.ts
  packages/loader/src/gltf/parser/GLTFAnimationParser.ts
  packages/loader/src/gltf/parser/GLTFBufferParser.ts
  packages/loader/src/gltf/parser/GLTFEntityParser.ts
  packages/loader/src/gltf/parser/GLTFMaterialParser.ts
  packages/loader/src/gltf/parser/GLTFMeshParser.ts
  packages/loader/src/gltf/parser/GLTFParser.ts
  packages/loader/src/gltf/parser/GLTFParserContext.ts
  packages/loader/src/gltf/parser/GLTFSceneParser.ts
  packages/loader/src/gltf/parser/GLTFSchemaParser.ts
  packages/loader/src/gltf/parser/GLTFSkinParser.ts
  packages/loader/src/gltf/parser/GLTFTextureParser.ts
  packages/loader/src/gltf/parser/GLTFValidator.ts
  packages/loader/src/gltf/parser/index.ts
  tests/src/loader/GLTFLoader.test.ts
Labels: enhancement, glTF

#1714 Fix physx unit test
  tests/src/core/physics/Collider.test.ts
Labels: ignore for release

#1717 Add physic unit test timeout
  tests/src/core/physics/CharacterController.test.ts
  tests/src/core/physics/Collider.test.ts
Labels: bug, ignore for release

#1718 Fix shader compatible issue
  packages/core/src/shaderlib/mobile_blinnphong_frag.glsl
  packages/core/src/shaderlib/pbr/direct_irradiance_frag_define.glsl
Labels: bug

#1711 Adapter scene loader from editor 0.9
  packages/loader/src/SceneLoader.ts
Labels: ignore for release

#1719 Fix `Script` onDisable error
  packages/core/src/ComponentsManager.ts
  packages/core/src/Script.ts
Labels: bug, ignore for release

#1723 Fix glTF entity plugin and test
  packages/loader/src/gltf/parser/GLTFEntityParser.ts
  packages/loader/src/gltf/parser/GLTFSceneParser.ts
  tests/src/loader/GLTFLoader.test.ts
Labels: test, ignore for release
