Repository galacean/engine, pull requests merged in 2023-05, with the labels that each got.

#1529 Fix windows compile error
  .gitattributes
  package.json
Labels: engineering

#1477 Fix sprite size error and rendering error
  packages/core/src/2d/sprite/Sprite.ts
  packages/core/src/2d/sprite/SpriteMask.ts
  packages/core/src/2d/sprite/SpriteRenderer.ts
  tests/src/core/Sprite.test.ts
  tests/src/core/SpriteMask.test.ts
  tests/src/core/SpriteRenderer.test.ts
Labels: bug, Sprite

#1486 Support disable vertex color in `MeshRenderer`
  packages/core/src/mesh/MeshRenderer.ts
  packages/core/src/shaderlib/begin_mobile_frag.glsl
  packages/core/src/shaderlib/color_share.glsl
  packages/core/src/shaderlib/color_vert.glsl
  packages/core/src/shaderlib/common_vert.glsl
  packages/core/src/shaderlib/pbr/pbr_helper.glsl
  packages/loader/src/gltf/parser/GLTFSceneParser.ts
Labels: enhancement

#1533 Fix sprite size error and rendering error
  packages/core/src/2d/sprite/Sprite.ts
  packages/core/src/2d/sprite/SpriteMask.ts
  packages/core/src/2d/sprite/SpriteRenderer.ts
  tests/src/core/Sprite.test.ts
  tests/src/core/SpriteMask.test.ts
  tests/src/core/SpriteRenderer.test.ts
Labels: bug, Sprite

#1478 Fix the bug that the atlas loading does not support relative paths
  packages/loader/src/SpriteAtlasLoader.ts
Labels: bug, ignore for release, Sprite

#1535 Fix the bug that the atlas loading does not support relative paths
  packages/loader/src/SpriteAtlasLoader.ts
Labels: bug, Sprite

#1532 fix character controller enable/disable bug
  packages/physics-physx/src/PhysXPhysicsManager.ts
Labels: bug, physical

#1536 Fix character controller enable/disable bug
  packages/physics-physx/src/PhysXPhysicsManager.ts
Labels: bug, physical

#1540 Fix blend shape bug in webGL1
  packages/core/src/mesh/BlendShapeManager.ts
Labels: bug

#1539 Fix blend shape bug in webGL1
  packages/core/src/mesh/BlendShapeManager.ts
Labels: bug

#1541 Fix glTF device restore bug
  packages/loader/src/gltf/parser/GLTFMeshParser.ts
Labels: bug, resource

#1546 Fix `CharacterController` bug
  packages/physics-physx/src/PhysXPhysicsManager.ts
Labels: bug, physical, ignore for release

#1492 Update unit test cases of `Camera`
  tests/src/core/Camera.test.ts
Labels: test

#1548 Fix light color in shader when use linear mode
  packages/core/src/Scene.ts
  packages/core/src/lighting/DirectLight.ts
  packages/core/src/lighting/Light.ts
  packages/core/src/lighting/PointLight.ts
  packages/core/src/lighting/SpotLight.ts
Labels: bug

#1544 Workaround gl_FrontFacing bug in Adreno GPUs
  packages/core/src/shaderlib/mobile_blinnphong_frag.glsl
  packages/core/src/shaderlib/normal_get.glsl
  packages/core/src/shaderlib/pbr/pbr_frag.glsl
  packages/core/src/shaderlib/pbr/pbr_helper.glsl
Labels: bug, breaking

#1560 Fix memory leak
  packages/core/src/mesh/MeshRenderer.ts
  packages/core/src/mesh/SkinnedMeshRenderer.ts
Labels: bug

#1561 Fix memory leak
  packages/core/src/mesh/MeshRenderer.ts
  packages/core/src/mesh/SkinnedMeshRenderer.ts
Labels: bug

#1562 Fix memory leak
  packages/core/src/mesh/MeshRenderer.ts
  packages/core/src/mesh/SkinnedMeshRenderer.ts
Labels: bug

#1570 Fix material reference count bug
  packages/core/src/2d/sprite/SpriteMask.ts
  packages/core/src/2d/sprite/SpriteRenderer.ts
  packages/core/src/2d/text/TextRenderer.ts
  packages/core/src/Renderer.ts
  packages/core/src/mesh/MeshRenderer.ts
Labels: bug

#1508 ci: faster with lock & better practice by github actions
  .github/workflows/ci.yml
  .github/workflows/nodejs.yml
  .gitignore
  package.json
  packages/core/src/2d/text/Font.ts
  packages/core/src/Utils.ts
  packages/core/src/animation/index.ts
  packages/core/src/base/StaticInterfaceImplement.ts
  packages/core/src/base/index.ts
  packages/core/src/graphic/index.ts
  packages/core/src/index.ts
  packages/core/src/input/enums/Keys.ts
  packages/core/src/lighting/AmbientLight.ts
  packages/core/src/material/index.ts
  packages/core/src/physics/enums/ColliderShapeUpAxis.ts
  packages/core/src/renderingHardwareInterface/index.ts
  packages/core/src/shader/index.ts
  packages/core/src/shader/state/StencilState.ts
  packages/core/src/sky/index.ts
  packages/core/src/texture/index.ts
  packages/loader/src/FontLoader.ts
  packages/loader/src/GLTFContentRestorer.ts
  packages/loader/src/GLTFLoader.ts
  packages/loader/src/SourceFontLoader.ts
  packages/loader/src/resource-deserialize/resources/mesh/MeshDecoder.ts
  packages/loader/src/resource-deserialize/resources/scene/EditorTextureLoader.ts
  packages/loader/src/resource-deserialize/utils/Decorator.ts
  packages/physics-physx/src/PhysXStaticCollider.ts
  packages/physics-physx/src/joint/PhysXSpringJoint.ts
  packages/rhi-webgl/src/index.ts
  pnpm-lock.yaml
Labels: engineering

#1511 Fix the local bounding box of the `TextRenderer` is wrong
  packages/core/src/2d/text/TextRenderer.ts
Labels: bug, Text

#1228 Fix crossFade bug when the same curveOwner in different layer
  packages/core/src/animation/AnimationClipCurveBinding.ts
  packages/core/src/animation/Animator.ts
  packages/core/src/animation/internal/AnimationCurveLayerOwner.ts
  packages/core/src/animation/internal/AnimatorLayerData.ts
  packages/core/src/animation/internal/AnimatorStateData.ts
  packages/core/src/animation/internal/animationCurveOwner/AnimationCurveOwner.ts
Labels: bug, animation

#1577 Support multi scene input
  packages/core/src/Component.ts
  packages/core/src/Engine.ts
  packages/core/src/input/InputManager.ts
  packages/core/src/input/keyboard/KeyboardManager.ts
  packages/core/src/input/pointer/PointerManager.ts
  packages/core/src/input/wheel/WheelManager.ts
  tests/src/core/Sprite.test.ts
  tests/src/core/input/InputManager.test.ts
Labels: enhancement, Input
