Repository galacean/engine, pull requests merged in 2024-09, with the labels that each got.

#2366 Fix physics event index exceeds the length of the array.
  packages/core/src/2d/assembler/TiledSpriteAssembler.ts
  packages/core/src/ComponentsManager.ts
  packages/core/src/Entity.ts
  packages/core/src/RenderPipeline/MaskManager.ts
  packages/core/src/index.ts
  packages/core/src/input/keyboard/KeyboardManager.ts
  packages/core/src/input/pointer/Pointer.ts
  packages/core/src/input/pointer/PointerManager.ts
  packages/core/src/lighting/LightManager.ts
  packages/core/src/physics/PhysicsScene.ts
  packages/core/src/utils/DisorderedArray.ts
  packages/physics-lite/src/DisorderedArray.ts
  packages/physics-lite/src/LitePhysicsScene.ts
  packages/physics-physx/src/DisorderedArray.ts
  packages/physics-physx/src/PhysXPhysicsScene.ts
  packages/physics-physx/src/shape/PhysXColliderShape.ts
  tests/src/core/Utils.test.ts
Labels: bug, physics

#2359 Add hasExitTime and fix error when set state startTime and transition duration is 0
  packages/core/src/animation/Animator.ts
  packages/core/src/animation/AnimatorState.ts
  packages/core/src/animation/AnimatorStateMachine.ts
  packages/core/src/animation/AnimatorStateTransition.ts
  packages/core/src/animation/AnimatorStateTransitionCollection.ts
  packages/core/src/animation/internal/AnimatorLayerData.ts
  packages/loader/src/AnimatorControllerLoader.ts
  tests/src/core/Animator.test.ts
Labels: bug, enhancement, animation

#2330 docs: opt entity doc
  docs/zh/core/entity.mdx
Labels: documentation

#2374 Support trigger type `AnimatorControllerParameter`
  packages/core/src/animation/Animator.ts
  packages/core/src/animation/AnimatorController.ts
  packages/core/src/animation/AnimatorControllerParameter.ts
  packages/core/src/animation/AnimatorStateTransition.ts
  packages/loader/src/AnimatorControllerLoader.ts
  tests/src/core/Animator.test.ts
Labels: enhancement, animation

#2377 AnimatorStateTransition support fixedDuration
  e2e/case/animator-stateMachine.ts
  packages/core/src/animation/Animator.ts
  packages/core/src/animation/AnimatorStateTransition.ts
  packages/loader/src/AnimatorControllerLoader.ts
  tests/src/core/Animator.test.ts
Labels: enhancement, animation

#2378 Improve `ShaderLab`'s compatiblity with the `RenderState` of `Material`
  packages/core/src/shader/Shader.ts
Labels: enhancement, shader, medium priority

#2387 Fix particle velocity over lifetime bug
  packages/core/src/shaderlib/particle/velocity_over_lifetime_module.glsl
Labels: bug, particle

#2389 Fix `Color.toGamma` and `Color.toLinear` listener error
  packages/math/src/Color.ts
Labels: bug

#2390 Put layerIndex and layer in AnimatorLayerData to reduce code
  packages/core/src/animation/Animator.ts
  packages/core/src/animation/internal/AnimatorLayerData.ts
Labels: animation, ignore for release
