Repository galacean/engine, pull requests merged in 2024-02, with the labels that each got.

#1993 Texture support `R32G32B32A32_UInt` format
  packages/core/src/Engine.ts
  packages/core/src/shader/ShaderProgram.ts
  packages/core/src/texture/Texture.ts
  packages/core/src/texture/Texture2D.ts
  packages/core/src/texture/enums/TextureFormat.ts
  packages/rhi-webgl/src/GLTexture.ts
  tests/src/core/resource/ResourceManager.test.ts
Labels: enhancement, texture

#1990 Fix`gl.MIN` and `gl.MAX` doesn't exist in `webgl1`
  packages/rhi-webgl/src/GLCapability.ts
Labels: bug, rendering

#2000 Modify the method of generating the path
  packages/loader/src/resource-deserialize/resources/parser/HierarchyParser.ts
Labels: ignore for release

#2002 Opt compare function when compare the same renderer
  packages/core/src/RenderPipeline/RenderQueue.ts
Labels: performance

#1999 Adapter editor shadow api
  packages/loader/src/SceneLoader.ts
  packages/loader/src/resource-deserialize/resources/schema/SceneSchema.ts
Labels: ignore for release

#2001 Fix output glsl error when `function overload` exists in shaderlab source code
  packages/core/src/shaderlib/ShaderFactory.ts
  packages/shader-lab/src/Ast2GLSLUtils.ts
  packages/shader-lab/src/RuntimeContext.ts
  packages/shader-lab/src/ShaderLab.ts
  packages/shader-lab/src/ast-node/AstNode.ts
  packages/shader-lab/src/parser/ShaderParser.ts
  tests/src/shader-lab/shaders/unlit.shader
  tests/src/shader-lab/shaders/waterfull.shader
Labels: bug, shader, high priority

#2004 Physics raycast hitResult add shape
  packages/core/src/physics/HitResult.ts
  packages/core/src/physics/PhysicsScene.ts
  tests/src/core/physics/PhysicsManager.test.ts
Labels: enhancement, physics

#2007 Fix primitive e2e error
  e2e/case/primitive-capsule.ts
  e2e/case/primitive-cone.ts
  e2e/case/primitive-cuboid.ts
  e2e/case/primitive-cylinder.ts
  e2e/case/primitive-plane.ts
  e2e/case/primitive-sphere.ts
  e2e/case/primitive-torus.ts
  e2e/config.ts
  e2e/tests/primitive.cy.ts
  packages/loader/src/gltf/parser/GLTFSchemaParser.ts
Labels: test

#2006 Add ShaderLab package umd entry
  packages/shader-lab/package.json
Labels: bug, shader, high priority

#2008 Fix `IPhysicsScene.removeColliderShape` not cleaned up `eventMap`
  packages/physics-lite/src/LitePhysicsScene.ts
  packages/physics-physx/src/PhysXPhysicsScene.ts
  tests/src/core/physics/PhysicsManager.test.ts
Labels: physics, high priority

#1997 Fix camera renderTarget flip error
  e2e/case/.mockForE2E.ts
  packages/core/src/Camera.ts
  packages/core/src/RenderPipeline/BasicRenderPipeline.ts
  packages/core/src/RenderPipeline/RenderContext.ts
  packages/core/src/Renderer.ts
  packages/core/src/VirtualCamera.ts
  packages/core/src/shader/state/RenderState.ts
  packages/core/src/shaderlib/camera_declare.glsl
  packages/core/src/shaderlib/normal_get.glsl
  packages/core/src/shadow/CascadedShadowCasterPass.ts
  packages/core/src/shadow/ShadowUtils.ts
  packages/core/src/sky/Sky.ts
Labels: bug, rendering, camera

#2013 Fix gltf accessor's bufferView could be undefined
  packages/loader/src/gltf/GLTFUtils.ts
Labels: glTF
