Repository galacean/engine, pull requests merged in 2024-10, with the labels that each got.

#2364 Improve `ShaderLab` compilation error log and package build
  .github/workflows/ci.yml
  package.json
  packages/core/src/shader/ShaderPass.ts
  packages/shader-lab/README.md
  packages/shader-lab/package.json
  packages/shader-lab/src/Error.ts
  packages/shader-lab/src/GSError.ts
  packages/shader-lab/src/ParserUtils.ts
  packages/shader-lab/src/ShaderLab.ts
  packages/shader-lab/src/ShaderLabObjectPool.ts
  packages/shader-lab/src/ShaderLabUtils.ts
  packages/shader-lab/src/codeGen/CodeGenVisitor.ts
  packages/shader-lab/src/codeGen/GLES100.ts
  packages/shader-lab/src/codeGen/GLESVisitor.ts
  packages/shader-lab/src/codeGen/VisitorContext.ts
  packages/shader-lab/src/common/BaseScanner.ts
  packages/shader-lab/src/common/BaseToken.ts
  packages/shader-lab/src/common/ShaderPosition.ts
  packages/shader-lab/src/common/ShaderRange.ts
  packages/shader-lab/src/contentParser/Scanner.ts
  packages/shader-lab/src/contentParser/ShaderContentParser.ts
  packages/shader-lab/src/index.ts
  packages/shader-lab/src/lalr/CFG.ts
  packages/shader-lab/src/lalr/LALR1.ts
  packages/shader-lab/src/lalr/StateItem.ts
  packages/shader-lab/src/lalr/Utils.ts
  packages/shader-lab/src/lexer/Lexer.ts
  packages/shader-lab/src/parser/AST.ts
  packages/shader-lab/src/parser/SemanticAnalyzer.ts
  packages/shader-lab/src/parser/ShaderTargetParser.ts
  packages/shader-lab/src/parser/builtin/functions.ts
  packages/shader-lab/src/parser/builtin/index.ts
  packages/shader-lab/src/preprocessor/MacroDefine.ts
  packages/shader-lab/src/preprocessor/PpParser.ts
  packages/shader-lab/src/preprocessor/PpScanner.ts
  packages/shader-lab/src/preprocessor/Preprocessor.ts
  packages/shader-lab/src/preprocessor/Utils.ts
  packages/shader-lab/src/preprocessor/sourceMap/index.ts
  packages/shader-lab/verbose/package.json
  rollup.config.js
  tests/src/shader-lab/Preprocessor.test.ts
  tests/src/shader-lab/ShaderLab.test.ts
  tests/src/shader-lab/ShaderValidate.ts
  tests/src/shader-lab/shaders/compilation-error.shader
  tests/src/shader-lab/shaders/demo.shader
  tests/src/shader-lab/shaders/multi-pass.shader
  tests/src/shader-lab/test-case/source/frag.txt
Labels: enhancement, Rendering, shader, high priority

#2399 Update compression doc
  docs/zh/graphics/texture/compression.md
Labels: documentation, ignore for release

#2369 Refactor sprite mask system
  e2e/case/spriteMask-customStencil.ts
  e2e/config.ts
  e2e/fixtures/originImage/SpriteMask_spriteMask-customStencil.jpg
  examples/sprite-mask.ts
  packages/core/src/2d/index.ts
  packages/core/src/2d/sprite/SpriteMask.ts
  packages/core/src/2d/sprite/SpriteRenderer.ts
  packages/core/src/2d/text/TextRenderer.ts
  packages/core/src/BasicResources.ts
  packages/core/src/Engine.ts
  packages/core/src/RenderPipeline/BasicRenderPipeline.ts
  packages/core/src/RenderPipeline/MaskManager.ts
  packages/core/src/RenderPipeline/RenderQueue.ts
  packages/core/src/RenderPipeline/enums/RenderQueueMaskType.ts
  packages/core/src/Renderer.ts
  packages/core/src/Scene.ts
  packages/core/src/enums/SpriteMaskLayer.ts
  packages/core/src/index.ts
  packages/core/src/shader/state/BlendState.ts
  packages/core/src/shader/state/DepthState.ts
  packages/core/src/shader/state/RasterState.ts
  packages/core/src/shader/state/RenderState.ts
  packages/core/src/shader/state/StencilState.ts
  packages/core/src/shadow/CascadedShadowCasterPass.ts
Labels: documentation, 2D

#2404 [Docs]Add digital human document and how to export to lingjing platform
  docs/zh/art/digital-human.md
Labels: documentation

#2392 Fix the check of some transitions are missed
  packages/core/src/animation/Animator.ts
  packages/core/src/animation/AnimatorState.ts
  packages/core/src/animation/AnimatorStateMachine.ts
  packages/core/src/animation/AnimatorStateTransitionCollection.ts
  packages/core/src/animation/internal/AnimatorLayerData.ts
  packages/core/src/animation/internal/AnimatorStatePlayData.ts
  tests/src/core/Animator.test.ts
Labels: bug, animation, ignore for release

#2338 fix: spine english version
  docs/en/graphics/2D/spine/editor.md
Labels: documentation

#2393 Fix scope loss when `ShaderLab` parse `Pass`
  examples/shader-lab-multi-pass.ts
  packages/shader-lab/src/contentParser/ShaderContentParser.ts
  tests/src/shader-lab/shaders/multi-pass.shader
Labels: bug, documentation, shader, high priority

#2410 Fix shader destroy memory residual
  packages/core/src/Engine.ts
  packages/core/src/shader/ShaderPass.ts
  packages/core/src/shader/ShaderProgramPool.ts
Labels: bug, shader

#2394 Fix error when the animationEvent loses the callback function with the given name
  packages/core/src/animation/Animator.ts
Labels: bug, animation

#2402 Fixed the problem of abnormal length of `DisorderedArray` caused by rewriting `Script` function
  packages/core/src/Script.ts
Labels: script

#2411 Fix crossFade error caused by transitionOffsetTime and clipStartTime
  packages/core/src/animation/Animator.ts
  packages/core/src/animation/AnimatorState.ts
  packages/core/src/animation/internal/AnimatorStatePlayData.ts
  tests/src/core/Animator.test.ts
Labels: bug

#2415 Merge main branch
  .github/HOW_TO_CONTRIBUTE.md
  .github/workflows/release.yml
  docs/en/graphics/2D/spine/editor.md
  docs/zh/art/digital-human.md
  docs/zh/graphics/texture/compression.md
  e2e/package.json
  examples/shader-lab-multi-pass.ts
  package.json
  packages/core/package.json
  packages/core/src/Engine.ts
  packages/core/src/animation/Animator.ts
  packages/core/src/animation/internal/AnimatorStatePlayData.ts
  packages/core/src/shader/ShaderPass.ts
  packages/core/src/shader/ShaderProgramPool.ts
  packages/design/package.json
  packages/galacean/package.json
  packages/loader/package.json
  packages/math/package.json
  packages/physics-lite/package.json
  packages/physics-physx/package.json
  packages/rhi-webgl/package.json
  packages/shader-lab/package.json
  packages/xr-webxr/package.json
  packages/xr/package.json
  tests/package.json
  tests/src/core/Animator.test.ts
Labels: documentation, ignore for release
