Repository galacean/engine, pull requests merged in 2024-06, with the labels that each got.

#2080 Support transparent shadow
  e2e/case/shadow-transparent.ts
  e2e/config.ts
  e2e/fixtures/originImage/Shadow_shadow-transparent.jpg
  packages/core/src/RenderPipeline/BasicRenderPipeline.ts
  packages/core/src/RenderPipeline/PipelineUtils.ts
  packages/core/src/RenderPipeline/RenderQueue.ts
  packages/core/src/RenderPipeline/SpriteBatcher.ts
  packages/core/src/RenderPipeline/SpriteMaskBatcher.ts
  packages/core/src/Scene.ts
  packages/core/src/material/BaseMaterial.ts
  packages/core/src/shader/ShaderPool.ts
  packages/core/src/shader/state/RenderState.ts
  packages/core/src/shaderlib/extra/shadow-map.fs.glsl
  packages/core/src/shaderlib/extra/shadow-map.vs.glsl
  packages/core/src/shaderlib/pbr/brdf.glsl
  packages/core/src/shadow/CascadedShadowCasterPass.ts
  packages/core/src/sky/Sky.ts
Labels: bug, rendering, shadow

#1963 `ParticleRenderer` support bounds and frustum culling
  e2e/case/particleRenderer-dream.ts
  e2e/config.ts
  e2e/fixtures/originImage/Particle_particleRenderer-dream.jpg
  packages/core/src/particle/ParticleBufferUtils.ts
  packages/core/src/particle/ParticleGenerator.ts
  packages/core/src/particle/ParticleRenderer.ts
  packages/core/src/particle/modules/EmissionModule.ts
  packages/core/src/particle/modules/MainModule.ts
  packages/core/src/particle/modules/ParticleCompositeCurve.ts
  packages/core/src/particle/modules/ParticleCurve.ts
  packages/core/src/particle/modules/ParticleGeneratorModule.ts
  packages/core/src/particle/modules/ParticleGradient.ts
  packages/core/src/particle/modules/SizeOverLifetimeModule.ts
  packages/core/src/particle/modules/VelocityOverLifetimeModule.ts
  packages/core/src/particle/modules/shape/BaseShape.ts
  packages/core/src/particle/modules/shape/BoxShape.ts
  packages/core/src/particle/modules/shape/CircleShape.ts
  packages/core/src/particle/modules/shape/ConeShape.ts
  packages/core/src/particle/modules/shape/HemisphereShape.ts
  packages/core/src/particle/modules/shape/SphereShape.ts
  tests/src/core/particle/ParticleBoundingBox.test.ts
Labels: enhancement, particle

#2110 ParticleRenderer support bounds and frustum culling
  e2e/case/particleRenderer-dream.ts
  e2e/config.ts
  e2e/fixtures/originImage/Particle_particleRenderer-dream.jpg
  packages/core/src/particle/ParticleBufferUtils.ts
  packages/core/src/particle/ParticleGenerator.ts
  packages/core/src/particle/ParticleRenderer.ts
  packages/core/src/particle/modules/EmissionModule.ts
  packages/core/src/particle/modules/MainModule.ts
  packages/core/src/particle/modules/ParticleCompositeCurve.ts
  packages/core/src/particle/modules/ParticleCurve.ts
  packages/core/src/particle/modules/ParticleGeneratorModule.ts
  packages/core/src/particle/modules/ParticleGradient.ts
  packages/core/src/particle/modules/SizeOverLifetimeModule.ts
  packages/core/src/particle/modules/VelocityOverLifetimeModule.ts
  packages/core/src/particle/modules/shape/BaseShape.ts
  packages/core/src/particle/modules/shape/BoxShape.ts
  packages/core/src/particle/modules/shape/CircleShape.ts
  packages/core/src/particle/modules/shape/ConeShape.ts
  packages/core/src/particle/modules/shape/HemisphereShape.ts
  packages/core/src/particle/modules/shape/SphereShape.ts
  tests/src/core/particle/ParticleBoundingBox.test.ts
Labels: particle

#2111 Fix array index loss after compilation
  packages/shader-lab/src/ast-node/AstNode.ts
  tests/src/shader-lab/shaders/demo.shader
Labels: bug, shader, medium priority

#2114 Optimize Shader default texture color
  packages/core/src/BasicResources.ts
  packages/core/src/Engine.ts
  packages/core/src/RenderPipeline/BasicRenderPipeline.ts
  packages/core/src/shader/ShaderProgram.ts
  tests/src/core/resource/ResourceManager.test.ts
Labels: shader

#2123 Fix particle renderer e2e test
  e2e/case/particleRenderer-dream.ts
  e2e/config.ts
  e2e/fixtures/originImage/Particle_particleRenderer-dream.jpg
Labels: bug, test, ignore for release

#2124 Fix entity clone bug
  packages/core/src/Entity.ts
Labels: bug, entity

#2125 Fix lfs error for particle e2e image
  e2e/fixtures/originImage/Particle_particleRenderer-dream.jpg
Labels: ignore for release

#2130 Refactor state transition update logic and fix time bug
  e2e/case/.mockForE2E.ts
  e2e/case/animator-stateMachine.ts
  e2e/fixtures/originImage/Animator_animator-stateMachine.jpg
  packages/core/src/ComponentsManager.ts
  packages/core/src/animation/Animator.ts
  packages/core/src/animation/internal/AnimatorStatePlayData.ts
  tests/src/core/Animator.test.ts
Labels: enhancement, animation

#2108 Support `Prefab`
  packages/core/src/asset/AssetType.ts
  packages/loader/src/PrefabLoader.ts
  packages/loader/src/gltf/GLTFResource.ts
  packages/loader/src/index.ts
  packages/loader/src/prefab/PrefabParser.ts
  packages/loader/src/prefab/PrefabResource.ts
  packages/loader/src/resource-deserialize/index.ts
  packages/loader/src/resource-deserialize/resources/parser/HierarchyParser.ts
  packages/loader/src/resource-deserialize/resources/parser/ParserContext.ts
  packages/loader/src/resource-deserialize/resources/parser/ReflectionParser.ts
  packages/loader/src/resource-deserialize/resources/prefab/PrefabParser.ts
  packages/loader/src/resource-deserialize/resources/prefab/PrefabParserContext.ts
  packages/loader/src/resource-deserialize/resources/scene/SceneParser.ts
  packages/loader/src/resource-deserialize/resources/scene/SceneParserContext.ts
  packages/loader/src/resource-deserialize/resources/schema/BasicSchema.ts
  packages/loader/src/resource-deserialize/resources/schema/SceneSchema.ts
Labels: enhancement, resource

#2150 ParsePrefab compatible with glTF
  packages/loader/src/resource-deserialize/resources/parser/HierarchyParser.ts
Labels: ignore for release

#2132 Fix background textureFillMode missed of `SceneLoader`
  packages/loader/src/SceneLoader.ts
  packages/loader/src/resource-deserialize/resources/schema/SceneSchema.ts
Labels: bug

#2141 Fix scene.nodes may be undefined
  packages/loader/src/gltf/GLTFSchema.ts
  packages/loader/src/gltf/parser/GLTFSceneParser.ts
Labels: bug, ignore for release
