Repository galacean/engine, pull requests merged in 2024-11, with the labels that each got.

#2345 test(MeshRenderer): update unit test case of MeshRenderer
  tests/src/core/MeshRenderer.test.ts
Labels: test

#2422 Fix texture sheet and gravity bug
  packages/core/src/particle/ParticleGenerator.ts
  packages/core/src/particle/modules/MainModule.ts
  packages/core/src/shaderlib/extra/particle.vs.glsl
  packages/core/src/shaderlib/particle/texture_sheet_animation_module.glsl
Labels: bug

#2027 Add loader for `Shader` and `ShaderChunk` asset
  packages/core/src/Utils.ts
  packages/core/src/asset/AssetType.ts
  packages/core/src/asset/Loader.ts
  packages/core/src/asset/ResourceManager.ts
  packages/loader/src/AnimationClipLoader.ts
  packages/loader/src/AnimatorControllerLoader.ts
  packages/loader/src/BufferLoader.ts
  packages/loader/src/EnvLoader.ts
  packages/loader/src/FontLoader.ts
  packages/loader/src/GLTFLoader.ts
  packages/loader/src/HDRLoader.ts
  packages/loader/src/JSONLoader.ts
  packages/loader/src/KTXCubeLoader.ts
  packages/loader/src/KTXLoader.ts
  packages/loader/src/MaterialLoader.ts
  packages/loader/src/MeshLoader.ts
  packages/loader/src/PrefabLoader.ts
  packages/loader/src/PrimitiveMeshLoader.ts
  packages/loader/src/ProjectLoader.ts
  packages/loader/src/SceneLoader.ts
  packages/loader/src/ShaderChunkLoader.ts
  packages/loader/src/ShaderLoader.ts
  packages/loader/src/SourceFontLoader.ts
  packages/loader/src/SpriteAtlasLoader.ts
  packages/loader/src/SpriteLoader.ts
  packages/loader/src/TextLoader.ts
  packages/loader/src/Texture2DLoader.ts
  packages/loader/src/TextureCubeLoader.ts
  packages/loader/src/gltf/parser/GLTFBufferParser.ts
  packages/loader/src/gltf/parser/GLTFSchemaParser.ts
  packages/loader/src/index.ts
  packages/loader/src/ktx2/KTX2Loader.ts
  packages/loader/src/resource-deserialize/index.ts
  packages/loader/src/resource-deserialize/resources/scene/EditorTextureLoader.ts
  packages/loader/src/resource-deserialize/resources/scene/MeshLoader.ts
  packages/loader/src/resource-deserialize/resources/schema/MaterialSchema.ts
  packages/xr/src/loader/XRReferenceImageLoader.ts
Labels: enhancement, shader, high priority

#2426 Add mesh loader
  packages/loader/src/MeshLoader.ts
  packages/loader/src/index.ts
Labels: bug, Rendering, high priority

#2428 Add function copy to vector link object for vector
  packages/math/src/Color.ts
  packages/math/src/ICopy.ts
  packages/math/src/Quaternion.ts
  packages/math/src/Vector2.ts
  packages/math/src/Vector3.ts
  packages/math/src/Vector4.ts
  tests/src/math/Color.test.ts
  tests/src/math/Quaternion.test.ts
  tests/src/math/Vector2.test.ts
  tests/src/math/Vector3.test.ts
  tests/src/math/Vector4.test.ts
Labels: math

#2285 Add unit test case of `ParticleRenderer` and fix particle destroy bug
  packages/core/src/particle/ParticleRenderer.ts
  tests/src/core/particle/ParticleRenderer.test.ts
Labels: bug, test, particle

#2418 Fix the mesh was not restored after context lost.
  packages/core/src/Background.ts
  packages/core/src/BasicResources.ts
  packages/loader/src/HDRLoader.ts
  packages/loader/src/gltf/GLTFUtils.ts
  packages/loader/src/gltf/parser/GLTFSchemaParser.ts
Labels: bug, mesh

#2429 Refactor request in `ResourceManager` and `Loader`
  e2e/README.md
  e2e/case/project-loader.ts
  e2e/config.ts
  e2e/fixtures/originImage/Advance_project-loader.jpg
  e2e/package.json
  packages/core/src/asset/Loader.ts
  packages/core/src/asset/ResourceManager.ts
  packages/loader/src/AnimationClipLoader.ts
  packages/loader/src/AnimatorControllerLoader.ts
  packages/loader/src/BufferLoader.ts
  packages/loader/src/EnvLoader.ts
  packages/loader/src/FontLoader.ts
  packages/loader/src/HDRLoader.ts
  packages/loader/src/JSONLoader.ts
  packages/loader/src/KTXCubeLoader.ts
  packages/loader/src/KTXLoader.ts
  packages/loader/src/MaterialLoader.ts
  packages/loader/src/MeshLoader.ts
  packages/loader/src/PrefabLoader.ts
  packages/loader/src/PrimitiveMeshLoader.ts
  packages/loader/src/ProjectLoader.ts
  packages/loader/src/SceneLoader.ts
  packages/loader/src/ShaderChunkLoader.ts
  packages/loader/src/ShaderLoader.ts
  packages/loader/src/SourceFontLoader.ts
  packages/loader/src/SpriteAtlasLoader.ts
  packages/loader/src/SpriteLoader.ts
  packages/loader/src/TextLoader.ts
  packages/loader/src/Texture2DLoader.ts
  packages/loader/src/TextureCubeLoader.ts
  packages/loader/src/gltf/parser/GLTFBufferParser.ts
  packages/loader/src/gltf/parser/GLTFSchemaParser.ts
  packages/loader/src/ktx2/KTX2Loader.ts
  packages/loader/src/resource-deserialize/resources/scene/EditorTextureLoader.ts
  packages/xr/src/loader/XRReferenceImageLoader.ts
  pnpm-lock.yaml
Labels: enhancement, Rendering, medium priority

#2431 Support particle start delay time
  packages/core/src/particle/ParticleGenerator.ts
  packages/core/src/particle/modules/MainModule.ts
Labels: enhancement, particle

#2435 Fix particle not render bug
  packages/core/src/particle/ParticleRenderer.ts
Labels: bug, ignore for release, particle

#2436 Fix reource load issue in local downloaded npm package
  packages/core/src/asset/ResourceManager.ts
  tests/src/core/resource/ResourceManager.test.ts
Labels: bug, resource, high priority

#2395 ShaderLab ignore `Editor` module
  packages/shader-lab/src/ShaderLab.ts
  packages/shader-lab/src/ShaderLabUtils.ts
  packages/shader-lab/src/codeGen/CodeGenVisitor.ts
  packages/shader-lab/src/codeGen/VisitorContext.ts
  packages/shader-lab/src/common/Keywords.ts
  packages/shader-lab/src/contentParser/KeywordMap.ts
  packages/shader-lab/src/contentParser/ShaderContentParser.ts
  packages/shader-lab/src/parser/ShaderTargetParser.ts
  packages/shader-lab/src/preprocessor/PpParser.ts
  tests/src/shader-lab/ShaderLab.test.ts
  tests/src/shader-lab/shaders/demo.shader
Labels: enhancement, shader, high priority

#2440 Fix unit test ci
  pnpm-lock.yaml
Labels: test, ignore for release

#2441 Fix unit test ci
  package.json
  pnpm-lock.yaml
Labels: test, ignore for release

#2437 Fix renderQueueType error
  e2e/case/shaderLab-renderState.ts
  e2e/config.ts
  e2e/fixtures/originImage/Material_shaderLab-renderState.jpg
  packages/core/src/RenderPipeline/BasicRenderPipeline.ts
  packages/core/src/RenderPipeline/RenderQueue.ts
  packages/core/src/shader/state/RenderState.ts
Labels: bug

#2425 PBR shader support Iridescence
  packages/core/src/material/PBRMaterial.ts
  packages/loader/src/gltf/extensions/GLTFExtensionSchema.ts
  packages/loader/src/gltf/extensions/KHR_materials_iridescence.ts
  packages/loader/src/gltf/extensions/index.ts
Labels: Rendering, shader, glTF, material

#2433 Delete mini program
  .gitignore
  README.md
  docs/en/_meta.json
  docs/en/assets/build.md
  docs/en/basics/overview.md
  docs/en/miniProgram/miniProgame.md
  docs/zh/_meta.json
  docs/zh/assets/build.md
  docs/zh/basics/overview.md
  docs/zh/miniProgram/miniProgame.md
  package.json
  packages/galacean/README.md
  rollup.config.js
  rollup.miniprogram.plugin.js
Labels: documentation

#2443 Polyfill `String.matchAll` for compatibility
  packages/core/src/Polyfill.ts
  packages/core/src/index.ts
  packages/loader/src/ShaderChunkLoader.ts
  tests/src/core/Polyfill.test.ts
Labels: high priority, compatibility risk, loader

#2408 Fix `Transform` world scale dirty error
  packages/core/src/Transform.ts
  tests/src/core/Transform.test.ts
Labels: bug

#2420 Opt physics experience and opt physics unit test
  packages/core/src/Engine.ts
  packages/core/src/physics/CharacterController.ts
  packages/core/src/physics/Collider.ts
  packages/core/src/physics/DynamicCollider.ts
  packages/core/src/physics/PhysicsMaterial.ts
  packages/core/src/physics/PhysicsScene.ts
  packages/core/src/physics/joint/FixedJoint.ts
  packages/core/src/physics/joint/HingeJoint.ts
  packages/core/src/physics/joint/Joint.ts
  packages/core/src/physics/joint/JointLimits.ts
  packages/core/src/physics/joint/JointMotor.ts
  packages/core/src/physics/joint/SpringJoint.ts
  packages/core/src/physics/shape/BoxColliderShape.ts
  packages/core/src/physics/shape/CapsuleColliderShape.ts
  packages/core/src/physics/shape/ColliderShape.ts
  packages/core/src/physics/shape/SphereColliderShape.ts
  packages/design/src/physics/IDynamicCollider.ts
  packages/design/src/physics/IPhysicsScene.ts
  packages/design/src/physics/joints/IHingeJoint.ts
  packages/design/src/physics/joints/IJoint.ts
  packages/design/src/physics/joints/ISpringJoint.ts
  packages/physics-lite/src/LiteCollider.ts
  packages/physics-lite/src/LiteDynamicCollider.ts
  packages/physics-lite/src/LitePhysicsScene.ts
  packages/physics-physx/src/PhysXCharacterController.ts
  packages/physics-physx/src/PhysXCollider.ts
  packages/physics-physx/src/PhysXDynamicCollider.ts
  packages/physics-physx/src/PhysXPhysics.ts
  packages/physics-physx/src/PhysXPhysicsScene.ts
  packages/physics-physx/src/joint/PhysXFixedJoint.ts
  packages/physics-physx/src/joint/PhysXHingeJoint.ts
  packages/physics-physx/src/joint/PhysXJoint.ts
  packages/physics-physx/src/joint/PhysXSpringJoint.ts
  packages/physics-physx/src/shape/PhysXBoxColliderShape.ts
  packages/physics-physx/src/shape/PhysXCapsuleColliderShape.ts
  packages/physics-physx/src/shape/PhysXColliderShape.ts
  tests/src/core/physics/CharacterController.test.ts
  tests/src/core/physics/Collider.test.ts
  tests/src/core/physics/ColliderShape.test.ts
  tests/src/core/physics/DynamicCollider.test.ts
  tests/src/core/physics/HingeJoint.test.ts
  tests/src/core/physics/Joint.test.ts
  tests/src/core/physics/PhysicsMaterial.test.ts
  tests/src/core/physics/SpringJoint.test.ts
Labels: bug
