Repository galacean/engine, pull requests merged in 2024-08, with the labels that each got.

#2283 Feat update viewport docs
  docs/zh/graphics/particle/renderer-main-module.md
  docs/zh/graphics/particle/renderer.md
  docs/zh/interface/hierarchy.mdx
  docs/zh/interface/inspector.mdx
  docs/zh/interface/intro.mdx
  docs/zh/interface/menu.mdx
  docs/zh/interface/shortcut.md
  docs/zh/interface/template.md
  docs/zh/interface/viewport.md
  examples/particle-mainModule.ts
Labels: documentation

#2281 Fix XR camera clear flag error
  packages/core/src/Camera.ts
  packages/core/src/xr/XRManager.ts
  packages/xr/src/XRManagerExtended.ts
  packages/xr/src/feature/camera/XRCameraManager.ts
  packages/xr/src/input/XRInputManager.ts
Labels: bug, xr

#2284 Fix merge bug
  packages/core/src/Renderer.ts
Labels: ignore for release

#2260 Update docs for ShaderLab 1.3
  docs/zh/graphics/material/material.md
  docs/zh/graphics/shader/_meta.json
  docs/zh/graphics/shader/assets.mdx
  docs/zh/graphics/shader/builtins/_meta.json
  docs/zh/graphics/shader/builtins/blinnPhong.md
  docs/zh/graphics/shader/builtins/intro.mdx
  docs/zh/graphics/shader/builtins/pbr.md
  docs/zh/graphics/shader/builtins/unlit.md
  docs/zh/graphics/shader/class.mdx
  docs/zh/graphics/shader/custom.md
  docs/zh/graphics/shader/intro.mdx
  docs/zh/graphics/shader/lab.md
  docs/zh/graphics/shader/shader.md
  docs/zh/graphics/shader/shaderLab/_meta.json
  docs/zh/graphics/shader/shaderLab/create.mdx
  docs/zh/graphics/shader/shaderLab/intro.md
  docs/zh/graphics/shader/shaderLab/syntax/_meta.json
  docs/zh/graphics/shader/shaderLab/syntax/intro.mdx
  docs/zh/graphics/shader/shaderLab/syntax/macro.mdx
  docs/zh/graphics/shader/shaderLab/syntax/pass.mdx
  docs/zh/graphics/shader/shaderLab/syntax/shader.mdx
  docs/zh/graphics/shader/shaderLab/syntax/subShader.mdx
  docs/zh/graphics/shader/shaderLab/usage.md
  examples/shader-lab-multi-pass.ts
  examples/shader-lab-simple.ts
  examples/shader-lab.ts
  examples/shader-water.ts
Labels: documentation

#2288 [docs] Add shader api
  docs/en/graphics/postProcess/effects.md
  docs/en/graphics/postProcess/postProcess.mdx
  docs/en/graphics/shader/blinnPhong.md
  docs/en/graphics/shader/pbr.md
  docs/en/graphics/shader/shader.md
  docs/en/graphics/shader/unlit.md
  docs/zh/graphics/light/shadow.md
  docs/zh/graphics/postProcess/effects.mdx
  docs/zh/graphics/postProcess/postProcess.mdx
  docs/zh/graphics/shader/_meta.json
  docs/zh/graphics/shader/assets.mdx
  docs/zh/graphics/shader/builtins/blinnPhong.md
  docs/zh/graphics/shader/builtins/intro.mdx
  docs/zh/graphics/shader/builtins/pbr.md
  docs/zh/graphics/shader/builtins/unlit.md
  docs/zh/graphics/shader/class.mdx
  docs/zh/graphics/shader/custom.md
  docs/zh/graphics/shader/shaderAPI.mdx
  docs/zh/graphics/shader/shaderLab/create.mdx
  docs/zh/graphics/shader/shaderLab/intro.md
Labels: documentation

#2278 doc: opt animator doc
  docs/zh/animation/animator.mdx
  docs/zh/animation/animatorController.md
  docs/zh/animation/animatorController.mdx
  docs/zh/animation/clip-for-artist.md
  docs/zh/animation/clip.mdx
  docs/zh/animation/layer.mdx
  docs/zh/animation/sprite-sheet.md
  docs/zh/animation/state-machine.md
  docs/zh/animation/state-machine.mdx
  docs/zh/animation/system.md
  docs/zh/graphics/mesh/modelMesh.md
Labels: documentation

#2270 Add prefab doc
  docs/zh/core/prefab.md
Labels: documentation

#2275 Update `XR` , `Start` and `Input` doc
  docs/zh/_meta.json
  docs/zh/core/engine.md
  docs/zh/graphics/2D/2d.md
  docs/zh/graphics/2D/lottie.md
  docs/zh/graphics/2D/sprite.md
  docs/zh/graphics/2D/spriteAtlas.md
  docs/zh/graphics/2D/spriteMask.md
  docs/zh/graphics/2D/spriteRenderer.md
  docs/zh/graphics/camera/camera.md
  docs/zh/graphics/camera/component.md
  docs/zh/graphics/camera/control.md
  docs/zh/graphics/camera/depthTexture.md
  docs/zh/graphics/camera/texture.md
  docs/zh/graphics/mesh/mesh.md
  docs/zh/graphics/renderer/renderer.md
  docs/zh/graphics/shader/shaderLab/intro.md
  docs/zh/input/framebuffer-picker.md
  docs/zh/input/input.md
  docs/zh/input/pointer.md
  docs/zh/miniProgram/miniProgame.md
  docs/zh/quick-start/_meta.json
  docs/zh/quick-start/overview.md
  docs/zh/quick-start/quickStart/core-concept.md
  docs/zh/quick-start/quickStart/flappy-bird.md
  docs/zh/quick-start/version.md
  docs/zh/script/script.md
  docs/zh/xr/_meta.json
  docs/zh/xr/input.md
  docs/zh/xr/manager.md
  docs/zh/xr/overall.md
  docs/zh/xr/quickStart/debug.md
  docs/zh/xr/quickStart/develop.md
  docs/zh/xr/session.md
  docs/zh/xr/start.md
  docs/zh/xr/system/camera.md
  docs/zh/xr/system/features.md
  docs/zh/xr/system/input.md
  docs/zh/xr/system/manager.md
  docs/zh/xr/system/session.md
  docs/zh/xr/system/toolkit.md
  examples/xr-ar-imageTracking.ts
Labels: documentation

#2289 Update doc
  docs/zh/_meta.json
  docs/zh/assets/build.md
  docs/zh/basics/_meta.json
  docs/zh/basics/benchmark.mdx
  docs/zh/basics/overview.md
  docs/zh/basics/quickStart/flappy-bird.md
  docs/zh/basics/quickStart/quick-start.md
  docs/zh/basics/version.md
  docs/zh/core/canvas.md
  docs/zh/core/engine.md
  docs/zh/core/math.md
  docs/zh/graphics/camera/camera.md
  docs/zh/graphics/mesh/primitiveMesh.md
  docs/zh/graphics/renderer/meshRenderer.md
  docs/zh/graphics/shader/builtins/blinnPhong.md
  docs/zh/interface/inspector.md
  docs/zh/interface/inspector.mdx
  docs/zh/quick-start/quickStart/core-concept.md
  docs/zh/script/class.md
  docs/zh/xr/overall.md
Labels: documentation

#2291 Fix doc link
  docs/en/assets/overall.md
  docs/en/graphics/2D/spine.md
  docs/en/graphics/camera/camera.md
  docs/en/graphics/renderer/renderer.md
  docs/zh/assets/overall.md
  docs/zh/basics/quickStart/quick-start.md
  docs/zh/graphics/renderer/renderer.md
  docs/zh/graphics/shader/class.mdx
  docs/zh/interface/inspector.md
Labels: documentation

#2298 Add advanced shader docs
  docs/zh/graphics/shader/builtins/_meta.json
  docs/zh/graphics/shader/builtins/digitalHuman/eye.mdx
  docs/zh/graphics/shader/builtins/digitalHuman/hair.mdx
  docs/zh/graphics/shader/builtins/digitalHuman/skin.mdx
  docs/zh/graphics/shader/builtins/thin.mdx
Labels: documentation

#2296 docs: opt physics doc
  docs/zh/physics/collider.md
  docs/zh/physics/controller.md
Labels: documentation

#2299 Fix doc error url
  docs/zh/animation/clip-for-artist.md
  docs/zh/art/bake-blender.md
  docs/zh/assets/overall.md
  docs/zh/basics/overview.md
  docs/zh/graphics/2D/spine/editor.md
  docs/zh/graphics/2D/spine/other.md
  docs/zh/graphics/2D/spine/runtime.md
  docs/zh/graphics/light/bake.md
  docs/zh/graphics/material/material.md
  docs/zh/graphics/model/importGlTF.md
  docs/zh/graphics/model/model.md
  docs/zh/graphics/model/restoration.md
  docs/zh/graphics/renderer/renderer.md
  docs/zh/graphics/shader/assets.mdx
  docs/zh/graphics/shader/builtins/intro.mdx
  docs/zh/graphics/shader/builtins/unlit.md
  docs/zh/graphics/shader/class.mdx
  docs/zh/graphics/shader/intro.mdx
  docs/zh/graphics/shader/shaderLab/intro.md
  docs/zh/graphics/shader/shaderLab/syntax/intro.mdx
  docs/zh/graphics/shader/shaderLab/syntax/shader.mdx
  docs/zh/graphics/shader/shaderLab/syntax/subShader.mdx
  docs/zh/graphics/texture/compression.md
Labels: documentation

#2302 Check doc url
  docs/zh/basics/overview.md
  docs/zh/core/canvas.md
  docs/zh/core/engine.md
  docs/zh/graphics/particle/renderer-animation-module.md
  docs/zh/graphics/particle/renderer-color-module.md
  docs/zh/graphics/particle/renderer-emission-module.md
  docs/zh/graphics/particle/renderer-main-module.md
  docs/zh/graphics/particle/renderer-rotation-module.md
  docs/zh/graphics/particle/renderer-size-module.md
  docs/zh/graphics/particle/renderer-velocity-module.md
  docs/zh/graphics/particle/renderer.md
  docs/zh/graphics/shader/builtins/digitalHuman/eye.mdx
  docs/zh/physics/collider.md
  docs/zh/physics/manager.md
  docs/zh/script/class.md
Labels: documentation

#2308 fix: shotball example type error
  examples/xr-vr-shotball.ts
Labels: documentation

#2311 Fix transform parent dirty error when added as root entity
  packages/core/src/Entity.ts
  packages/core/src/Scene.ts
  tests/src/core/Transform.test.ts
Labels: bug

#2310 Support WebP plugin
  packages/loader/src/gltf/GLTFSchema.ts
  packages/loader/src/gltf/extensions/EXT_texture_webp.ts
  packages/loader/src/gltf/extensions/index.ts
  packages/loader/src/gltf/parser/GLTFTextureParser.ts
Labels: enhancement

#2319 Docs: update render order
  docs/en/graphics/renderer/order.md
  docs/zh/graphics/renderer/order.md
Labels: documentation

#2320 Delete priority of material
  packages/core/src/material/Material.ts
Labels: ignore for release

#2271 Delete MAX_VERTEX_COUNT from PrimitiveChunkManager
  packages/core/src/RenderPipeline/PrimitiveChunkManager.ts
Labels: ignore for release

#2321 Fix litePhysics raycast error
  packages/physics-lite/src/LitePhysicsScene.ts
  tests/src/core/physics/PhysicsManager.test.ts
Labels: bug

#2247 Fix measure text width error
  packages/core/src/2d/text/TextRenderer.ts
  packages/core/src/2d/text/TextUtils.ts
  tests/src/core/2d/text/TextRenderer.test.ts
  tests/src/core/2d/text/TextUtils.test.ts
Labels: bug, text

#2326 Fix particle example in website
  examples/buffer-mesh-particle-shader-effect.ts
Labels: documentation

#2327 Fix `SpriteMask` clone bug
  packages/core/src/2d/sprite/SpriteMask.ts
Labels: bug, 2D

#2325 Fix animator play backwards error and onStateExit not triggered when crossFade finished and actualDeltaTime error
  e2e/case/animator-play-backwards.ts
  e2e/config.ts
  e2e/fixtures/originImage/Animator_animator-play-backwards.jpg
  packages/core/src/animation/Animator.ts
  tests/src/core/Animator.test.ts
Labels: bug, animation

#2322 Fix CharactorController move not effect with transform changed in update func
  packages/core/src/physics/CharacterController.ts
Labels: bug, physics

#2333 Fix particleRenderer enable startFrame
  e2e/case/particleRenderer-textureSheetAnimation.ts
  e2e/config.ts
  e2e/fixtures/originImage/Particle_particleRenderer-textureSheetAnimation.jpg
  packages/core/src/particle/ParticleGenerator.ts
  packages/core/src/particle/modules/TextureSheetAnimationModule.ts
  packages/core/src/shaderlib/particle/texture_sheet_animation_module.glsl
Labels: bug, particle

#2352 Fix video demo error in ios, video will show full screen
  examples/video-background.ts
  examples/video-transparent.ts
Labels: documentation, 2D

#2340 Fix primitive chunk free area error
  e2e/case/text-typed.ts
  e2e/config.ts
  e2e/fixtures/originImage/Text_text-typed.jpg
  packages/core/src/RenderPipeline/PrimitiveChunk.ts
Labels: 2D

#2362 Fix error in node environment
  packages/core/src/SystemInfo.ts
  packages/loader/src/gltf/extensions/EXT_texture_webp.ts
Labels: bug

#2365 ci: add webxr provenace
  .github/workflows/release.yml
  packages/xr-webxr/package.json
Labels: ignore for release
