Repository galacean/engine, pull requests merged in 2024-01, with the labels that each got.

#1935 Opt subdivsion sphere
  packages/core/src/mesh/PrimitiveMesh.ts
Labels: enhancement, mesh

#1936 Fix sprite mask clone error
  packages/core/src/2d/sprite/SpriteMask.ts
Labels: bug, sprite

#1937 Fix performance error when upload same buffer in one frame
  packages/core/src/RenderPipeline/Basic2DBatcher.ts
Labels: enhancement, sprite

#1940 Fix renderer sort error
  packages/core/src/RenderPipeline/RenderQueue.ts
Labels: bug, ignore for release

#1941 Sprite Loader support size config
  packages/core/src/2d/atlas/types.ts
  packages/loader/src/SpriteAtlasLoader.ts
  packages/loader/src/SpriteLoader.ts
Labels: enhancement, sprite

#1938 Fix error when set font size to 0
  packages/core/src/2d/text/TextRenderer.ts
  tests/src/core/2d/text/TextUtils.test.ts
Labels: bug, text

#1686 glTF support meshopt
  e2e/case/gltf-meshopt.ts
  e2e/fixtures/originImage/GLTF_gltf-meshopt.jpg
  e2e/tests/gltf.cy.ts
  packages/core/src/Engine.ts
  packages/core/src/SystemInfo.ts
  packages/loader/src/GLTFLoader.ts
  packages/loader/src/gltf/GLTFSchema.ts
  packages/loader/src/gltf/GLTFUtils.ts
  packages/loader/src/gltf/extensions/EXT_meshopt_compression.ts
  packages/loader/src/gltf/extensions/GLTFExtensionParser.ts
  packages/loader/src/gltf/extensions/GLTFExtensionSchema.ts
  packages/loader/src/gltf/extensions/MeshoptDecoder.ts
  packages/loader/src/gltf/extensions/index.ts
  packages/loader/src/gltf/parser/GLTFBufferViewParser.ts
  packages/loader/src/gltf/parser/GLTFParser.ts
  packages/loader/src/gltf/parser/GLTFParserContext.ts
  packages/loader/src/gltf/parser/index.ts
  packages/loader/src/index.ts
  packages/loader/src/ktx2/KTX2Loader.ts
Labels: enhancement, glTF

#1942 Refactor initialize meshopt
  packages/loader/src/GLTFLoader.ts
  packages/loader/src/gltf/extensions/EXT_meshopt_compression.ts
  packages/loader/src/gltf/extensions/MeshoptDecoder.ts
  packages/loader/src/ktx2/KTX2Loader.ts
Labels: ignore for release

#1943 Opt the texture filter mode for text renderer and fix renderer error when the text height is 1
  packages/core/src/2d/text/SubFont.ts
  packages/core/src/2d/text/TextRenderer.ts
  packages/core/src/2d/text/TextUtils.ts
  tests/src/core/2d/text/TextRenderer.test.ts
Labels: bug

#1951 Temp fix sprite sort error
  packages/core/src/RenderPipeline/RenderQueue.ts
Labels: bug, ignore for release

#1947 Add extend height for measure text
  packages/core/src/2d/text/TextUtils.ts
Labels: bug, text

#1950 Fix element buffer read error
  e2e/case/material-blinn-phong.ts
  e2e/case/material-pbr-clearcoat.ts
  e2e/case/material-pbr.ts
  e2e/case/material-shaderReplacement.ts
  e2e/fixtures/originImage/Material_material-pbr-clearcoat.jpg
  e2e/fixtures/originImage/Material_material-pbr.jpg
  e2e/fixtures/originImage/Material_material-shaderReplacement.jpg
  e2e/support/commands.ts
  e2e/tests/material.cy.ts
  packages/core/src/graphic/Buffer.ts
  tests/src/core/ModelMesh.test.ts
Labels: bug

#1954 Camera support custom view
  packages/core/src/Camera.ts
  tests/src/core/Camera.test.ts
  tests/src/loader/KTX2Loader.test.ts
Labels: enhancement, camera

#1952 Fix the syntax for `#include` in ShaderLab
  packages/core/src/shaderlib/ShaderFactory.ts
  packages/shader-lab/src/parser/ShaderParser.ts
  tests/src/shader-lab/shaders/unlit.shader
Labels: bug, shader, medium priority

#1958 Fix `PointerEvent` and `BlurEvent` triggered in same frame caused the wrong count of pointers.
  packages/core/src/input/pointer/PointerManager.ts
  tests/src/core/input/InputManager.test.ts
Labels: bug, Input

#1959 Fix `PointerEvent` and `BlurEvent` triggered in same frame caused the wrong count of pointers.
  packages/core/src/input/pointer/PointerManager.ts
Labels: bug, Input

#1962 Fix view dir in ortho projection
  packages/core/src/Camera.ts
  packages/core/src/shaderlib/begin_viewdir_frag.glsl
  packages/core/src/shaderlib/camera_declare.glsl
  packages/core/src/shaderlib/pbr/pbr_helper.glsl
Labels: bug, rendering

#1955 Input support custom event target.
  packages/core/src/Engine.ts
  packages/core/src/input/InputManager.ts
  packages/core/src/input/interface/IInput.ts
  packages/core/src/input/keyboard/KeyboardManager.ts
  packages/core/src/input/pointer/PointerManager.ts
  packages/core/src/input/wheel/WheelManager.ts
  packages/design/src/index.ts
  packages/design/src/input/IInputOptions.ts
  packages/design/src/input/index.ts
  packages/xr/src/input/XRInputManager.ts
  tests/src/core/input/InputManager.test.ts
Labels: Input

#1968 Fix infinite loop in `ShaderProgramPool._recursiveDestroy`
  packages/core/src/shader/ShaderProgramPool.ts
Labels: bug, shader, high priority

#1964 `ParticleRenderer` support gravityModifier's `TwoConstants` mode
  packages/core/src/particle/enums/ParticleRandomSubSeeds.ts
  packages/core/src/particle/modules/MainModule.ts
Labels: enhancement, particle

#1966 Fix `ShaderLab` diagnostics position error when source include `EditorProperties` & `EditorMacros` module
  packages/shader-lab/src/Ast2GLSLUtils.ts
  packages/shader-lab/src/AstNodeUtils.ts
  packages/shader-lab/src/ParsingContext.ts
  packages/shader-lab/src/RuntimeContext.ts
  packages/shader-lab/src/ShaderLab.ts
  packages/shader-lab/src/ShaderVisitor.ts
  packages/shader-lab/src/ast-node/AstNode.ts
  pnpm-lock.yaml
  tests/src/shader-lab/ShaderLab.test.ts
  tests/src/shader-lab/shaders/demo.shader
  tests/src/shader-lab/shaders/invalid.shader
  tests/src/shader-lab/shaders/template.shader
Labels: bug, shader, high priority

#1972 Export ParticleShapeType
  packages/core/src/particle/modules/shape/BaseShape.ts
  packages/core/src/particle/modules/shape/BoxShape.ts
  packages/core/src/particle/modules/shape/CircleShape.ts
  packages/core/src/particle/modules/shape/ConeShape.ts
  packages/core/src/particle/modules/shape/HemisphereShape.ts
  packages/core/src/particle/modules/shape/SphereShape.ts
  packages/core/src/particle/modules/shape/index.ts
Labels: good first issue, ignore for release, particle

#1971 Fix `ViewportToWorldPoint` error after modifying canvas width and height
  packages/core/src/Camera.ts
  packages/core/src/Canvas.ts
  packages/core/src/index.ts
  packages/rhi-webgl/src/WebCanvas.ts
  tests/src/core/Camera.test.ts
Labels: bug, camera

#1973 Optimize the e2e test framework
  e2e/case/.mockForE2E.ts
  e2e/case/animator-additive.ts
  e2e/case/animator-blendShape.ts
  e2e/case/animator-crossfade.ts
  e2e/case/animator-customAnimationClip.ts
  e2e/case/animator-customBlendShape.ts
  e2e/case/animator-event.ts
  e2e/case/animator-play.ts
  e2e/case/animator-reuse.ts
  e2e/case/animator-stateMachineScript.ts
  e2e/case/gltf-meshopt.ts
  e2e/case/material-blendMode.ts
  e2e/case/material-blinn-phong.ts
  e2e/case/material-pbr-clearcoat.ts
  e2e/case/material-pbr.ts
  e2e/case/material-shaderLab.ts
  e2e/case/material-shaderReplacement.ts
  e2e/case/material-unlit.ts
  e2e/config.ts
  e2e/support/commands.ts
  e2e/tests/animator.cy.ts
  e2e/tests/gltf.cy.ts
  e2e/tests/index.cy.ts
  e2e/tests/material.cy.ts
Labels: test, ignore for release

#1960 Support shadow fade
  e2e/case/shadow-basic.ts
  e2e/config.ts
  e2e/fixtures/originImage/Shadow_shadow-basic.jpg
  package.json
  packages/core/src/Scene.ts
  packages/core/src/shaderlib/mobile_blinnphong_frag.glsl
  packages/core/src/shaderlib/pbr/direct_irradiance_frag_define.glsl
  packages/core/src/shaderlib/shadow/ShadowFragmentDeclaration.glsl
  packages/core/src/shadow/CascadedShadowCasterPass.ts
  packages/core/src/shadow/ShadowUtils.ts
Labels: enhancement, rendering

#1908 Support gltf additive modification
  packages/core/src/animation/AnimatorState.ts
  packages/core/src/asset/Loader.ts
  packages/loader/src/AnimationClipLoader.ts
  packages/loader/src/resource-deserialize/index.ts
  packages/loader/src/resource-deserialize/resources/animationClip/AnimationClipDecoder.ts
  packages/loader/src/resource-deserialize/resources/animationClip/ComponentMap.ts
  packages/loader/src/resource-deserialize/resources/parser/HierarchyParser.ts
  packages/loader/src/resource-deserialize/resources/parser/ParserContext.ts
  packages/loader/src/resource-deserialize/resources/parser/PrefabParser.ts
  packages/loader/src/resource-deserialize/resources/parser/ReflectionParser.ts
  packages/loader/src/resource-deserialize/resources/prefab/PrefabParser.ts
  packages/loader/src/resource-deserialize/resources/prefab/PrefabParserContext.ts
  packages/loader/src/resource-deserialize/resources/scene/SceneParser.ts
  packages/loader/src/resource-deserialize/resources/scene/SceneParserContext.ts
  packages/loader/src/resource-deserialize/resources/schema/BasicSchema.ts
Labels: enhancement, ignore for release

#1977 Fix the mesh of 2d batcher error when call gc
  packages/core/src/RenderPipeline/Basic2DBatcher.ts
Labels: bug, sprite

#1980 Complement `ShaderLab` syntax for glsl
  packages/core/src/shaderlib/ShaderFactory.ts
  packages/shader-lab/src/Ast2GLSLUtils.ts
  packages/shader-lab/src/AstNodeUtils.ts
  packages/shader-lab/src/Constants.ts
  packages/shader-lab/src/ParsingContext.ts
  packages/shader-lab/src/RuntimeContext.ts
  packages/shader-lab/src/ShaderLab.ts
  packages/shader-lab/src/ShaderVisitor.ts
  packages/shader-lab/src/ast-node/AstNode.ts
  packages/shader-lab/src/ast-node/AstNodeContent.ts
  packages/shader-lab/src/index.ts
  packages/shader-lab/src/parser/ShaderParser.ts
  packages/shader-lab/src/parser/tokens/Keyword.ts
  packages/shader-lab/src/parser/tokens/Other.ts
  packages/shader-lab/src/parser/tokens/Symbol.ts
  packages/shader-lab/src/types.ts
  pnpm-lock.yaml
Labels: enhancement, shader, high priority

#1982 Fix the problem of resetting `HtmlCanvas.ClientXXX` when call `canvas.resizeByClientSize()`
  packages/core/src/Canvas.ts
  packages/rhi-webgl/src/WebCanvas.ts
Labels: bug, medium priority

#1983 Fix: particle emission baseShape enabled
  packages/core/src/particle/ParticleGenerator.ts
  packages/core/src/particle/modules/shape/BaseShape.ts
Labels: bug

#1984 Fix the problem of resetting `HtmlCanvas.ClientXXX` when call `canvas.resizeByClientSize()`
  packages/core/src/Canvas.ts
  packages/rhi-webgl/src/WebCanvas.ts
Labels: bug

#1987 Fix sort of compiled glsl source
  packages/shader-lab/src/AstNodeUtils.ts
Labels: bug, shader, high priority

#1979 feat: support multi same type component
  packages/loader/src/resource-deserialize/resources/parser/HierarchyParser.ts
Labels: enhancement, ignore for release
