Repository galacean/engine, pull requests merged in 2024-03, with the labels that each got.

#2017 Temp fix particle bounds not update when init
  packages/core/src/particle/ParticleRenderer.ts
Labels: bug, particle

#2015 Fix skinned mesh renderer has incorrect bounding box when there is n…
  packages/core/src/Renderer.ts
  packages/core/src/mesh/SkinnedMeshRenderer.ts
Labels: bug, mesh

#2016 Fix animation layer mask remove error
  packages/core/src/animation/Animator.ts
  packages/core/src/animation/AnimatorLayerMask.ts
  tests/src/core/Animator.test.ts
Labels: bug, ignore for release

#1989 Camera support opaque texture
  e2e/case/camera-opaque-texture.ts
  e2e/config.ts
  e2e/fixtures/originImage/Camera_camera-opaque-texture.jpg
  packages/core/src/2d/sprite/SpriteRenderer.ts
  packages/core/src/2d/text/TextRenderer.ts
  packages/core/src/BasicResources.ts
  packages/core/src/Camera.ts
  packages/core/src/Engine.ts
  packages/core/src/RenderPipeline/BasicRenderPipeline.ts
  packages/core/src/RenderPipeline/DepthOnlyPass.ts
  packages/core/src/RenderPipeline/OpaqueTexturePass.ts
  packages/core/src/RenderPipeline/PipelineUtils.ts
  packages/core/src/RenderPipeline/RenderPass.ts
  packages/core/src/RenderPipeline/RenderQueue.ts
  packages/core/src/RenderPipeline/index.ts
  packages/core/src/Renderer.ts
  packages/core/src/enums/Downsampling.ts
  packages/core/src/enums/MSAASamples.ts
  packages/core/src/index.ts
  packages/core/src/mesh/SkinnedMeshRenderer.ts
  packages/core/src/particle/ParticleRenderer.ts
  packages/core/src/renderingHardwareInterface/IPlatformRenderTarget.ts
  packages/core/src/shader/ShaderPool.ts
  packages/core/src/shader/state/DepthState.ts
  packages/core/src/shaderlib/extra/Blit.fs.glsl
  packages/core/src/shaderlib/extra/Blit.vs.glsl
  packages/core/src/shadow/CascadedShadowCasterPass.ts
  packages/core/src/texture/RenderTarget.ts
  packages/core/src/texture/enums/RenderBufferDepthFormat.ts
  packages/core/src/texture/enums/TextureFormat.ts
  packages/rhi-webgl/src/GLRenderTarget.ts
  packages/rhi-webgl/src/GLTexture.ts
  packages/rhi-webgl/src/WebGLGraphicDevice.ts
  tests/src/core/texture/RenderTarget.test.ts
Labels: enhancement, shader, camera

#2019 Fix opaque texture
  packages/core/src/Camera.ts
Labels: bug, ignore for release, camera

#2020 Fix error when destroying `SkinnedRenderer`
  packages/core/src/mesh/SkinnedMeshRenderer.ts
Labels: bug

#2021 Temp fix meshopt worker function may renamed by builder
  packages/loader/src/gltf/extensions/MeshoptDecoder.ts
Labels: bug, mesh

#2023 Fix `pass.renderstate` does not work in `SpriteRenderer`
  packages/core/src/2d/sprite/SpriteMask.ts
  packages/core/src/2d/sprite/SpriteRenderer.ts
  packages/core/src/RenderPipeline/SpriteBatcher.ts
  packages/core/src/RenderPipeline/SpriteMaskBatcher.ts
Labels: bug, sprite

#2024 Add editor fog parser
  packages/loader/src/SceneLoader.ts
  packages/loader/src/resource-deserialize/resources/schema/SceneSchema.ts
Labels: ignore for release

#2025 Remove prefer independent canvas temp
  packages/core/src/Camera.ts
Labels: ignore for release

#2018 Fix the bug of global variable dosn't work in multi-pass ShaderLab
  packages/shader-lab/src/RuntimeContext.ts
  tests/src/shader-lab/ShaderLab.test.ts
  tests/src/shader-lab/shaders/multi-pass.shader
Labels: bug, shader, high priority

#2028 Fix compiling error introduced by preprocessor
  packages/shader-lab/src/Ast2GLSLUtils.ts
  packages/shader-lab/src/ast-node/AstNode.ts
  packages/shader-lab/src/preprocessor/Preprocessor.ts
  packages/shader-lab/src/preprocessor/Tokenizer.ts
  tests/src/shader-lab/ShaderLab.test.ts
  tests/src/shader-lab/shaders/macro-pre.shader
  tests/src/shader-lab/test-case/compare/frag.txt
  tests/src/shader-lab/test-case/source/frag.txt
Labels: bug, shader, high priority

#2031 Fix blend shape error if use quantization
  e2e/case/animator-blendShape-quantization.ts
  e2e/config.ts
  e2e/fixtures/originImage/Animator_animator-blendShape-quantization.jpg
  packages/loader/src/GLTFContentRestorer.ts
  packages/loader/src/gltf/GLTFUtils.ts
  packages/loader/src/gltf/parser/GLTFMeshParser.ts
Labels: bug, animation, glTF

#2040 Fix primitive destory bug (#2032)
  packages/core/src/graphic/Primitive.ts
Labels: bug

#2043 Fix blendshape error
  e2e/case/gltf-blendshape.ts
  e2e/config.ts
  e2e/fixtures/originImage/GLTF_gltf-blendshape.jpg
  packages/loader/src/gltf/parser/GLTFMeshParser.ts
Labels: bug, animation
