Repository galacean/engine, pull requests merged in 2024-12, with the labels that each got.

#2444 Fix clear flag of internal render target
  e2e/case/.mockForE2E.ts
  e2e/case/multi-camera-no-clear.ts
  e2e/case/multi-scene-clear.ts
  e2e/case/multi-scene-no-clear.ts
  e2e/config.ts
  e2e/fixtures/originImage/Advance_multi-camera-no-clear.jpg
  e2e/fixtures/originImage/Advance_multi-scene-clear.jpg
  e2e/fixtures/originImage/Advance_multi-scene-no-clear.jpg
  packages/core/src/Camera.ts
  packages/core/src/RenderPipeline/BasicRenderPipeline.ts
  packages/core/src/RenderPipeline/PipelineUtils.ts
  packages/core/src/shaderlib/extra/Blit.fs.glsl
  packages/rhi-webgl/src/WebGLGraphicDevice.ts
Labels: bug

#2432 doc: opt animator doc
  docs/zh/animation/_meta.json
  docs/zh/animation/animator.mdx
  docs/zh/animation/animatorController.mdx
  docs/zh/animation/clip-for-artist.md
  docs/zh/animation/clip.mdx
  docs/zh/animation/examples/blending.mdx
  docs/zh/animation/examples/controlAnimationByInput.mdx
  docs/zh/animation/examples/crossFade.mdx
  docs/zh/animation/examples/material-animation.mdx
  docs/zh/animation/examples/playAnimation.mdx
  docs/zh/animation/examples/reuseAnimation.mdx
  docs/zh/animation/examples/sprite-sheet.mdx
  docs/zh/animation/examples/text-animation.mdx
  docs/zh/animation/layer.mdx
  docs/zh/animation/sprite-sheet.md
  docs/zh/animation/state-machine.mdx
  docs/zh/animation/system.md
Labels: documentation

#2451 Fix gltfLoader throw error when url load failed
  packages/loader/src/gltf/parser/GLTFParserContext.ts
  tests/src/core/resource/ResourceManager.test.ts
Labels: bug, ignore for release

#2430 Fix infinite loop when transition to exit but no entry
  packages/core/src/animation/Animator.ts
  tests/src/core/Animator.test.ts
Labels: bug, animation

#2449 Support background audio
  packages/core/src/asset/AssetType.ts
  packages/core/src/asset/Loader.ts
  packages/core/src/asset/request.ts
  packages/core/src/audio/AudioClip.ts
  packages/core/src/audio/AudioManager.ts
  packages/core/src/audio/AudioSource.ts
  packages/core/src/audio/index.ts
  packages/core/src/index.ts
  packages/loader/src/AudioLoader.ts
  packages/loader/src/EnvLoader.ts
  packages/loader/src/GLTFContentRestorer.ts
  packages/loader/src/HDRLoader.ts
  packages/loader/src/Texture2DContentRestorer.ts
  packages/loader/src/Texture2DLoader.ts
  packages/loader/src/TextureCubeContentRestorer.ts
  packages/loader/src/TextureCubeLoader.ts
  packages/loader/src/gltf/parser/GLTFBufferParser.ts
  packages/loader/src/gltf/parser/GLTFSchemaParser.ts
  packages/loader/src/index.ts
  tests/src/core/audio/AudioSource.test.ts
  tests/src/core/model/sound.ts
Labels: enhancement, audio

#2455 Fix `Obj-Loader` sample errors
  examples/obj-loader.ts
Labels: documentation

#2419 Opt ShaderLab module code
  packages/shader-lab/src/ShaderLab.ts
  packages/shader-lab/src/TempArray.ts
  packages/shader-lab/src/codeGen/CodeGenVisitor.ts
  packages/shader-lab/src/common/BaseScanner.ts
  packages/shader-lab/src/contentParser/ShaderContentParser.ts
  packages/shader-lab/src/lexer/Lexer.ts
  packages/shader-lab/src/lexer/Utils.ts
  packages/shader-lab/src/preprocessor/PpParser.ts
  packages/shader-lab/src/preprocessor/PpScanner.ts
  tests/src/shader-lab/ShaderValidate.ts
Labels: enhancement, Rendering, shader, medium priority, ignore for release

#2456 Optimize the addition and replacement logic of `Transform`
  packages/core/src/Camera.ts
  packages/core/src/ComponentsDependencies.ts
  packages/core/src/Entity.ts
  packages/core/src/RenderPipeline/RenderQueue.ts
  packages/core/src/Renderer.ts
  packages/core/src/Transform.ts
  packages/core/src/mesh/MeshRenderer.ts
  packages/core/src/mesh/SkinnedMeshRenderer.ts
  packages/core/src/physics/Collider.ts
  packages/core/src/physics/joint/Joint.ts
  tests/src/core/CompomentDependencies.test.ts
  tests/src/core/Transform.test.ts
Labels: high priority

#2448 PBR support sheen
  packages/core/src/material/PBRMaterial.ts
  packages/loader/src/gltf/extensions/KHR_materials_sheen.ts
Labels: Rendering, shader, glTF, material

#2466 Fix Transform e2e error
  packages/core/src/Transform.ts
  packages/core/src/mesh/SkinnedMeshRenderer.ts
Labels: bug, ignore for release

#2467 Migrate shader-shaderlab from `engine-toolkit`
  packages/shader-shaderlab/README.md
  packages/shader-shaderlab/package.json
  packages/shader-shaderlab/src/global.d.ts
  packages/shader-shaderlab/src/index.ts
  packages/shader-shaderlab/src/shaders/BlendShape.glsl
  packages/shader-shaderlab/src/shaders/Common.glsl
  packages/shader-shaderlab/src/shaders/Fog.glsl
  packages/shader-shaderlab/src/shaders/Light.glsl
  packages/shader-shaderlab/src/shaders/Normal.glsl
  packages/shader-shaderlab/src/shaders/PBR.gs
  packages/shader-shaderlab/src/shaders/Shadow.glsl
  packages/shader-shaderlab/src/shaders/ShadowSampleTent.glsl
  packages/shader-shaderlab/src/shaders/Skin.glsl
  packages/shader-shaderlab/src/shaders/Transform.glsl
  packages/shader-shaderlab/src/shaders/index.ts
  packages/shader-shaderlab/src/shaders/shadingPBR/AttributesPBR.glsl
  packages/shader-shaderlab/src/shaders/shadingPBR/BRDF.glsl
  packages/shader-shaderlab/src/shaders/shadingPBR/ForwardPassPBR.glsl
  packages/shader-shaderlab/src/shaders/shadingPBR/FragmentPBR.glsl
  packages/shader-shaderlab/src/shaders/shadingPBR/LightDirectPBR.glsl
  packages/shader-shaderlab/src/shaders/shadingPBR/LightIndirectFunctions.glsl
  packages/shader-shaderlab/src/shaders/shadingPBR/LightIndirectPBR.glsl
  packages/shader-shaderlab/src/shaders/shadingPBR/ReflectionLobe.glsl
  packages/shader-shaderlab/src/shaders/shadingPBR/VaryingsPBR.glsl
  packages/shader-shaderlab/src/shaders/shadingPBR/VertexPBR.glsl
  packages/shader-shaderlab/src/shaders/shadingPBR/index.ts
  packages/shader-shaderlab/tsconfig.json
  pnpm-lock.yaml
  rollup.config.js
Labels: Rendering, ignore for release

#2468 Fix last line commets skip bug
  packages/shader-lab/src/common/BaseScanner.ts
  tests/src/shader-lab/shaders/demo.shader
Labels: bug, shader, high priority

#2469 Disable glsl compress for non-mini package
  rollup.config.js
Labels: shader, engineering, high priority

#2458 Support get contact points and get closest point on shape from a point
  packages/core/src/physics/CharacterController.ts
  packages/core/src/physics/Collision.ts
  packages/core/src/physics/ContactPoint.ts
  packages/core/src/physics/PhysicsScene.ts
  packages/core/src/physics/index.ts
  packages/core/src/physics/shape/ColliderShape.ts
  packages/core/src/physics/shape/PlaneColliderShape.ts
  packages/design/src/physics/ICollision.ts
  packages/design/src/physics/IPhysics.ts
  packages/design/src/physics/index.ts
  packages/design/src/physics/shape/IColliderShape.ts
  packages/physics-lite/src/LiteDynamicCollider.ts
  packages/physics-lite/src/LitePhysics.ts
  packages/physics-lite/src/LitePhysicsScene.ts
  packages/physics-lite/src/shape/LiteBoxColliderShape.ts
  packages/physics-lite/src/shape/LiteColliderShape.ts
  packages/physics-lite/src/shape/LiteSphereColliderShape.ts
  packages/physics-physx/src/PhysXPhysics.ts
  packages/physics-physx/src/PhysXPhysicsScene.ts
  packages/physics-physx/src/shape/PhysXColliderShape.ts
  tests/src/core/physics/ColliderShape.test.ts
  tests/src/core/physics/Collision.test.ts
Labels: physics

#2471 Fix closest point error when point internal in lite physics
  packages/physics-lite/src/shape/LiteSphereColliderShape.ts
  tests/src/core/physics/ColliderShape.test.ts
Labels: bug, physics, ignore for release

#2472 Fix closest point error in lite physics
  packages/physics-lite/src/shape/LiteSphereColliderShape.ts
  tests/src/core/physics/ColliderShape.test.ts
Labels: bug, physics, ignore for release

#2401 Open post process pipeline and support local mode
  e2e/case/multi-camera-no-clear.ts
  e2e/case/multi-scene-clear.ts
  e2e/case/multi-scene-no-clear.ts
  e2e/case/postProcess-HDR-bloom-ACES.ts
  e2e/case/postProcess-HDR-bloom-neutral.ts
  e2e/case/postProcess-LDR-bloom-neutral.ts
  e2e/case/postProcess-customPass.ts
  e2e/config.ts
  e2e/fixtures/originImage/PostProcess_postProcess-customPass.jpg
  packages/core/src/Camera.ts
  packages/core/src/Component.ts
  packages/core/src/Engine.ts
  packages/core/src/RenderPipeline/BasicRenderPipeline.ts
  packages/core/src/RenderPipeline/Blitter.ts
  packages/core/src/RenderPipeline/OpaqueTexturePass.ts
  packages/core/src/RenderPipeline/PipelineUtils.ts
  packages/core/src/RenderPipeline/index.ts
  packages/core/src/Scene.ts
  packages/core/src/postProcess/PostProcess.ts
  packages/core/src/postProcess/PostProcessEffect.ts
  packages/core/src/postProcess/PostProcessEffectParameter.ts
  packages/core/src/postProcess/PostProcessManager.ts
  packages/core/src/postProcess/PostProcessPass.ts
  packages/core/src/postProcess/PostProcessUberPass.ts
  packages/core/src/postProcess/effects/BloomEffect.ts
  packages/core/src/postProcess/effects/TonemappingEffect.ts
  packages/core/src/postProcess/index.ts
  packages/core/src/shaderlib/extra/Blit.fs.glsl
  packages/loader/src/SceneLoader.ts
  tests/src/core/postProcess/PostProcess.test.ts
  tests/src/core/postProcess/PostProcessPass.test.ts
Labels: Rendering

#2452 ShaderLab support MRT
  e2e/case/shaderLab-mrt.ts
  e2e/config.ts
  e2e/fixtures/originImage/Material_shaderLab-mrt.jpg
  packages/shader-lab/src/GSError.ts
  packages/shader-lab/src/ParserUtils.ts
  packages/shader-lab/src/ShaderLabUtils.ts
  packages/shader-lab/src/codeGen/CodeGenVisitor.ts
  packages/shader-lab/src/codeGen/GLES100.ts
  packages/shader-lab/src/codeGen/GLES300.ts
  packages/shader-lab/src/codeGen/GLESVisitor.ts
  packages/shader-lab/src/codeGen/VisitorContext.ts
  packages/shader-lab/src/common/BaseScanner.ts
  packages/shader-lab/src/common/BaseSymbolTable.ts
  packages/shader-lab/src/common/Keywords.ts
  packages/shader-lab/src/common/types.ts
  packages/shader-lab/src/contentParser/ContentSymbolTable.ts
  packages/shader-lab/src/contentParser/ShaderContentParser.ts
  packages/shader-lab/src/contentParser/SymbolTable.ts
  packages/shader-lab/src/lalr/CFG.ts
  packages/shader-lab/src/lalr/LALR1.ts
  packages/shader-lab/src/lalr/Production.ts
  packages/shader-lab/src/lalr/StateItem.ts
  packages/shader-lab/src/lalr/Utils.ts
  packages/shader-lab/src/lalr/types.ts
  packages/shader-lab/src/lexer/Lexer.ts
  packages/shader-lab/src/parser/AST.ts
  packages/shader-lab/src/parser/Grammar.ts
  packages/shader-lab/src/parser/GrammarSymbol.ts
  packages/shader-lab/src/parser/SemanticAnalyzer.ts
  packages/shader-lab/src/parser/ShaderInfo.ts
  packages/shader-lab/src/parser/ShaderTargetParser.ts
  packages/shader-lab/src/parser/TargetParser.y
  packages/shader-lab/src/parser/builtin/variables.ts
  packages/shader-lab/src/parser/symbolTable/SymbolInfo.ts
  packages/shader-lab/src/parser/symbolTable/SymbolTable.ts
  packages/shader-lab/src/parser/symbolTable/TargetSymbolTable.ts
  packages/shader-lab/src/parser/symbolTable/index.ts
  packages/shader-lab/src/parser/types.ts
  tests/src/shader-lab/ShaderLab.test.ts
  tests/src/shader-lab/shaders/mrt-error1.shader
  tests/src/shader-lab/shaders/mrt-normal.shader
  tests/src/shader-lab/shaders/mrt-struct.shader
  tests/vitest.config.ts
Labels: enhancement, shader, high priority

#2478 pbr support transmission
  packages/core/src/material/BaseMaterial.ts
  packages/core/src/material/PBRMaterial.ts
  packages/core/src/material/enums/Refraction.ts
  packages/core/src/material/index.ts
  packages/loader/src/gltf/extensions/GLTFExtensionSchema.ts
  packages/loader/src/gltf/extensions/KHR_materials_transmission.ts
  packages/loader/src/gltf/extensions/KHR_materials_volume.ts
  packages/shader-shaderlab/src/shaders/Common.glsl
  packages/shader-shaderlab/src/shaders/PBR.gs
  packages/shader-shaderlab/src/shaders/shadingPBR/BRDF.glsl
  packages/shader-shaderlab/src/shaders/shadingPBR/BTDF.glsl
  packages/shader-shaderlab/src/shaders/shadingPBR/ForwardPassPBR.glsl
  packages/shader-shaderlab/src/shaders/shadingPBR/FragmentPBR.glsl
  packages/shader-shaderlab/src/shaders/shadingPBR/LightDirectPBR.glsl
  packages/shader-shaderlab/src/shaders/shadingPBR/LightIndirectPBR.glsl
  packages/shader-shaderlab/src/shaders/shadingPBR/Refraction.glsl
  packages/shader-shaderlab/src/shaders/shadingPBR/index.ts
Labels: enhancement, Rendering

#2470 shaderlab pbr support refraction
  packages/core/src/material/PBRMaterial.ts
  packages/core/src/material/enums/Refraction.ts
  packages/shader-shaderlab/src/shaders/Common.glsl
  packages/shader-shaderlab/src/shaders/PBR.gs
  packages/shader-shaderlab/src/shaders/shadingPBR/BTDF.glsl
  packages/shader-shaderlab/src/shaders/shadingPBR/ForwardPassPBR.glsl
  packages/shader-shaderlab/src/shaders/shadingPBR/FragmentPBR.glsl
  packages/shader-shaderlab/src/shaders/shadingPBR/Refraction.glsl
Labels: Rendering, shader, glTF, material
