Repository galacean/engine, pull requests merged in 2024-07, with the labels that each got.

#2107 Fix sub asset repeated loading
  packages/core/src/asset/ResourceManager.ts
  packages/loader/src/gltf/parser/GLTFParserContext.ts
  tests/src/core/resource/ResourceManager.test.ts
Labels: bug, enhancement, glTF

#2155 Add constructor to sub primitive and export
  packages/core/src/graphic/SubMesh.ts
  packages/core/src/graphic/SubPrimitive.ts
  packages/core/src/graphic/index.ts
Labels: enhancement

#2146 Enable delay initialization of the MeshoptDecoder
  e2e/case/gltf-meshopt.ts
  packages/loader/src/GLTFLoader.ts
  packages/loader/src/gltf/extensions/EXT_meshopt_compression.ts
  packages/loader/src/gltf/extensions/MeshoptDecoder.ts
Labels: enhancement, glTF

#2154 Export `ClearableObjectPool` and `ReturnableObjectPool` from utils
  packages/core/src/index.ts
  packages/core/src/utils/ClearableObjectPool.ts
  packages/core/src/utils/ObjectPool.ts
  packages/core/src/utils/ReturnableObjectPool.ts
  packages/core/src/utils/index.ts
Labels: enhancement

#2128 Fix set 2d color no working
  packages/core/src/2d/sprite/SpriteRenderer.ts
  packages/core/src/2d/text/TextRenderer.ts
  tests/src/core/SpriteRenderer.test.ts
Labels: bug, 2D

#2137 fix: the this of animation event script is not right
  packages/core/src/animation/Animator.ts
Labels: bug, animation

#2129 Support post process
  e2e/case/.initPostProcessEnv.ts
  e2e/case/postProcess-HDR-bloom-ACES.ts
  e2e/case/postProcess-HDR-bloom-neutral.ts
  e2e/case/postProcess-LDR-bloom-neutral.ts
  e2e/config.ts
  e2e/fixtures/originImage/PostProcess_postProcess-HDR-bloom-ACES.jpg
  e2e/fixtures/originImage/PostProcess_postProcess-HDR-bloom-neutral.jpg
  e2e/fixtures/originImage/PostProcess_postProcess-LDR-bloom-neutral.jpg
  packages/core/src/BasicResources.ts
  packages/core/src/Camera.ts
  packages/core/src/RenderPipeline/BasicRenderPipeline.ts
  packages/core/src/RenderPipeline/DepthOnlyPass.ts
  packages/core/src/RenderPipeline/OpaqueTexturePass.ts
  packages/core/src/RenderPipeline/PipelinePass.ts
  packages/core/src/RenderPipeline/PipelineUtils.ts
  packages/core/src/RenderPipeline/RenderContext.ts
  packages/core/src/RenderPipeline/enums/RenderBufferStoreAction.ts
  packages/core/src/RenderPipeline/index.ts
  packages/core/src/Scene.ts
  packages/core/src/index.ts
  packages/core/src/postProcess/PostProcessManager.ts
  packages/core/src/postProcess/effects/BloomEffect.ts
  packages/core/src/postProcess/effects/TonemappingEffect.ts
  packages/core/src/postProcess/effects/index.ts
  packages/core/src/postProcess/index.ts
  packages/core/src/postProcess/shaders/Bloom/BloomBlurH.glsl
  packages/core/src/postProcess/shaders/Bloom/BloomBlurV.glsl
  packages/core/src/postProcess/shaders/Bloom/BloomPrefilter.glsl
  packages/core/src/postProcess/shaders/Bloom/BloomUpsample.glsl
  packages/core/src/postProcess/shaders/Filtering.glsl
  packages/core/src/postProcess/shaders/PostCommon.glsl
  packages/core/src/postProcess/shaders/Tonemapping/ACES/ACESTonemapping.glsl
  packages/core/src/postProcess/shaders/Tonemapping/ACES/ColorTransform.glsl
  packages/core/src/postProcess/shaders/Tonemapping/ACES/ODT.glsl
  packages/core/src/postProcess/shaders/Tonemapping/ACES/RRT.glsl
  packages/core/src/postProcess/shaders/Tonemapping/ACES/Tonescale.glsl
  packages/core/src/postProcess/shaders/Tonemapping/NeutralTonemapping.glsl
  packages/core/src/postProcess/shaders/UberPost.glsl
  packages/core/src/shaderlib/pbr/pbr_helper.glsl
  packages/core/src/shadow/CascadedShadowCasterPass.ts
  packages/core/src/texture/enums/TextureFormat.ts
  packages/math/src/MathUtil.ts
  packages/rhi-webgl/src/GLTexture.ts
  tests/src/core/Camera.test.ts
Labels: rendering, post processing, pipeline

#2170 Delete msaa in bloom and RenderBufferStoreAction
  packages/core/src/RenderPipeline/PipelineUtils.ts
  packages/core/src/RenderPipeline/enums/RenderBufferStoreAction.ts
  packages/core/src/RenderPipeline/index.ts
  packages/core/src/postProcess/effects/BloomEffect.ts
Labels: bug, ignore for release

#2168 Examples adapt for 2d and update video transparent
  examples/sprite-drawMode.ts
  examples/sprite-renderer.ts
  examples/text-ktv-subtitle.ts
  examples/video-transparent.ts
Labels: example, ignore for release

#2163 Camera`setReplacementShader` support `ReplacementFailureStrategy ` when failed
  packages/core/src/Camera.ts
  packages/core/src/RenderPipeline/BasicRenderPipeline.ts
  packages/core/src/RenderPipeline/RenderContext.ts
  packages/core/src/enums/ReplacementFailureStrategy.ts
  packages/core/src/index.ts
  tests/src/core/Camera.test.ts
Labels: enhancement

#2173 Fix brdf.rg may less than 0
  packages/core/src/shaderlib/pbr/ibl_frag_define.glsl
Labels: bug

#2172 Camera `setReplacementShader` support `ReplacementFailureStrategy ` when failed
  packages/core/src/Camera.ts
  packages/core/src/RenderPipeline/BasicRenderPipeline.ts
  packages/core/src/RenderPipeline/RenderContext.ts
  packages/core/src/enums/ReplacementFailureStrategy.ts
  packages/core/src/index.ts
  tests/src/core/Camera.test.ts
Labels: enhancement, camera

#2177 Add post loader in SceneLoader
  packages/loader/src/SceneLoader.ts
  packages/loader/src/resource-deserialize/resources/schema/SceneSchema.ts
Labels: ignore for release

#2164 Fix the logic that incorrectly determines the length of the atlas when loading it
  packages/loader/src/SpriteAtlasLoader.ts
Labels: bug, sprite

#2229 docs: add benchmark doc
  docs/quick-start/benchmark.mdx
Labels: documentation, ignore for release

#2232 Caching erroneous shaders to avoid repeated compilation.
  packages/shader-lab/src/ShaderLab.ts
  packages/shader-lab/src/parser/ShaderTargetParser.ts
Labels: enhancement, shader, high priority

#2233 Clamp shadow strength to 0~1
  packages/core/src/lighting/Light.ts
  packages/core/src/postProcess/effects/BloomEffect.ts
  tests/src/core/Light.test.ts
Labels: bug, shadow

#2235 Fix get null of dirtTexture
  packages/loader/src/SceneLoader.ts
Labels: ignore for release

#2236 Fix preprocessor parenthesis expression parse
  packages/shader-lab/src/preprocessor/PpParser.ts
Labels: bug, shader, high priority

#2243 Clamp linear gamma at last output
  packages/core/src/shaderlib/common.glsl
  packages/core/src/shaderlib/pbr/ibl_frag_define.glsl
Labels: bug

#2241 Path in `#include` directive support relative path against to shader's path AND fix code generation error when target language is gles 100
  packages/core/src/shader/Shader.ts
  packages/core/src/shader/ShaderPass.ts
  packages/design/src/shader-lab/IShaderLab.ts
  packages/shader-lab/src/ShaderLab.ts
  packages/shader-lab/src/codeGen/GLES100.ts
  packages/shader-lab/src/codeGen/GLES300.ts
  packages/shader-lab/src/codeGen/GLESVisitor.ts
  packages/shader-lab/src/preprocessor/PpParser.ts
  packages/shader-lab/src/preprocessor/Preprocessor.ts
  tests/src/shader-lab/ShaderValidate.ts
  tests/src/shader-lab/shaders/unlit.shader
Labels: enhancement, shader, high priority

#2228 feat: update controller loader to enhance stateMachine and fix crossfade bug when dest state has no clip
  packages/core/src/animation/Animator.ts
  packages/core/src/animation/index.ts
  packages/loader/src/AnimatorControllerLoader.ts
Labels: animation

#2245 fix: benchmark doc typo
  docs/en/quick-start/benchmark.mdx
  docs/zh/quick-start/benchmark.mdx
Labels: documentation

#2165 XR editor adaptation
  packages/core/src/utils/SafeLoopArray.ts
  packages/core/src/utils/index.ts
  packages/loader/src/PrefabLoader.ts
  packages/loader/src/index.ts
  packages/loader/src/resource-deserialize/index.ts
  packages/loader/src/resource-deserialize/resources/scene/SceneParser.ts
  packages/xr-webxr/src/WebXRDevice.ts
  packages/xr-webxr/src/WebXRSession.ts
  packages/xr/src/XRManagerExtended.ts
  packages/xr/src/feature/trackable/XRTrackableFeature.ts
  packages/xr/src/index.ts
  packages/xr/src/loader/XRReferenceImageDecoder.ts
  packages/xr/src/loader/XRReferenceImageLoader.ts
  packages/xr/src/session/XRSessionManager.ts
  packages/xr/src/session/XRSessionState.ts
Labels: enhancement, xr, ignore for release

#2255 Fix XR features initialization exception
  packages/xr/src/XRManagerExtended.ts
Labels: bug, xr, ignore for release

#2251 Fix glTF scene root not mark as template
  packages/loader/src/gltf/parser/GLTFSceneParser.ts
Labels: bug, ignore for release

#2252 Fix animation sholud reset when reenabled
  e2e/case/animator-play-beforeActive.ts
  e2e/config.ts
  e2e/fixtures/originImage/Animator_animator-play-beforeActive.jpg
  packages/core/src/animation/Animator.ts
Labels: bug, ignore for release

#2256 Fix particle bugs
  packages/core/src/Renderer.ts
  packages/core/src/mesh/SkinnedMeshRenderer.ts
  packages/core/src/particle/ParticleRenderer.ts
  packages/core/src/shaderlib/particle/color_over_lifetime_module.glsl
Labels: bug, particle

#2257 Fix 2D batch buffer error
  packages/core/src/RenderPipeline/BatchUtils.ts
  packages/core/src/RenderPipeline/PrimitiveChunk.ts
Labels: bug, 2D

#2250 [Docs]Add docs of post-processing related
  docs/en/core/scene.md
  docs/en/graphics/background/texture.md
  docs/en/graphics/camera/component.md
  docs/en/graphics/postProcess/effects.md
  docs/en/graphics/postProcess/postProcess.mdx
  docs/zh/core/scene.md
  docs/zh/graphics/_meta.json
  docs/zh/graphics/background/texture.md
  docs/zh/graphics/camera/component.md
  docs/zh/graphics/postProcess/effects.md
  docs/zh/graphics/postProcess/postProcess.mdx
Labels: documentation

#2261 Fix `spriteDisableBatching` tag failure
  packages/core/src/Engine.ts
  packages/core/src/RenderPipeline/BatchUtils.ts
Labels: 2D

#2226 Opt doc for 2d
  docs/en/core/math.md
  docs/en/graphics/2D/lottie.md
  docs/en/graphics/2D/sprite.md
  docs/en/graphics/2D/spriteMask.md
  docs/en/graphics/2D/text.md
  docs/zh/core/math.md
  docs/zh/graphics/2D/lottie.md
  docs/zh/graphics/2D/spriteMask.md
Labels: documentation, 2D

#2259 Fix update size error when charactorController disabled
  packages/physics-physx/src/PhysXCharacterController.ts
  packages/physics-physx/src/shape/PhysXBoxColliderShape.ts
  packages/physics-physx/src/shape/PhysXCapsuleColliderShape.ts
  packages/physics-physx/src/shape/PhysXColliderShape.ts
  tests/src/core/physics/CharacterController.test.ts
Labels: bug, physics

#2265 docs: update shadow document
  docs/en/graphics/light/directional.md
  docs/en/graphics/light/shadow.md
  docs/zh/graphics/light/directional.md
  docs/zh/graphics/light/light.md
  docs/zh/graphics/light/shadow.md
  docs/zh/graphics/postProcess/effects.md
  docs/zh/graphics/postProcess/effects.mdx
  docs/zh/graphics/postProcess/postProcess.mdx
Labels: documentation

#2272 Fix SkinnedRenderer.boundingBox updates are not timely
  packages/core/src/Renderer.ts
  packages/core/src/mesh/SkinnedMeshRenderer.ts
  tests/src/core/SkinnedMeshRenderer.test.ts
Labels: bug

#2258 Fix evaluate value error when switch layer state && get target value error in stateMachine callback and animation event
  docs/en/animation/animatorController.md
  docs/zh/animation/animatorController.md
  e2e/case/animator-customAnimationClip.ts
  e2e/case/animator-customBlendShape.ts
  e2e/case/animator-multiSubMeshBlendShape.ts
  examples/animation-customAnimationClip.ts
  examples/animation-sprite.ts
  packages/core/src/animation/Animator.ts
  packages/core/src/animation/AnimatorCondition.ts
  packages/core/src/animation/AnimatorController.ts
  packages/core/src/animation/AnimatorControllerParameter.ts
  packages/core/src/animation/AnimatorStateTransition.ts
  packages/core/src/animation/internal/AnimatorStatePlayData.ts
  packages/loader/src/AnimatorControllerLoader.ts
  packages/loader/src/gltf/parser/GLTFAnimatorControllerParser.ts
  tests/src/core/Animator.test.ts
Labels: bug, documentation, animation

#2273 Fix animation time error because of speed and precision && fix: animatorParameter rename bug
  packages/core/src/animation/Animator.ts
  packages/core/src/animation/AnimatorController.ts
  packages/core/src/animation/AnimatorControllerParameter.ts
  packages/loader/src/AnimatorControllerLoader.ts
  tests/src/core/Animator.test.ts
Labels: bug, animation

#2279 Fix setParameterValue bug
  packages/core/src/animation/Animator.ts
Labels: bug, animation, ignore for release
