Repository galacean/engine, pull requests merged in 2024-04, with the labels that each got.

#2049 Fix url resolve error
  packages/core/src/Utils.ts
  tests/src/core/Utils.test.ts
Labels: bug, resource

#2048 Improve glslES3.00 shader syntax compatibility
  packages/core/src/base/Constant.ts
  packages/core/src/shaderlib/ShaderFactory.ts
  packages/rhi-webgl/src/GLCapability.ts
  tests/src/core/Shader.test.ts
Labels: bug, shader

#2044 Fix entity layer is not set by editor
  packages/loader/src/resource-deserialize/resources/parser/HierarchyParser.ts
Labels: ignore for release

#2068 Fix particle error when restore context
  packages/core/src/Engine.ts
  packages/core/src/particle/ParticleBufferUtils.ts
Labels: bug, resource, particle

#2038 Fix garbage collection bugs
  packages/core/src/Background.ts
  packages/core/src/BasicResources.ts
  packages/core/src/Engine.ts
  packages/core/src/RenderPipeline/Basic2DBatcher.ts
  packages/core/src/RenderPipeline/RenderContext.ts
  packages/core/src/RenderPipeline/RenderQueue.ts
  packages/core/src/RenderPipeline/SpriteBatcher.ts
  packages/core/src/particle/ParticleBufferUtils.ts
  packages/core/src/shader/ShaderProgram.ts
Labels: resource, engine

#2073 Fix quaternion to euler bug
  packages/math/src/Quaternion.ts
  tests/src/math/Quaternion.test.ts
Labels: bug, math

#2033 Fix mini program error in `PointerManager` and supplementary single test
  packages/core/src/input/pointer/PointerManager.ts
  tests/src/core/input/InputManager.test.ts
Labels: test, Input

#2076 Fix ci
  .npmrc
Labels: ignore for release

#2037 Fix collision exception when the scale is negative
  e2e/case/physx-collision.ts
  e2e/config.ts
  e2e/fixtures/originImage/Physics_physx-collision.jpg
  e2e/package.json
  packages/physics-lite/src/shape/LiteBoxColliderShape.ts
  packages/physics-lite/src/shape/LiteColliderShape.ts
  packages/physics-lite/src/shape/LiteSphereColliderShape.ts
  packages/physics-physx/src/shape/PhysXBoxColliderShape.ts
  packages/physics-physx/src/shape/PhysXCapsuleColliderShape.ts
  packages/physics-physx/src/shape/PhysXSphereColliderShape.ts
  pnpm-lock.yaml
Labels: bug, physics

#2082 Build sourcemap to umd module
  rollup.config.js
Labels: ignore for release

#2083 Remove redundant code
  packages/shader-lab/src/preprocessor/Preprocessor.ts
Labels: ignore for release
