Repository galacean/engine, pull requests merged in 2024-05, with the labels that each got.

#2092 Fix lights beyond limits
  packages/core/src/lighting/LightManager.ts
Labels: bug

#2088 Fix Not RLE RGBE HDR files
  packages/loader/src/HDRLoader.ts
Labels: bug, resource

#2087 Fixed the problem that function macro declaration is lost after compilation
  packages/shader-lab/src/RuntimeContext.ts
  packages/shader-lab/src/preprocessor/Preprocessor.ts
  tests/src/shader-lab/ShaderLab.test.ts
  tests/src/shader-lab/shaders/demo.shader
Labels: bug, shader, medium priority

#2077 Replace `throw` with `console.error` to prevent blocking the main thread
  packages/core/src/shader/Shader.ts
  tests/src/core/Shader.test.ts
  tests/src/shader-lab/ShaderLab.test.ts
Labels: shader

#2093 Support get any subAsset from GLTFParser
  packages/loader/src/gltf/GLTFResource.ts
  packages/loader/src/gltf/parser/GLTFAnimatorControllerParser.ts
  packages/loader/src/gltf/parser/GLTFParserContext.ts
  packages/loader/src/gltf/parser/index.ts
Labels: enhancement, resource, glTF

#2095 Fix the bug of animation playback for multiple same type components under an Entity
  e2e/case/animator-multiSubMeshBlendShape.ts
  e2e/config.ts
  e2e/fixtures/originImage/Animator_animator-multiSubMeshBlendShape.jpg
  packages/core/src/animation/Animator.ts
  tests/src/core/Animator.test.ts
Labels: bug

#2102 Add `Script` in `onStart` may cause some functions to not be executed correctly.
  packages/core/src/ComponentsManager.ts
  packages/core/src/DisorderedArray.ts
  tests/src/core/Script.test.ts
Labels: bug, script

#2104 Fix use default material to prevent material[]
  packages/loader/src/gltf/parser/GLTFSceneParser.ts
Labels: bug, glTF
