Repository galacean/engine, pull requests merged in 2025-04, with the labels that each got.

#2598 Fix `Entity._isRoot` error and Entity modify error
  packages/core/src/Entity.ts
  tests/src/core/Entity.test.ts
Labels: Bug

#2600 Update custom.mdx
  docs/zh/graphics/shader/custom.mdx
Labels: documentation

#2604 Enhance post-processing document
  docs/en/graphics/postProcess/effects.md
  docs/en/graphics/postProcess/postProcess.mdx
  docs/zh/graphics/material/composition.mdx
  docs/zh/graphics/material/editor.mdx
  docs/zh/graphics/material/material.mdx
  docs/zh/graphics/material/script.mdx
  docs/zh/graphics/postProcess/effects.mdx
  docs/zh/graphics/postProcess/postProcess.mdx
  docs/zh/graphics/shader/builtins/blinnPhong.mdx
  docs/zh/graphics/shader/builtins/unlit.mdx
  docs/zh/graphics/shader/custom.mdx
  docs/zh/graphics/shader/shaderLab/intro.mdx
  docs/zh/graphics/shader/shaderLab/usage.mdx
Labels: documentation

#2599 Fix particle `ForceOverLifetime` bug when render mode is `stretched`
  e2e/case/particleRenderer-force.ts
  e2e/config.ts
  e2e/fixtures/originImage/Particle_particleRenderer-dream.jpg
  e2e/fixtures/originImage/Particle_particleRenderer-force.jpg
  packages/core/src/shaderlib/extra/particle.vs.glsl
  packages/core/src/shaderlib/particle/force_over_lifetime_module.glsl
Labels: Bug, medium priority, particle

#2606 Color api rename
  packages/core/src/lighting/DirectLight.ts
  packages/core/src/lighting/PointLight.ts
  packages/core/src/lighting/SpotLight.ts
  packages/core/src/particle/modules/ParticleGradient.ts
  packages/core/src/postProcess/PostProcessUberPass.ts
  packages/core/src/shader/ShaderUniform.ts
  packages/loader/src/gltf/extensions/KHR_materials_pbrSpecularGlossiness.ts
  packages/loader/src/gltf/extensions/KHR_materials_sheen.ts
  packages/loader/src/gltf/extensions/KHR_materials_volume.ts
  packages/loader/src/gltf/parser/GLTFMaterialParser.ts
  packages/math/src/Color.ts
Labels: math

#2603 Fixed the problem of `image` clone
  packages/core/src/2d/sprite/SpriteRenderer.ts
  packages/ui/src/component/UICanvas.ts
  packages/ui/src/component/advanced/Image.ts
  tests/src/ui/Image.test.ts
  tests/src/ui/Text.test.ts
  tests/src/ui/UICanvas.test.ts
Labels: Bug, 2D

#2621 Fix `Particle` emit bug when MeshShape's mesh share position and normal buffer
  packages/core/src/particle/modules/shape/MeshShape.ts
Labels: Bug, high priority, particle

#2617 Support subpackage for wechat
  packages/core/src/asset/ResourceManager.ts
Labels: enhancement, resource

#2619 Fixed memory leak after `engine.destroy`
  packages/core/src/BasicResources.ts
  packages/core/src/Camera.ts
  packages/core/src/Engine.ts
  packages/core/src/RenderPipeline/Blitter.ts
  packages/core/src/RenderPipeline/MaskManager.ts
  packages/core/src/animation/AnimationClip.ts
  packages/core/src/animation/Animator.ts
  packages/core/src/input/pointer/PointerManager.ts
  packages/core/src/physics/PhysicsScene.ts
  packages/core/src/shader/Shader.ts
  packages/core/src/ui/UIUtils.ts
  packages/loader/src/gltf/parser/GLTFMaterialParser.ts
  packages/loader/src/gltf/parser/GLTFParserContext.ts
  packages/loader/src/gltf/parser/GLTFSceneParser.ts
  packages/ui/src/input/UIPointerEventEmitter.ts
Labels: Bug, resource

#2622 Fix macro match bug when code token contains character `.`
  packages/shader-lab/src/lexer/Utils.ts
  tests/src/shader-lab/test-case/compare/macro.txt
  tests/src/shader-lab/test-case/index.ts
  tests/src/shader-lab/test-case/source/macro.txt
Labels: Bug, shader, high priority

#2624 Refactor mesh validation in `MeshShape`.
  packages/core/src/particle/modules/shape/MeshShape.ts
Labels: medium priority, ignore for release, particle

#2612 Texture support `R8` and `R8G8` Format
  e2e/case/particleRenderer-force.ts
  e2e/case/texture-R8G8.ts
  e2e/config.ts
  e2e/fixtures/originImage/Texture_texture-R8G8.jpg
  examples/benchmark-particle.ts
  examples/particle-dream.ts
  packages/core/src/SystemInfo.ts
  packages/core/src/texture/Texture.ts
  packages/core/src/texture/Texture2DArray.ts
  packages/core/src/texture/enums/TextureFormat.ts
  packages/rhi-webgl/src/GLTexture.ts
  packages/rhi-webgl/src/GLTexture2D.ts
  packages/rhi-webgl/src/GLTexture2DArray.ts
  packages/rhi-webgl/src/GLTextureCube.ts
  packages/rhi-webgl/src/type.ts
  tests/src/core/texture/Texture2D.test.ts
Labels: documentation, enhancement

#2625 Fix masklayer return type in SpriteRenderer and TextRenderer
  packages/core/src/2d/sprite/SpriteRenderer.ts
  packages/core/src/2d/text/TextRenderer.ts
Labels: 2D

#2626 Update e2e fixtures in linear blend
  e2e/case/postProcess-HDR-bloom-ACES.ts
  e2e/case/postProcess-HDR-bloom-neutral.ts
  e2e/case/postProcess-LDR-bloom-neutral.ts
  e2e/case/postProcess-customPass.ts
  e2e/config.ts
  e2e/fixtures/originImage/Advance_multi-scene-clear.jpg
  e2e/fixtures/originImage/Advance_multi-scene-no-clear.jpg
  e2e/fixtures/originImage/Advance_project-loader.jpg
  e2e/fixtures/originImage/Animator_animator-additive.jpg
  e2e/fixtures/originImage/Animator_animator-blendShape-quantization.jpg
  e2e/fixtures/originImage/Animator_animator-blendShape.jpg
  e2e/fixtures/originImage/Animator_animator-crossfade.jpg
  e2e/fixtures/originImage/Animator_animator-customAnimationClip.jpg
  e2e/fixtures/originImage/Animator_animator-event.jpg
  e2e/fixtures/originImage/Animator_animator-multiSubMeshBlendShape.jpg
  e2e/fixtures/originImage/Animator_animator-play-backwards.jpg
  e2e/fixtures/originImage/Animator_animator-play-beforeActive.jpg
  e2e/fixtures/originImage/Animator_animator-play.jpg
  e2e/fixtures/originImage/Animator_animator-reuse.jpg
  e2e/fixtures/originImage/Animator_animator-stateMachine.jpg
  e2e/fixtures/originImage/Animator_animator-stateMachineScript.jpg
  e2e/fixtures/originImage/Camera_camera-opaque-texture.jpg
  e2e/fixtures/originImage/GLTF_gltf-blendshape.jpg
  e2e/fixtures/originImage/GLTF_gltf-meshopt.jpg
  e2e/fixtures/originImage/Material_material-LUT.jpg
  e2e/fixtures/originImage/Material_material-blendMode.jpg
  e2e/fixtures/originImage/Material_material-blinn-phong.jpg
  e2e/fixtures/originImage/Material_material-pbr-clearcoat.jpg
  e2e/fixtures/originImage/Material_material-pbr.jpg
  e2e/fixtures/originImage/Material_material-shaderReplacement.jpg
  e2e/fixtures/originImage/Material_material-unlit.jpg
  e2e/fixtures/originImage/Material_shaderLab-renderState.jpg
  e2e/fixtures/originImage/Particle_particleRenderer-dream.jpg
  e2e/fixtures/originImage/Particle_particleRenderer-force.jpg
  e2e/fixtures/originImage/Particle_particleRenderer-shape-mesh.jpg
  e2e/fixtures/originImage/Particle_particleRenderer-textureSheetAnimation.jpg
  e2e/fixtures/originImage/Physics_physx-collision.jpg
  e2e/fixtures/originImage/PostProcess_postProcess-HDR-bloom-ACES.jpg
  e2e/fixtures/originImage/PostProcess_postProcess-HDR-bloom-neutral.jpg
  e2e/fixtures/originImage/PostProcess_postProcess-LDR-bloom-neutral.jpg
  e2e/fixtures/originImage/PostProcess_postProcess-customPass.jpg
  e2e/fixtures/originImage/Primitive_primitive-capsule.jpg
  e2e/fixtures/originImage/Primitive_primitive-cone.jpg
  e2e/fixtures/originImage/Primitive_primitive-cuboid.jpg
  e2e/fixtures/originImage/Primitive_primitive-cylinder.jpg
  e2e/fixtures/originImage/Primitive_primitive-plane.jpg
  e2e/fixtures/originImage/Primitive_primitive-sphere.jpg
  e2e/fixtures/originImage/Primitive_primitive-torus.jpg
  e2e/fixtures/originImage/Shadow_shadow-basic.jpg
  e2e/fixtures/originImage/Shadow_shadow-transparent.jpg
  e2e/fixtures/originImage/SpriteMask_spriteMask-customStencil.jpg
  e2e/fixtures/originImage/Text_text-typed.jpg
  e2e/fixtures/originImage/Texture_texture-sRGB-KTX2.jpg
Labels: ignore for release

#2611 Refactor ShaderLab documention
  docs/zh/graphics/material/_meta.json
  docs/zh/graphics/material/examples/custom.mdx
  docs/zh/graphics/material/examples/shaderData.mdx
  docs/zh/graphics/material/overview.mdx
  docs/zh/graphics/material/shaderLab/_meta.json
  docs/zh/graphics/material/shaderLab/chunk.mdx
  docs/zh/graphics/material/shaderLab/editor.mdx
  docs/zh/graphics/material/shaderLab/entry.mdx
  docs/zh/graphics/material/shaderLab/global.mdx
  docs/zh/graphics/material/shaderLab/macro.mdx
  docs/zh/graphics/material/shaderLab/multi.mdx
  docs/zh/graphics/material/shaderLab/overview.mdx
  docs/zh/graphics/material/shaderLab/pass.mdx
  docs/zh/graphics/material/shaderLab/property.mdx
  docs/zh/graphics/material/shaderLab/renderState.mdx
  docs/zh/graphics/material/shaderLab/script.mdx
  docs/zh/graphics/material/shaderLab/shader.mdx
  docs/zh/graphics/material/shaderLab/subShader.mdx
Labels: documentation, rendering, shader

#2628 Fix linear threshold
  e2e/case/postProcess-HDR-bloom-ACES.ts
  e2e/fixtures/originImage/PostProcess_postProcess-HDR-bloom-ACES.jpg
  packages/core/src/postProcess/PostProcessUberPass.ts
Labels: Bug, rendering, post processing

#2630 Fix error when set `UICanvas.renderCamera` to null
  packages/ui/src/component/UICanvas.ts
  tests/src/ui/UICanvas.test.ts
Labels: Bug, 2D

#2627 Fix `AssetPromise.cancel` uncaught error
  packages/core/src/asset/AssetPromise.ts
  packages/core/src/asset/ResourceManager.ts
  packages/loader/src/GLTFLoader.ts
  packages/loader/src/gltf/GLTFResource.ts
  packages/loader/src/gltf/GLTFUtils.ts
  packages/loader/src/gltf/extensions/EXT_meshopt_compression.ts
  packages/loader/src/gltf/extensions/EXT_texture_webp.ts
  packages/loader/src/gltf/extensions/GALACEAN_materials_remap.ts
  packages/loader/src/gltf/extensions/GLTFExtensionParser.ts
  packages/loader/src/gltf/extensions/KHR_materials_anisotropy.ts
  packages/loader/src/gltf/extensions/KHR_materials_clearcoat.ts
  packages/loader/src/gltf/extensions/KHR_materials_iridescence.ts
  packages/loader/src/gltf/extensions/KHR_materials_pbrSpecularGlossiness.ts
  packages/loader/src/gltf/extensions/KHR_materials_sheen.ts
  packages/loader/src/gltf/extensions/KHR_materials_transmission.ts
  packages/loader/src/gltf/extensions/KHR_materials_variants.ts
  packages/loader/src/gltf/extensions/KHR_materials_volume.ts
  packages/loader/src/gltf/extensions/KHR_texture_basisu.ts
  packages/loader/src/gltf/parser/GLTFAnimationParser.ts
  packages/loader/src/gltf/parser/GLTFAnimatorControllerParser.ts
  packages/loader/src/gltf/parser/GLTFBufferParser.ts
  packages/loader/src/gltf/parser/GLTFBufferViewParser.ts
  packages/loader/src/gltf/parser/GLTFMaterialParser.ts
  packages/loader/src/gltf/parser/GLTFMeshParser.ts
  packages/loader/src/gltf/parser/GLTFParser.ts
  packages/loader/src/gltf/parser/GLTFParserContext.ts
  packages/loader/src/gltf/parser/GLTFSceneParser.ts
  packages/loader/src/gltf/parser/GLTFSkinParser.ts
  packages/loader/src/gltf/parser/GLTFTextureParser.ts
  packages/loader/src/gltf/parser/GLTFValidator.ts
  packages/loader/src/resource-deserialize/index.ts
  packages/loader/src/resource-deserialize/resources/animationClip/AnimationClipDecoder.ts
  packages/loader/src/resource-deserialize/resources/mesh/MeshDecoder.ts
  packages/loader/src/resource-deserialize/resources/texture2D/TextureDecoder.ts
  packages/loader/src/resource-deserialize/utils/Decorator.ts
  packages/xr/src/loader/XRReferenceImageDecoder.ts
Labels: Bug

#2635 Bloom ignore alpha
  packages/core/src/postProcess/shaders/Bloom/BloomPrefilter.glsl
Labels: Bug

#2638 Catch texture decode error
  packages/loader/src/resource-deserialize/resources/texture2D/TextureDecoder.ts
Labels: Bug

#2605 Support fxaa
  e2e/case/camera-fxaa.ts
  e2e/case/camera-opaque-texture.ts
  e2e/case/material-shaderReplacement.ts
  e2e/config.ts
  e2e/fixtures/originImage/Camera_camera-fxaa.jpg
  packages/core/src/Camera.ts
  packages/core/src/Engine.ts
  packages/core/src/RenderPipeline/BasicRenderPipeline.ts
  packages/core/src/enums/AntiAliasing.ts
  packages/core/src/index.ts
  packages/core/src/postProcess/FinalPass.ts
  packages/core/src/postProcess/PostProcessManager.ts
  packages/core/src/postProcess/index.ts
  packages/core/src/postProcess/shaders/Bloom/BloomBlurH.glsl
  packages/core/src/postProcess/shaders/Bloom/BloomBlurV.glsl
  packages/core/src/postProcess/shaders/Bloom/BloomPrefilter.glsl
  packages/core/src/postProcess/shaders/Bloom/BloomUpsample.glsl
  packages/core/src/postProcess/shaders/FXAA/FXAA3_11.glsl
  packages/core/src/postProcess/shaders/FinalAntiAliasing.fs.glsl
  packages/core/src/postProcess/shaders/FinalSRGB.fs.glsl
  packages/core/src/postProcess/shaders/PostCommon.glsl
  packages/core/src/postProcess/shaders/UberPost.glsl
  packages/core/src/shaderlib/extra/Blit.fs.glsl
  packages/core/src/shaderlib/extra/BlitScreen.fs.glsl
  packages/core/src/shaderlib/extra/SkyProcedural.fs.glsl
  packages/core/src/shaderlib/extra/background-texture.fs.glsl
  packages/core/src/shaderlib/extra/blinn-phong.fs.glsl
  packages/core/src/shaderlib/extra/particle.fs.glsl
  packages/core/src/shaderlib/extra/pbr-specular.fs.glsl
  packages/core/src/shaderlib/extra/pbr.fs.glsl
  packages/core/src/shaderlib/extra/skybox.fs.glsl
  packages/core/src/shaderlib/extra/sprite.fs.glsl
  packages/core/src/shaderlib/extra/text.fs.glsl
  packages/core/src/shaderlib/extra/unlit.fs.glsl
  packages/shader-shaderlab/src/shaders/shadingPBR/ForwardPassPBR.glsl
  packages/ui/src/shader/uiDefault.fs.glsl
  tests/src/core/Camera.test.ts
Labels: enhancement, rendering

#2639 Opt MSAA config, comments and memory
  e2e/case/multi-camera-no-clear.ts
  e2e/fixtures/originImage/Advance_multi-camera-no-clear.jpg
  packages/core/src/Camera.ts
  packages/core/src/RenderPipeline/BasicRenderPipeline.ts
  packages/core/src/enums/AntiAliasing.ts
  packages/rhi-webgl/src/WebGLGraphicDevice.ts
  tests/src/core/2d/text/Font.test.ts
  tests/src/core/2d/text/TextRenderer.test.ts
  tests/src/core/2d/text/TextUtils.test.ts
  tests/src/core/Camera.test.ts
  tests/src/core/DeviceLost.test.ts
  tests/src/core/MeshRenderer.test.ts
  tests/src/core/mesh/BlendShape.test.ts
  tests/src/core/mesh/BlendShapeManager.test.ts
  tests/src/core/mesh/PrimitiveMesh.test.ts
  tests/src/core/particle/ParticleRenderer.test.ts
  tests/src/rhi-webgl/WebGLEngine.test.ts
Labels: enhancement
