Repository galacean/engine, pull requests merged in 2025-07, with the labels that each got.

#2758 Fixed the issue of incorrect click function reference when clone button
  packages/ui/src/component/advanced/Button.ts
Labels: bug, GUI, 2D

#2765 Fix ui clone bug
  packages/ui/src/component/UICanvas.ts
  packages/ui/src/component/UIGroup.ts
  packages/ui/src/component/UIRenderer.ts
  packages/ui/src/component/interactive/UIInteractive.ts
  tests/src/ui/Image.test.ts
  tests/src/ui/UICanvas.test.ts
Labels: bug, GUI

#2767 Fix audio clone bug
  packages/core/src/Camera.ts
  packages/core/src/Scene.ts
  packages/core/src/VirtualCamera.ts
  packages/core/src/animation/Animator.ts
  packages/core/src/audio/AudioSource.ts
  packages/core/src/lighting/DirectLight.ts
  packages/core/src/lighting/Light.ts
  packages/core/src/lighting/PointLight.ts
  packages/core/src/lighting/SpotLight.ts
  tests/src/core/Animator.test.ts
  tests/src/core/Camera.test.ts
  tests/src/core/Light.test.ts
  tests/src/core/audio/AudioSource.test.ts
  tests/src/loader/GLTFLoader.test.ts
Labels: bug, resource

#2778 Fixed KTX2 transcoder compatibility issue
  packages/loader/libs/basis_transcoder.js
  packages/loader/libs/basis_transcoder.wasm
  packages/loader/src/ktx2/transcoder/BinomialLLCTranscoder.ts
  tests/src/loader/KTX2Loader.test.ts
Labels: bug

#2756 metallic roughness workflow support specular
  e2e/case/material-pbr-specular.ts
  e2e/config.ts
  e2e/fixtures/originImage/Advance_canvas-transparency.jpg
  e2e/fixtures/originImage/Advance_project-loader.jpg
  e2e/fixtures/originImage/Animator_animator-customAnimationClip.jpg
  e2e/fixtures/originImage/Camera_camera-fxaa.jpg
  e2e/fixtures/originImage/GLTF_gltf-meshopt.jpg
  e2e/fixtures/originImage/Material_material-pbr-specular.jpg
  e2e/fixtures/originImage/Physics_litePhysics-collision-group.jpg
  e2e/fixtures/originImage/Physics_physx-collision-group.jpg
  packages/core/src/material/PBRBaseMaterial.ts
  packages/core/src/material/PBRMaterial.ts
  packages/core/src/material/PBRSpecularMaterial.ts
  packages/core/src/material/index.ts
  packages/loader/src/gltf/extensions/GLTFExtensionSchema.ts
  packages/loader/src/gltf/extensions/KHR_materials_pbrSpecularGlossiness.ts
  packages/loader/src/gltf/extensions/KHR_materials_specular.ts
  packages/loader/src/gltf/extensions/KHR_texture_transform.ts
  packages/loader/src/gltf/extensions/index.ts
  packages/loader/src/gltf/parser/GLTFMaterialParser.ts
  packages/loader/src/gltf/parser/GLTFTextureParser.ts
  packages/shader-shaderlab/src/shaders/PBR.gs
  packages/shader-shaderlab/src/shaders/shadingPBR/BSDF.glsl
  packages/shader-shaderlab/src/shaders/shadingPBR/FragmentPBR.glsl
  packages/shader-shaderlab/src/shaders/shadingPBR/LightIndirectPBR.glsl
  packages/shader-shaderlab/src/shaders/shadingPBR/ReflectionLobe.glsl
  tests/src/core/material/PBRSpecularMaterial.test.ts
  tests/src/loader/GLTFLoader.test.ts
Labels: rendering, material

#2783 Use emsdk version 3.1.0 to solve compatibility for KTX2
  packages/loader/libs/basis_transcoder.js
  packages/loader/libs/basis_transcoder.wasm
  packages/loader/src/ktx2/transcoder/BinomialLLCTranscoder.ts
Labels: bug
