Repository galacean/engine, pull requests merged in 2025-08, with the labels that each got.

#2775 Update e2e base image and correct threshold
  .github/workflows/ci.yml
  e2e/config.ts
  e2e/fixtures/originImage/Advance_canvas-transparency.jpg
  e2e/fixtures/originImage/Advance_project-loader.jpg
  e2e/fixtures/originImage/Animator_animator-additive.jpg
  e2e/fixtures/originImage/Animator_animator-crossfade.jpg
  e2e/fixtures/originImage/Animator_animator-event.jpg
  e2e/fixtures/originImage/Animator_animator-multiSubMeshBlendShape.jpg
  e2e/fixtures/originImage/Animator_animator-play-backwards.jpg
  e2e/fixtures/originImage/Animator_animator-play-beforeActive.jpg
  e2e/fixtures/originImage/Animator_animator-play.jpg
  e2e/fixtures/originImage/Animator_animator-reuse.jpg
  e2e/fixtures/originImage/Animator_animator-stateMachine.jpg
  e2e/fixtures/originImage/Animator_animator-stateMachineScript.jpg
  e2e/fixtures/originImage/Camera_camera-fxaa.jpg
  e2e/fixtures/originImage/Camera_camera-opaque-texture.jpg
  e2e/fixtures/originImage/GLTF_gltf-meshopt.jpg
  e2e/fixtures/originImage/Material_material-pbr-clearcoat.jpg
  e2e/fixtures/originImage/Material_material-pbr-specular.jpg
  e2e/fixtures/originImage/Particle_particleRenderer-fire.jpg
  e2e/fixtures/originImage/Shadow_shadow-basic.jpg
  e2e/fixtures/originImage/Texture_texture-hdr-ktx2.jpg
  e2e/tests/index.spec.ts
  e2e/utils/screenshot.ts
Labels: test, ignore for release

#2789 Fix particle set tiling
  packages/core/src/particle/modules/TextureSheetAnimationModule.ts
  tests/src/core/particle/ParticleTextureSheetAnimation.test.ts
Labels: bug, particle

#2797 fix particle function error
  packages/core/src/shaderlib/particle/rotation_over_lifetime_module.glsl
Labels: bug

#2800 chore: make examples into a package
  .gitignore
  examples/index.html
  examples/index.js
  examples/package.json
  examples/src/CSS-DOM.ts
  examples/src/buffer-mesh-independent.ts
  examples/src/buffer-mesh-instance.ts
  examples/src/buffer-mesh-interleaved.ts
  examples/src/device-restore.ts
  examples/src/gltf-loader.ts
  examples/src/screenshot.ts
  examples/template/iframe.ejs
  examples/vite.config.js
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: documentation

#2804 Fix e2e GitHub
  e2e/config.ts
Labels: test
