Repository galacean/engine, pull requests merged in 2025-02, with the labels that each got.

#2534 Add ui doc
  docs/en/UI/_meta.json
  docs/en/UI/overall.md
  docs/en/UI/quickStart/button.md
  docs/en/UI/quickStart/canvas.md
  docs/en/UI/quickStart/event.md
  docs/en/UI/quickStart/group.md
  docs/en/UI/quickStart/image.md
  docs/en/UI/quickStart/order.md
  docs/en/UI/quickStart/text.md
  docs/en/UI/quickStart/transform.md
  docs/en/UI/system.md
  docs/en/_meta.json
  docs/en/basics/overview.md
  docs/en/graphics/2D/lottie.md
  docs/zh/UI/_meta.json
  docs/zh/UI/overall.md
  docs/zh/UI/quickStart/button.md
  docs/zh/UI/quickStart/canvas.md
  docs/zh/UI/quickStart/event.md
  docs/zh/UI/quickStart/group.md
  docs/zh/UI/quickStart/image.md
  docs/zh/UI/quickStart/order.md
  docs/zh/UI/quickStart/text.md
  docs/zh/UI/quickStart/transform.md
  docs/zh/UI/system.md
  docs/zh/_meta.json
  docs/zh/basics/overview.md
  docs/zh/graphics/2D/lottie.md
  docs/zh/input/pointer.md
  e2e/.dev/vite.config.js
  examples/draw-lines.ts
  examples/input-log.ts
  examples/input-pointer.ts
  examples/physx-select.ts
  examples/ui-Button.ts
  examples/ui-Event.ts
  examples/ui-Image.ts
  examples/ui-Text.ts
Labels: documentation

#2539 Fix audio test error in local env && Upgrade upload-artifact for e2e
  .github/workflows/ci.yml
  tests/src/core/audio/AudioSource.test.ts
Labels: test, ignore for release

#2538 Fix useGravity not effect when cloned
  packages/core/src/physics/DynamicCollider.ts
  packages/physics-lite/src/LiteDynamicCollider.ts
  tests/src/core/physics/DynamicCollider.test.ts
Labels: bug, physics

#2535 Correct `UIInteractive` function naming
  packages/ui/src/component/interactive/UIInteractive.ts
Labels: ignore for release

#2541 Fix entity find path
  packages/core/src/Entity.ts
  packages/core/src/Scene.ts
  tests/src/core/Entity.test.ts
Labels: bug

#2507 chore: add script for generate typedoc declaration json file
  .gitignore
  scripts/typedoc.sh
Labels: ignore for release

#2542 Particle Support rotation flip Y
  packages/core/src/particle/ParticleGenerator.ts
Labels: enhancement, particle

#2543 Fix the error in `text.bounds` when there is no root canvas
  packages/ui/src/component/advanced/Text.ts
  tests/src/ui/Text.test.ts
Labels: bug, GUI, 2D

#2545 refractionTransmitted need linear space
  packages/shader-shaderlab/src/shaders/shadingPBR/BTDF.glsl
Labels: bug, Rendering, shader

#2548 sync #2545
  packages/core/src/shaderlib/pbr/btdf.glsl
Labels: ignore for release

#2549 Fixed the problem of modifying `component.enable` when dispatching UI events, resulting in error reporting
  packages/ui/src/input/UIPointerEventEmitter.ts
  tests/src/ui/UIEvent.test.ts
Labels: bug

#2558 Fix scene/camera shaderData in blitter
  packages/core/src/RenderPipeline/Blitter.ts
Labels: bug

#2556 [Doc]Update flappy bird assets
  docs/en/quick-start/flappy-bird.md
  docs/zh/basics/quickStart/flappy-bird.mdx
Labels: documentation, ignore for release

#2559 Fix the `mask` buffer is not updated in time
  packages/core/src/RenderPipeline/RenderQueue.ts
Labels: bug, 2D

#2561 Fix depth pass shader error with has skinned mesh
  packages/core/src/shaderlib/extra/depthOnly.vs.glsl
Labels: bug

#2486 Refactor AST code in ShaderLab for performance
  packages/shader-lab/src/lalr/CFG.ts
  packages/shader-lab/src/lexer/Utils.ts
  packages/shader-lab/src/parser/AST.ts
  packages/shader-lab/src/parser/SemanticAnalyzer.ts
  packages/shader-lab/src/preprocessor/PpScanner.ts
Labels: documentation, Rendering, shader, performance, high priority

#1930 Optimize the logic of remove and add entity.
  packages/core/src/Entity.ts
  packages/core/src/Scene.ts
Labels: low priority

#2564 Fix function name
  packages/core/src/Entity.ts
  packages/core/src/Scene.ts
Labels: bug, ignore for release

#2553 Doc: translate newest animation doc to en
  docs/en/animation/_meta.json
  docs/en/animation/animator.mdx
  docs/en/animation/animatorController.mdx
  docs/en/animation/clip.mdx
  docs/en/animation/examples/blending.mdx
  docs/en/animation/examples/controlAnimationByInput.mdx
  docs/en/animation/examples/crossFade.mdx
  docs/en/animation/examples/material-animation.mdx
  docs/en/animation/examples/playAnimation.mdx
  docs/en/animation/examples/reuseAnimation.mdx
  docs/en/animation/examples/sprite-sheet.mdx
  docs/en/animation/examples/text-animation.mdx
  docs/en/animation/layer.mdx
  docs/en/animation/overview.mdx
  docs/en/animation/state-machine.mdx
  docs/en/animation/system.mdx
  docs/en/assets/interface.mdx
  docs/en/quick-start/flappy-bird.md
  docs/zh/animation/animator.mdx
  docs/zh/animation/examples/reuseAnimation.mdx
  docs/zh/assets/interface.mdx
Labels: documentation, ignore for release

#2565 Remove gamma color space
  e2e/case/camera-opaque-texture.ts
  e2e/case/shaderLab-mrt.ts
  examples/camera-depth-texture.ts
  examples/model-mesh.ts
  examples/transparent-shadow.ts
  packages/core/src/Engine.ts
  packages/core/src/EngineSettings.ts
  packages/core/src/enums/ColorSpace.ts
  packages/core/src/index.ts
  packages/core/src/lighting/DirectLight.ts
  packages/core/src/lighting/PointLight.ts
  packages/core/src/lighting/SpotLight.ts
  packages/core/src/particle/ParticleGenerator.ts
  packages/core/src/particle/modules/ColorOverLifetimeModule.ts
  packages/core/src/particle/modules/ParticleGradient.ts
  packages/core/src/postProcess/shaders/Bloom/BloomBlurH.glsl
  packages/core/src/postProcess/shaders/Bloom/BloomBlurV.glsl
  packages/core/src/postProcess/shaders/Bloom/BloomPrefilter.glsl
  packages/core/src/postProcess/shaders/Bloom/BloomUpsample.glsl
  packages/core/src/postProcess/shaders/PostCommon.glsl
  packages/core/src/postProcess/shaders/UberPost.glsl
  packages/core/src/shader/ShaderUniform.ts
  packages/core/src/shaderlib/begin_mobile_frag.glsl
  packages/core/src/shaderlib/extra/SkyProcedural.fs.glsl
  packages/core/src/shaderlib/extra/SkyProcedural.vs.glsl
  packages/core/src/shaderlib/extra/blinn-phong.fs.glsl
  packages/core/src/shaderlib/extra/particle.fs.glsl
  packages/core/src/shaderlib/extra/pbr-specular.fs.glsl
  packages/core/src/shaderlib/extra/pbr.fs.glsl
  packages/core/src/shaderlib/extra/skybox.fs.glsl
  packages/core/src/shaderlib/extra/unlit.fs.glsl
  packages/core/src/shaderlib/pbr/btdf.glsl
  packages/core/src/shaderlib/pbr/ibl_frag_define.glsl
  packages/core/src/shaderlib/pbr/pbr_frag.glsl
  packages/core/src/shaderlib/pbr/pbr_helper.glsl
  packages/shader-shaderlab/src/shaders/shadingPBR/BTDF.glsl
  packages/shader-shaderlab/src/shaders/shadingPBR/ForwardPassPBR.glsl
  packages/shader-shaderlab/src/shaders/shadingPBR/FragmentPBR.glsl
  packages/shader-shaderlab/src/shaders/shadingPBR/LightIndirectFunctions.glsl
  packages/shader-shaderlab/src/shaders/shadingPBR/LightIndirectPBR.glsl
  tests/src/core/Light.test.ts
  tests/src/core/Shader.test.ts
  tests/src/shader-lab/shaders/compilation-error.shader
  tests/src/shader-lab/shaders/demo.shader
  tests/src/shader-lab/shaders/macro-pre.shader
  tests/src/shader-lab/shaders/unlit.shader
Labels: documentation, enhancement, Rendering, shader

#2570 Fix Entity name default value when not set
  packages/core/src/Entity.ts
Labels: bug

#2568 Particle start size support curve mode
  packages/core/src/particle/ParticleGenerator.ts
  packages/core/src/particle/modules/ParticleCompositeCurve.ts
  packages/core/src/particle/modules/ParticleCurve.ts
  tests/src/core/particle/ParticleCurve.test.ts
Labels: enhancement, particle
