Repository galacean/engine, pull requests merged in 2025-01, with the labels that each got.

#2481 Support destroy physicsMaterial
  packages/core/src/physics/PhysicsMaterial.ts
  tests/src/core/physics/PhysicsMaterial.test.ts
Labels: physics, ignore for release

#2476 Support dependency map in `resource config`
  packages/core/src/asset/ResourceManager.ts
Labels: enhancement, ignore for release

#2484 Rename package name fo `engine-shader-lab` to `engine-shaderlab`
  e2e/package.json
  packages/core/src/shader/Shader.ts
  packages/shader-lab/README.md
  packages/shader-lab/package.json
  pnpm-lock.yaml
  rollup.config.js
  tests/package.json
  tests/src/core/Shader.test.ts
  tests/src/shader-lab/Preprocessor.test.ts
  tests/src/shader-lab/ShaderLab.test.ts
  tests/src/shader-lab/ShaderValidate.ts
Labels: shader, engineering, compatibility risk

#2487 Refactor `PostProcessParameter` to strong type
  e2e/case/postProcess-customPass.ts
  packages/core/src/postProcess/PostProcess.ts
  packages/core/src/postProcess/PostProcessEffectParameter.ts
  packages/core/src/postProcess/effects/BloomEffect.ts
  packages/core/src/postProcess/effects/TonemappingEffect.ts
  packages/core/src/postProcess/index.ts
  tests/src/core/postProcess/PostProcess.test.ts
Labels: enhancement, Rendering, ignore for release

#2485 Support parse method result
  packages/loader/src/SceneLoader.ts
  packages/loader/src/resource-deserialize/resources/parser/ReflectionParser.ts
  packages/loader/src/resource-deserialize/resources/schema/BasicSchema.ts
Labels: resource

#2488 Spine support git clone branch in git action
  .github/workflows/release.yml
Labels: enhancement

#2489 fix Iridescence name
  packages/shader-shaderlab/src/shaders/shadingPBR/BRDF.glsl
  packages/shader-shaderlab/src/shaders/shadingPBR/FragmentPBR.glsl
  packages/shader-shaderlab/src/shaders/shadingPBR/LightIndirectPBR.glsl
Labels: Rendering, shader, material

#2463 built-in prefiltered lut
  e2e/case/material-LUT.ts
  e2e/config.ts
  e2e/fixtures/originImage/Material_material-LUT.jpg
  packages/core/src/BasicResources.ts
  packages/core/src/Engine.ts
  packages/core/src/Scene.ts
  packages/core/src/material/utils/PrefilteredDFG.ts
  packages/shader-shaderlab/src/shaders/shadingPBR/BRDF.glsl
  tests/src/core/resource/ResourceManager.test.ts
Labels: Rendering

#2493 Update physX wasm without assertions
  packages/physics-physx/libs/physx.release.js
  packages/physics-physx/libs/physx.release.wasm
  packages/physics-physx/src/PhysXPhysics.ts
Labels: physics, ignore for release

#2465 Fix ShaderLab variable list declaration & CRLF break & macro `#if` bug
  packages/shader-lab/src/common/BaseScanner.ts
  packages/shader-lab/src/common/types.ts
  packages/shader-lab/src/lalr/CFG.ts
  packages/shader-lab/src/lexer/Utils.ts
  packages/shader-lab/src/parser/AST.ts
  packages/shader-lab/src/parser/GrammarSymbol.ts
  packages/shader-lab/src/parser/TargetParser.y
  packages/shader-lab/src/parser/builtin/functions.ts
  packages/shader-lab/src/preprocessor/PpParser.ts
  tests/src/shader-lab/shaders/demo.shader
Labels: bug, Rendering, shader, high priority

#2477 Fix generic type deduce bug of ShaderLab compiler in verbose mode
  packages/shader-lab/src/parser/AST.ts
  packages/shader-lab/src/parser/builtin/functions.ts
  pnpm-lock.yaml
  tests/package.json
  tests/src/shader-lab/ShaderLab.test.ts
  tests/src/shader-lab/ShaderValidate.ts
  tests/src/shader-lab/shaders/builtin-function.shader
Labels: bug, Rendering, shader, medium priority

#2497 Optimize the writing of function call `_onValueChanged`
  packages/core/src/particle/modules/ParticleGradient.ts
  packages/math/src/Color.ts
  packages/math/src/Matrix.ts
  packages/math/src/Quaternion.ts
  packages/math/src/Rect.ts
  packages/math/src/Vector2.ts
  packages/math/src/Vector3.ts
  packages/math/src/Vector4.ts
Labels: math, ignore for release

#2504 Fixed some GUI issues
  packages/loader/src/resource-deserialize/resources/parser/HierarchyParser.ts
  packages/loader/src/resource-deserialize/resources/parser/ReflectionParser.ts
  packages/loader/src/resource-deserialize/resources/schema/BasicSchema.ts
  packages/ui/src/component/UICanvas.ts
  packages/ui/src/component/advanced/Text.ts
  packages/ui/src/component/index.ts
  packages/ui/src/component/interactive/UIInteractive.ts
  packages/ui/src/component/interactive/transition/ColorTransition.ts
  packages/ui/src/component/interactive/transition/SpriteTransition.ts
  packages/ui/src/index.ts
  packages/ui/src/input/UIPointerEventEmitter.ts
Labels: bug, ignore for release, 2D

#2502 Enhancement ShaderLab PBR
  packages/shader-shaderlab/src/index.ts
  packages/shader-shaderlab/src/shaders/PBR.gs
Labels: enhancement, ignore for release

#2496 Add spine en doc for using in code.
  docs/en/graphics/2D/spine/runtime.md
Labels: documentation

#2506 Fix the `buttons` of the current frame are not updated in time
  packages/core/src/Camera.ts
  packages/core/src/Engine.ts
  packages/core/src/Entity.ts
  packages/core/src/Renderer.ts
  packages/core/src/input/pointer/PointerManager.ts
  packages/core/src/ui/UIUtils.ts
  packages/ui/src/component/UICanvas.ts
  packages/ui/src/input/UIPointerEventEmitter.ts
  tests/src/core/input/InputManager.test.ts
Labels: bug, Input, ignore for release

#2516 Fix axis not effect when component changed && set `connectedAnchor` should not effect when `automaticConnectedAnchor` is `true`
  packages/core/src/physics/joint/HingeJoint.ts
  packages/core/src/physics/joint/Joint.ts
  packages/physics-physx/src/joint/PhysXHingeJoint.ts
  tests/src/core/physics/HingeJoint.test.ts
  tests/src/core/physics/Joint.test.ts
Labels: bug, physics, ignore for release

#2518 Add iri/sheen/rafraction in glsl version
  packages/core/src/shaderlib/common.glsl
  packages/core/src/shaderlib/extra/pbr.fs.glsl
  packages/core/src/shaderlib/pbr/brdf.glsl
  packages/core/src/shaderlib/pbr/btdf.glsl
  packages/core/src/shaderlib/pbr/direct_irradiance_frag_define.glsl
  packages/core/src/shaderlib/pbr/ibl_frag_define.glsl
  packages/core/src/shaderlib/pbr/index.ts
  packages/core/src/shaderlib/pbr/pbr_frag.glsl
  packages/core/src/shaderlib/pbr/pbr_frag_define.glsl
  packages/core/src/shaderlib/pbr/pbr_helper.glsl
  packages/core/src/shaderlib/pbr/refraction.glsl
  packages/shader-shaderlab/src/shaders/PBR.gs
  packages/shader-shaderlab/src/shaders/shadingPBR/LightIndirectPBR.glsl
Labels: Rendering

#2524 Fix the error when adapting the adaptation editor
  packages/core/src/2d/sprite/Sprite.ts
  packages/core/src/Entity.ts
  tests/src/core/Entity.test.ts
Labels: bug

#2519 Fix error when physicsMaterial used in prefab
  packages/loader/src/prefab/PrefabResource.ts
Labels: bug, physics, ignore for release

#2525 Remove strict type checking
  packages/shader-lab/src/parser/AST.ts
  packages/shader-lab/src/parser/builtin/functions.ts
  tests/src/shader-lab/shaders/demo.shader
Labels: bug, Rendering, high priority

#2509 Update doc for 1.4
  docs/en/graphics/2D/spine/editor.md
  docs/en/graphics/2D/spine/example.md
  docs/en/graphics/2D/spine/other.md
  docs/en/graphics/2D/spine/overview.md
  docs/en/graphics/2D/spine/runtime.md
  docs/zh/graphics/2D/spine/editor.md
  docs/zh/graphics/2D/spine/example.md
  docs/zh/graphics/2D/spine/other.md
  docs/zh/graphics/2D/spine/overview.md
  docs/zh/graphics/2D/spine/runtime.md
  examples/multi-camera.ts
  examples/spine-animation.ts
  examples/spine-change-attachment.ts
  examples/spine-follow-shoot.ts
  examples/spine-full-skin-change.ts
  examples/spine-mix-and-match.ts
  examples/spine-performance.ts
  examples/spine-physics.ts
Labels: documentation

#2503 Add mini game doc
  docs/en/_meta.json
  docs/en/assets/build.md
  docs/en/assets/overall.md
  docs/en/core/canvas.md
  docs/en/core/engine.md
  docs/en/graphics/2D/spine/editor.md
  docs/en/graphics/2D/spine/runtime.md
  docs/en/graphics/texture/2d.md
  docs/en/graphics/texture/compression.md
  docs/en/platform/h5.md
  docs/en/platform/platform.md
  docs/en/platform/wechatMiniGame.md
  docs/zh/_meta.json
  docs/zh/art/digital-human.md
  docs/zh/assets/build.md
  docs/zh/assets/overall.md
  docs/zh/core/canvas.md
  docs/zh/core/engine.md
  docs/zh/graphics/2D/spine/editor.md
  docs/zh/graphics/2D/spine/runtime.md
  docs/zh/graphics/texture/2d.md
  docs/zh/graphics/texture/compression.md
  docs/zh/platform/h5.md
  docs/zh/platform/platform.md
  docs/zh/platform/wechatMiniGame.md
Labels: documentation

#2505 Update shaderlab doc
  docs/en/graphics/shader/shaderLab/syntax/_meta.json
  docs/en/graphics/shader/shaderLab/syntax/editor.mdx
  docs/en/graphics/shader/shaderLab/syntax/intro.mdx
  docs/en/graphics/shader/shaderLab/syntax/pass.mdx
  docs/en/graphics/shader/shaderLab/syntax/shader.mdx
  docs/zh/graphics/shader/shaderLab/syntax/_meta.json
  docs/zh/graphics/shader/shaderLab/syntax/editor.mdx
  docs/zh/graphics/shader/shaderLab/syntax/intro.mdx
  docs/zh/graphics/shader/shaderLab/syntax/pass.mdx
  docs/zh/graphics/shader/shaderLab/syntax/shader.mdx
Labels: documentation, shader, medium priority

#2526 Fix rotation error when add joint
  packages/core/src/physics/DynamicCollider.ts
  packages/core/src/physics/joint/Joint.ts
  packages/design/src/physics/joints/IJoint.ts
  packages/loader/src/resource-deserialize/resources/parser/HierarchyParser.ts
  packages/physics-physx/src/joint/PhysXHingeJoint.ts
  packages/physics-physx/src/joint/PhysXJoint.ts
  tests/src/core/physics/Joint.test.ts
Labels: bug, physics, ignore for release

#2527 Fix rotation error when add joint(opt code)
  packages/core/src/physics/DynamicCollider.ts
  packages/core/src/physics/joint/Joint.ts
  packages/physics-physx/src/joint/PhysXHingeJoint.ts
  packages/physics-physx/src/joint/PhysXJoint.ts
Labels: physics, ignore for release

#2511 [Document] post-processing related
  docs/en/core/scene.mdx
  docs/en/graphics/camera/component.md
  docs/en/graphics/postProcess/customPostProcess.mdx
  docs/en/graphics/postProcess/postProcess.mdx
  docs/en/graphics/shader/shaderAPI.mdx
  docs/zh/core/scene.mdx
  docs/zh/graphics/camera/component.md
  docs/zh/graphics/postProcess/customPostProcess.mdx
  docs/zh/graphics/postProcess/postProcess.mdx
  docs/zh/graphics/shader/shaderAPI.mdx
Labels: documentation

#2523 Add pbr document
  docs/en/graphics/shader/builtins/pbr.md
  docs/en/graphics/shader/builtins/pbr.mdx
  docs/en/graphics/shader/builtins/thin.mdx
  docs/zh/graphics/shader/builtins/pbr.md
  docs/zh/graphics/shader/builtins/pbr.mdx
  docs/zh/graphics/shader/builtins/thin.mdx
Labels: documentation

#2528 Fix example path error
  docs/en/graphics/shader/builtins/pbr.mdx
  docs/zh/basics/overview.md
  docs/zh/graphics/shader/builtins/pbr.mdx
Labels: documentation

#2521 chore: add local serve command
  package.json
Labels: ignore for release

#2529 Refactor: update engine and canvas doc
  docs/en/core/canvas.md
  docs/en/core/engine.md
  docs/zh/core/canvas.md
  docs/zh/core/engine.md
Labels: documentation

#2531 Refactor: update viewport doc
  docs/en/interface/viewport.mdx
  docs/zh/interface/viewport.mdx
Labels: documentation
