Repository galacean/engine, pull requests merged in 2025-05, with the labels that each got.

#2641 Fixed Audio compatibility issues in iOS 12
  packages/core/src/Polyfill.ts
  tests/src/core/Polyfill.test.ts
Labels: Bug, Audio

#2648 Fix the memory leak issue of the physics
  packages/core/src/Engine.ts
  packages/core/src/Scene.ts
  packages/core/src/physics/CharacterController.ts
  packages/core/src/physics/DynamicCollider.ts
  packages/core/src/physics/PhysicsMaterial.ts
  packages/core/src/physics/PhysicsScene.ts
  packages/core/src/physics/StaticCollider.ts
  packages/core/src/physics/joint/FixedJoint.ts
  packages/core/src/physics/joint/HingeJoint.ts
  packages/core/src/physics/joint/SpringJoint.ts
  packages/core/src/physics/shape/BoxColliderShape.ts
  packages/core/src/physics/shape/CapsuleColliderShape.ts
  packages/core/src/physics/shape/PlaneColliderShape.ts
  packages/core/src/physics/shape/SphereColliderShape.ts
  packages/design/src/physics/IPhysics.ts
  packages/design/src/physics/IPhysicsScene.ts
  packages/physics-lite/src/LitePhysics.ts
  packages/physics-lite/src/LitePhysicsScene.ts
  packages/physics-physx/src/PhysXCharacterController.ts
  packages/physics-physx/src/PhysXPhysics.ts
  packages/physics-physx/src/PhysXPhysicsScene.ts
  packages/physics-physx/src/joint/PhysXJoint.ts
  packages/physics-physx/src/shape/PhysXColliderShape.ts
Labels: Bug, physics

#2652 Fix invalid url
  packages/core/src/Utils.ts
Labels: Bug

#2645 Fix transparency canvas bug
  packages/core/src/Background.ts
  packages/core/src/ComponentsDependencies.ts
  packages/core/src/RenderPipeline/BasicRenderPipeline.ts
  packages/core/src/postProcess/shaders/FXAA/FXAA3_11.glsl
  packages/core/src/postProcess/shaders/FinalAntiAliasing.fs.glsl
  packages/core/src/postProcess/shaders/FinalSRGB.fs.glsl
Labels: Bug, rendering

#2631 Particle support emissive
  e2e/case/particleRenderer-emissive.ts
  e2e/config.ts
  e2e/fixtures/originImage/Particle_particleRenderer-emissive.jpg
  packages/core/src/particle/ParticleMaterial.ts
  packages/core/src/shaderlib/extra/particle.fs.glsl
Labels: enhancement, particle

#2642 Fix context lost without recovery
  packages/loader/src/EnvLoader.ts
  packages/loader/src/HDRLoader.ts
  packages/loader/src/KTXLoader.ts
  packages/loader/src/MeshLoader.ts
  packages/loader/src/ktx2/KTX2Loader.ts
  packages/loader/src/resource-deserialize/index.ts
  packages/loader/src/resource-deserialize/resources/mesh/MeshDecoder.ts
  packages/loader/src/resource-deserialize/resources/scene/EditorTextureLoader.ts
  packages/loader/src/resource-deserialize/resources/texture2D/TextureDecoder.ts
  packages/loader/src/resource-deserialize/utils/Decorator.ts
  tests/src/core/DeviceLost.test.ts
Labels: Bug, resource

#2660 修复 1.1.x 上下文丢失没有恢复的问题
  packages/core/src/Background.ts
  packages/loader/src/EnvLoader.ts
  packages/loader/src/HDRLoader.ts
  packages/loader/src/KTXLoader.ts
  packages/loader/src/MeshLoader.ts
  packages/loader/src/gltf/GLTFUtils.ts
  packages/loader/src/gltf/parser/GLTFSchemaParser.ts
  packages/loader/src/ktx2/KTX2Loader.ts
  packages/loader/src/resource-deserialize/index.ts
  packages/loader/src/resource-deserialize/resources/mesh/MeshDecoder.ts
  packages/loader/src/resource-deserialize/resources/scene/EditorTextureLoader.ts
  packages/loader/src/resource-deserialize/resources/texture2D/TextureDecoder.ts
  packages/loader/src/resource-deserialize/utils/Decorator.ts
Labels: Bug, resource, ignore for release

#2614 Support collision group and fix the position of characterController synchronization late issue
  e2e/case/litePhysics-collision-group.ts
  e2e/case/physx-collision-group.ts
  e2e/config.ts
  e2e/fixtures/originImage/Physics_litePhysics-collision-group.jpg
  e2e/fixtures/originImage/Physics_physx-collision-group.jpg
  packages/core/src/physics/CharacterController.ts
  packages/core/src/physics/Collider.ts
  packages/core/src/physics/DynamicCollider.ts
  packages/core/src/physics/PhysicsScene.ts
  packages/core/src/physics/enums/ColliderShapeChangeFlag.ts
  packages/core/src/physics/shape/ColliderShape.ts
  packages/design/src/physics/ICollider.ts
  packages/design/src/physics/IPhysics.ts
  packages/physics-lite/src/LiteCollider.ts
  packages/physics-lite/src/LiteDynamicCollider.ts
  packages/physics-lite/src/LitePhysics.ts
  packages/physics-lite/src/LitePhysicsScene.ts
  packages/physics-lite/src/LiteStaticCollider.ts
  packages/physics-physx/src/PhysXCharacterController.ts
  packages/physics-physx/src/PhysXCollider.ts
  packages/physics-physx/src/PhysXPhysics.ts
  packages/physics-physx/src/shape/PhysXColliderShape.ts
  tests/src/core/physics/CharacterController.test.ts
  tests/src/core/physics/Collider.test.ts
  tests/src/core/physics/PhysicsManager.test.ts
  tests/vitest.config.ts
Labels: enhancement, physics

#2662 Support camera HDR require alpha config
  packages/core/src/Camera.ts
Labels: rendering

#2664 Fix test error in 1.5
  packages/physics-physx/src/PhysXPhysics.ts
  tests/src/core/DeviceLost.test.ts
Labels: ignore for release

#2659 Fix additive blend mode bug when canvas is transparency
  e2e/case/canvas-transparency.ts
  e2e/config.ts
  e2e/fixtures/originImage/Advance_canvas-transparency.jpg
  packages/core/src/material/BaseMaterial.ts
  packages/core/src/postProcess/shaders/FinalAntiAliasing.fs.glsl
Labels: Bug, rendering

#2665 Fix camera MSAA value inaccurate
  packages/core/src/Camera.ts
Labels: Bug, camera

#2666 Fix text metrices not support actualBoundingBoxLeft and actualBoundingBoxRight in some device
  packages/core/src/Polyfill.ts
Labels: Bug, text

#2667 `BoundingBox` support `toJson`
  packages/math/src/BoundingBox.ts
  packages/math/src/Vector3.ts
Labels: Bug

#2671 Fix context lost bug
  packages/rhi-webgl/src/GLRenderTarget.ts
Labels: Bug, resource

#2668 Add bounding box unit test
  tests/src/math/BoundingBox.test.ts
Labels: test, ignore for release

#2680 Doc: add subpackage for export mini wechat game doc
  docs/en/platform/wechatMiniGame.mdx
  docs/zh/platform/wechatMiniGame.mdx
Labels: documentation

#2679 Update antiAliasing docs
  docs/en/graphics/camera/component.md
  docs/en/graphics/quality/antiAliasing.mdx
  docs/en/platform/platform.mdx
  docs/zh/graphics/camera/component.md
  docs/zh/graphics/quality/antiAliasing.mdx
  docs/zh/platform/platform.mdx
Labels: documentation

#2681 Update antiAlasing docs
  docs/en/graphics/_meta.json
  docs/zh/graphics/_meta.json
Labels: documentation

#2685 Doc: physics collision layer
  docs/en/physics/collider/characterController.mdx
  docs/en/physics/collider/collisionLayer.mdx
  docs/en/physics/collider/overview.mdx
  docs/zh/physics/collider/characterController.mdx
  docs/zh/physics/collider/collisionLayer.mdx
  docs/zh/physics/collider/overview.mdx
Labels: documentation, physics

#2682 Add color space document
  docs/en/core/color.mdx
  docs/en/graphics/camera/component.mdx
  docs/en/graphics/light/directional.mdx
  docs/en/graphics/light/point.mdx
  docs/en/graphics/light/spot.mdx
  docs/zh/core/color.mdx
  docs/zh/graphics/camera/component.mdx
  docs/zh/graphics/light/directional.mdx
  docs/zh/graphics/light/point.mdx
  docs/zh/graphics/light/spot.mdx
  docs/zh/graphics/material/examples/create.mdx
Labels: documentation

#2690 Fix camera pixel view port 0 bug
  packages/core/src/Engine.ts
Labels: Bug

#2692 Fix physics e2e demo
  e2e/case/physx-customUrl.ts
Labels: documentation, test, ignore for release

#2688 feat: update collaborate doc
  docs/en/interface/sidebar.mdx
  docs/zh/interface/sidebar.mdx
Labels: documentation

#2684 Feat: opt spine doc 1.5
  docs/zh/graphics/2D/spine/add-and-use.mdx
  docs/zh/graphics/2D/spine/editor.mdx
  docs/zh/graphics/2D/spine/example.mdx
  docs/zh/graphics/2D/spine/other.mdx
  docs/zh/graphics/2D/spine/overview.mdx
Labels: documentation

#2696 检查英文版本文档
  docs/en/graphics/material/_meta.json
  docs/en/graphics/material/builtinShaders/_meta.json
  docs/en/graphics/material/builtinShaders/blinnPhong.mdx
  docs/en/graphics/material/builtinShaders/digitalHuman/eye.mdx
  docs/en/graphics/material/builtinShaders/digitalHuman/hair.mdx
  docs/en/graphics/material/builtinShaders/digitalHuman/skin.mdx
  docs/en/graphics/material/builtinShaders/pbr.mdx
  docs/en/graphics/material/builtinShaders/unlit.mdx
  docs/en/graphics/material/composition.mdx
  docs/en/graphics/material/editor.mdx
  docs/en/graphics/material/examples/_meta.json
  docs/en/graphics/material/examples/builtin.mdx
  docs/en/graphics/material/examples/create.mdx
  docs/en/graphics/material/examples/custom.mdx
  docs/en/graphics/material/examples/shaderData.mdx
  docs/en/graphics/material/material.mdx
  docs/en/graphics/material/overview.mdx
  docs/en/graphics/material/script.mdx
  docs/en/graphics/material/shaderLab/_meta.json
  docs/en/graphics/material/shaderLab/chunk.mdx
  docs/en/graphics/material/shaderLab/entry.mdx
  docs/en/graphics/material/shaderLab/global.mdx
  docs/en/graphics/material/shaderLab/multi.mdx
  docs/en/graphics/material/shaderLab/overview.mdx
  docs/en/graphics/material/shaderLab/property.mdx
  docs/en/graphics/material/shaderLab/renderState.mdx
  docs/en/graphics/material/shaderLab/script.mdx
  docs/en/graphics/material/variables.mdx
  docs/en/graphics/shader/_meta.json
  docs/en/graphics/shader/assets.mdx
  docs/en/graphics/shader/builtins/blinnPhong.mdx
  docs/en/graphics/shader/builtins/digitalHuman/eye.mdx
  docs/en/graphics/shader/builtins/digitalHuman/hair.mdx
  docs/en/graphics/shader/builtins/digitalHuman/skin.mdx
  docs/en/graphics/shader/builtins/intro.mdx
  docs/en/graphics/shader/builtins/pbr.mdx
  docs/en/graphics/shader/builtins/unlit.mdx
  docs/en/graphics/shader/class.mdx
  docs/en/graphics/shader/custom.mdx
  docs/en/graphics/shader/intro.mdx
  docs/en/graphics/shader/shaderAPI.mdx
  docs/en/graphics/shader/shaderLab/_meta.json
  docs/en/graphics/shader/shaderLab/create.mdx
  docs/en/graphics/shader/shaderLab/intro.mdx
  docs/en/graphics/shader/shaderLab/syntax/_meta.json
  docs/en/graphics/shader/shaderLab/syntax/editor.mdx
  docs/en/graphics/shader/shaderLab/syntax/intro.mdx
  docs/en/graphics/shader/shaderLab/syntax/macro.mdx
  docs/en/graphics/shader/shaderLab/syntax/pass.mdx
  docs/en/graphics/shader/shaderLab/syntax/shader.mdx
  docs/en/graphics/shader/shaderLab/syntax/subShader.mdx
  docs/en/graphics/shader/shaderLab/usage.mdx
  docs/zh/graphics/material/builtinShaders/blinnPhong.mdx
Labels: documentation

#2702 Update particle 1.5 doc
  docs/en/graphics/particle/renderer-emission-module.mdx
  docs/en/graphics/particle/renderer-force-module.mdx
  docs/en/graphics/particle/renderer-velocity-module.mdx
  docs/zh/graphics/particle/renderer-emission-module.mdx
  docs/zh/graphics/particle/renderer-force-module.mdx
  docs/zh/graphics/particle/renderer-velocity-module.mdx
Labels: documentation

#2703 fix en flowchart
  docs/en/animation/overview.mdx
  docs/en/xr/quickStart/develop.mdx
  docs/zh/animation/overview.mdx
  docs/zh/assets/overall.mdx
  docs/zh/basics/overview.mdx
  docs/zh/graphics/model/model.mdx
  docs/zh/input/pointer.mdx
  docs/zh/xr/quickStart/develop.mdx
Labels: documentation

#2700 Fix WebP decoding capability detection
  packages/core/src/SystemInfo.ts
  packages/loader/src/gltf/extensions/EXT_texture_webp.ts
Labels: bug, glTF

#2699 Fix Physics release error
  packages/physics-physx/src/PhysXPhysics.ts
  packages/physics-physx/src/PhysXPhysicsScene.ts
  tests/src/core/physics/PhysicsManager.test.ts
Labels: bug, physics

#2705 Enhance color document
  docs/en/core/color.mdx
  docs/en/graphics/_meta.json
  docs/zh/core/color.mdx
Labels: documentation

#2704 Docs: particle renderer main module
  docs/en/graphics/particle/renderer-main-module.mdx
  docs/zh/graphics/particle/renderer-main-module.mdx
Labels: documentation

#2706 Fix ui color space bug
  packages/ui/src/shader/uiDefault.fs.glsl
Labels: bug

#2711 Enhance some texture documents
  docs/en/graphics/camera/component.mdx
  docs/en/graphics/camera/texture.mdx
  docs/en/graphics/texture/2d.mdx
  docs/en/graphics/texture/compression.mdx
  docs/en/graphics/texture/cube.mdx
  docs/en/graphics/texture/rtt.mdx
  docs/en/graphics/texture/texture.mdx
  docs/zh/graphics/camera/component.mdx
  docs/zh/graphics/camera/texture.mdx
  docs/zh/graphics/texture/2d.mdx
  docs/zh/graphics/texture/compression.mdx
  docs/zh/graphics/texture/cube.mdx
  docs/zh/graphics/texture/rtt.mdx
  docs/zh/graphics/texture/texture.mdx
Labels: documentation
