Repository galacean/engine, pull requests merged in 2025-06, with the labels that each got.

#2736 Fix render queue declaration
  packages/shader-lab/src/sourceParser/ShaderSourceParser.ts
  tests/src/shader-lab/ShaderLab.test.ts
  tests/src/shader-lab/shaders/builtin-function.shader
Labels: bug, shader, high priority

#2722 Fixed UITransform cloning missing some properties
  packages/ui/src/component/UITransform.ts
  tests/src/ui/UITransform.test.ts
Labels: bug

#2742 Fix global symbol
  packages/shader-lab/src/codeGen/GLESVisitor.ts
  packages/shader-lab/src/codeGen/VisitorContext.ts
  packages/shader-lab/src/common/SymbolTable.ts
  packages/shader-lab/src/parser/symbolTable/TargetSymbolTable.ts
  tests/src/shader-lab/shaders/builtin-function.shader
  tests/src/shader-lab/shaders/compilation-error.shader
Labels: bug

#2744 Fix Indirect Light Sheen/ClearCoat specularAO
  packages/shader-shaderlab/src/shaders/shadingPBR/BSDF.glsl
  packages/shader-shaderlab/src/shaders/shadingPBR/FragmentPBR.glsl
  packages/shader-shaderlab/src/shaders/shadingPBR/LightIndirectFunctions.glsl
  packages/shader-shaderlab/src/shaders/shadingPBR/LightIndirectPBR.glsl
Labels: bug, rendering

#2753 Fix illegal url
  packages/core/src/asset/request.ts
  packages/loader/src/PrefabLoader.ts
Labels: bug, resource, loader

#2755 Fix resolve hanging when component references are deleted in PrefabLoader
  packages/loader/src/resource-deserialize/resources/parser/HierarchyParser.ts
  packages/loader/src/resource-deserialize/resources/parser/ParserContext.ts
  packages/loader/src/resource-deserialize/resources/parser/ReflectionParser.ts
  tests/src/loader/SceneParser.test.ts
Labels: bug, loader
