Repository galacean/engine, pull requests merged in 2025-09, with the labels that each got.

#2811 Fix text global alpha error
  packages/ui/src/component/advanced/Text.ts
Labels: bug, 2D

#2816 Opt `Transform` clone.
  packages/core/src/Transform.ts
  packages/ui/src/component/UITransform.ts
  tests/src/ui/UITransform.test.ts
Labels: GUI, 2D

#2813 Fixed local Matrix dirty error triggered by setting `UITransform.localMatrix`
  packages/core/src/Transform.ts
  packages/ui/src/component/UITransform.ts
  tests/src/ui/UITransform.test.ts
Labels: bug, 2D

#2818 fix scalableAmbientOcclusion material destroy error
  packages/core/src/lighting/ambientOcclusion/ScalableAmbientObscurancePass.ts
Labels: bug

#2820 Fix transparency objects `DepthTexture` and `SAO`
  e2e/case/camera-ssao.ts
  e2e/fixtures/originImage/Camera_camera-ssao.jpg
  packages/core/src/material/BaseMaterial.ts
  packages/core/src/shader/ShaderPool.ts
  packages/core/src/shaderlib/pbr/pbr_helper.glsl
Labels: bug, rendering

#2821 Update release editor kit
  .github/workflows/release-editor-kit.yml
Labels: ignore for release

#2822 Update build-editor-preload.js for Actions
  .github/workflows/release-editor-kit.yml
  scripts/build-editor-preload.js
Labels: ignore for release

#2829 Recover `scripts/build-editor-preload.js` for 1.5
  scripts/build-editor-preload.js
Labels: ignore for release

#2828 Fix SAO precison bug
  packages/core/src/RenderPipeline/BasicRenderPipeline.ts
  packages/core/src/lighting/ambientOcclusion/ScalableAmbientObscurancePass.ts
  packages/core/src/lighting/ambientOcclusion/shaders/ScalableAmbientOcclusion.glsl
  packages/rhi-webgl/src/GLCapability.ts
Labels: bug, rendering

#2831 Fix no scene name was given when loading the scene
  packages/loader/src/SceneLoader.ts
  packages/loader/src/resource-deserialize/resources/schema/SceneSchema.ts
Labels: bug, ignore for release

#2836 Fixed the issue where get `LocalMatrix` before clone operation would cause the dirtyFlag to be incorrect.
  packages/core/src/Transform.ts
  tests/src/core/Entity.test.ts
Labels: bug, ignore for release

#2837 Built in specular shader
  e2e/config.ts
  e2e/fixtures/originImage/Advance_project-loader.jpg
  e2e/fixtures/originImage/Animator_animator-additive.jpg
  e2e/fixtures/originImage/Animator_animator-blendShape-quantization.jpg
  e2e/fixtures/originImage/Animator_animator-blendShape.jpg
  e2e/fixtures/originImage/Animator_animator-crossfade.jpg
  e2e/fixtures/originImage/Animator_animator-customAnimationClip.jpg
  e2e/fixtures/originImage/Animator_animator-event.jpg
  e2e/fixtures/originImage/Animator_animator-multiSubMeshBlendShape.jpg
  e2e/fixtures/originImage/Animator_animator-play-backwards.jpg
  e2e/fixtures/originImage/Animator_animator-play-beforeActive.jpg
  e2e/fixtures/originImage/Animator_animator-play.jpg
  e2e/fixtures/originImage/Animator_animator-reuse.jpg
  e2e/fixtures/originImage/Animator_animator-stateMachine.jpg
  e2e/fixtures/originImage/Animator_animator-stateMachineScript.jpg
  e2e/fixtures/originImage/Camera_camera-fxaa.jpg
  e2e/fixtures/originImage/Camera_camera-opaque-texture.jpg
  e2e/fixtures/originImage/GLTF_gltf-blendshape.jpg
  e2e/fixtures/originImage/GLTF_gltf-meshopt.jpg
  e2e/fixtures/originImage/Material_material-blendMode.jpg
  e2e/fixtures/originImage/Material_material-pbr-clearcoat.jpg
  e2e/fixtures/originImage/Material_material-pbr.jpg
  e2e/fixtures/originImage/Physics_physx-collision.jpg
  e2e/fixtures/originImage/Physics_physx-customUrl.jpg
  e2e/fixtures/originImage/PostProcess_postProcess-HDR-bloom-ACES.jpg
  e2e/fixtures/originImage/PostProcess_postProcess-HDR-bloom-neutral.jpg
  e2e/fixtures/originImage/PostProcess_postProcess-LDR-bloom-neutral.jpg
  e2e/fixtures/originImage/PostProcess_postProcess-customPass.jpg
  e2e/fixtures/originImage/Shadow_shadow-basic.jpg
  e2e/fixtures/originImage/Shadow_shadow-transparent.jpg
  packages/core/src/shaderlib/extra/pbr.fs.glsl
  packages/core/src/shaderlib/pbr/brdf.glsl
  packages/core/src/shaderlib/pbr/direct_irradiance_frag_define.glsl
  packages/core/src/shaderlib/pbr/ibl_frag_define.glsl
  packages/core/src/shaderlib/pbr/pbr_frag.glsl
  packages/core/src/shaderlib/pbr/pbr_frag_define.glsl
  packages/core/src/shaderlib/pbr/pbr_helper.glsl
Labels: shader, material

#2839 Fix text render when depth texture enabled
  packages/core/src/RenderPipeline/BasicRenderPipeline.ts
  packages/core/src/RenderPipeline/CullingResults.ts
  packages/core/src/RenderPipeline/RenderContext.ts
  packages/core/src/RenderPipeline/RenderQueue.ts
  packages/core/src/shadow/CascadedShadowCasterPass.ts
  packages/core/src/ui/UIUtils.ts
Labels: bug, rendering

#2824 Add Screen Space Ambient Occlusion Docs
  docs/en/graphics/light/ambientOcclusion.mdx
  docs/en/graphics/light/light.mdx
  docs/zh/graphics/light/ambientOcclusion.mdx
  docs/zh/graphics/light/light.mdx
Labels: documentation

#2850 Fix pbr doc link
  docs/en/graphics/material/builtinShaders/pbr.mdx
Labels: documentation
