Repository galacean/engine, pull requests merged in 2025-03, with the labels that each got.

#2576 Fix material clone name
  packages/core/src/Entity.ts
  packages/core/src/Renderer.ts
  packages/core/src/material/BaseMaterial.ts
  packages/core/src/material/BlinnPhongMaterial.ts
  packages/core/src/material/Material.ts
  packages/core/src/material/PBRMaterial.ts
  packages/core/src/material/PBRSpecularMaterial.ts
  packages/core/src/material/UnlitMaterial.ts
  packages/core/src/particle/ParticleMaterial.ts
  packages/core/src/sky/SkyBoxMaterial.ts
  packages/core/src/sky/SkyProceduralMaterial.ts
  tests/src/core/MeshRenderer.test.ts
  tests/src/core/material/Material.test.ts
Labels: bug

#2580 Fix UICanvas adaptation issues
  packages/ui/src/component/UICanvas.ts
  tests/src/ui/UICanvas.test.ts
Labels: bug, GUI, 2D

#2551 Doc: opt physics doc
  docs/en/physics/_meta.json
  docs/en/physics/collider.mdx
  docs/en/physics/collider/characterController.mdx
  docs/en/physics/collider/colliderShape.mdx
  docs/en/physics/collider/dynamicCollider.mdx
  docs/en/physics/collider/event.mdx
  docs/en/physics/collider/overview.mdx
  docs/en/physics/collider/staticCollider.mdx
  docs/en/physics/controller.mdx
  docs/en/physics/debug.mdx
  docs/en/physics/joint-basic.mdx
  docs/en/physics/joint/fixedJoint.mdx
  docs/en/physics/joint/hingeJoint.mdx
  docs/en/physics/joint/overview.mdx
  docs/en/physics/joint/springJoint.mdx
  docs/en/physics/manager.mdx
  docs/en/physics/overall.mdx
  docs/zh/physics/_meta.json
  docs/zh/physics/collider.mdx
  docs/zh/physics/collider/characterController.mdx
  docs/zh/physics/collider/colliderShape.mdx
  docs/zh/physics/collider/dynamicCollider.mdx
  docs/zh/physics/collider/event.mdx
  docs/zh/physics/collider/overview.mdx
  docs/zh/physics/collider/staticCollider.mdx
  docs/zh/physics/controller.mdx
  docs/zh/physics/debug.mdx
  docs/zh/physics/joint-basic.mdx
  docs/zh/physics/joint/fixedJoint.mdx
  docs/zh/physics/joint/hingeJoint.mdx
  docs/zh/physics/joint/overview.mdx
  docs/zh/physics/joint/springJoint.mdx
  docs/zh/physics/manager.mdx
  docs/zh/physics/overall.mdx
Labels: documentation

#2582 feat: add audio functionality with assets and components documentation
  docs/en/_meta.json
  docs/en/audio/assets.md
  docs/en/audio/component.md
  docs/en/audio/overview.md
  docs/zh/_meta.json
  docs/zh/audio/assets.md
  docs/zh/audio/component.md
  docs/zh/audio/overview.md
Labels: documentation

#2552 Refactor: update sidebar doc
  docs/en/basics/version.mdx
  docs/en/graphics/2D/spine/other.mdx
  docs/en/interface/intro.mdx
  docs/en/interface/menu.mdx
  docs/en/interface/sidebar.mdx
  docs/en/physics/overall.mdx
  docs/en/xr/quickStart/develop.md
  docs/zh/basics/version.mdx
  docs/zh/graphics/2D/spine/other.mdx
  docs/zh/interface/intro.mdx
  docs/zh/interface/menu.mdx
  docs/zh/interface/shortcut.mdx
  docs/zh/interface/sidebar.mdx
  docs/zh/physics/overall.mdx
  docs/zh/xr/quickStart/develop.md
Labels: documentation

#2584 Particle system add `ForceOverLifetime` module
  e2e/case/particleRenderer-force.ts
  e2e/config.ts
  e2e/fixtures/originImage/Particle_particleRenderer-force.jpg
  packages/core/src/particle/ParticleBufferUtils.ts
  packages/core/src/particle/ParticleGenerator.ts
  packages/core/src/particle/enums/ParticleRandomSubSeeds.ts
  packages/core/src/particle/enums/attributes/ParticleInstanceVertexAttribute.ts
  packages/core/src/particle/modules/ForceOverLifetimeModule.ts
  packages/core/src/particle/modules/ParticleGeneratorModule.ts
  packages/core/src/particle/modules/SizeOverLifetimeModule.ts
  packages/core/src/particle/modules/VelocityOverLifetimeModule.ts
  packages/core/src/shaderlib/extra/particle.vs.glsl
  packages/core/src/shaderlib/particle/force_over_lifetime_module.glsl
  packages/core/src/shaderlib/particle/index.ts
  packages/core/src/shaderlib/particle/velocity_over_lifetime_module.glsl
Labels: enhancement, high priority, particle

#2585 Particle support mesh emit
  e2e/case/particleRenderer-shape-mesh.ts
  e2e/config.ts
  e2e/fixtures/originImage/Particle_particleRenderer-shape-mesh.jpg
  packages/core/src/mesh/ModelMesh.ts
  packages/core/src/particle/modules/shape/ConeShape.ts
  packages/core/src/particle/modules/shape/MeshShape.ts
  packages/core/src/particle/modules/shape/enums/ParticleShapeType.ts
  packages/core/src/particle/modules/shape/index.ts
Labels: enhancement, particle

#2594 Refactor Particle Velocity mode
  packages/core/src/particle/modules/ForceOverLifetimeModule.ts
  packages/core/src/particle/modules/VelocityOverLifetimeModule.ts
  packages/core/src/shaderlib/extra/particle.vs.glsl
  packages/core/src/shaderlib/particle/particle_common.glsl
  packages/core/src/shaderlib/particle/stretched_billboard.glsl
  packages/core/src/shaderlib/particle/velocity_over_lifetime_module.glsl
Labels: enhancement, particle
